@font-face {
    font-family: "Fira_Sans";
    src: url(../../../assets/fonts/Fira_Sans/FiraSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url(../../../assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Libre_Baskerville";
    src: url(../../../assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Merriweather";
    src: url(../../../assets/fonts/Merriweather/Merriweather-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Nanum_Gothic";
    src: url(../../../assets/fonts/Nanum_Gothic/NanumGothic-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "RocknRoll_One";
    src: url(../../../assets/fonts/RocknRoll_One/RocknRollOne-Regular.ttf) format("truetype");
}

:root {
    --br-actionbar-button-text-color: #6c757d;

    --accordion-body-bg-color: black;
    --accordion-header-bg-color: grey;
    --br-actionbar-button-hover-border-color: #6c757d;
    --br-actionbar-bg-color: white;
}


$dark-form-background-no-opacity: rgb(1, 4, 9);
$primary-color: #0062cc;


//          Drawer
.control-container {
    padding-bottom: 5px;
}

.page-stub {
    margin-top: 6px;
    padding-left: 2px;
    padding-right: 2px;
}

//          Drawer End

.fixed-top {
    z-index: 1022;
}

.dark-mode .overlay {
    opacity: 0;
}


.action-bar {
    background-color: var(--br-actionbar-bg-color); 
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 70%);
    max-height: 62px;

    .book-title-text {
        text-align: center;
        text-overflow: ellipsis;
    }
    
    @media(max-width: 875px) {
        .book-title {
            display: none;
        }
    } 
    
    .book-title {
        margin-top: 10px;
        text-align: center;
        text-transform: capitalize;
    }
}



.reading-section {
    max-height: 100vh;
    width: 100%;
    //overflow: auto;  // This will break progress reporting
    height: 100vh;
}

.reader-container {
    outline: none; // Only the reading section itself shouldn't receive any outline. We use it to shift focus in fullscreen mode
    overflow: auto;
}

.book-content {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px 0px;
    height: calc(var(--vh)*100); // This will ensure bottom bar extends to the bottom of the screen

    a, :link {
        color: var(--brtheme-link-text-color);
    }

    background-color: var(--brtheme-bg-color);
}



// This is essentially fitting the text to height and when you press next you are scrolling over by page width
.column-layout-1 {
    .book-content {
        column-count: 1;
        column-gap: 20px;
        overflow: hidden;
        word-break: break-word;
        overflow-wrap: break-word;
    }
}

.column-layout-2 {
    .book-content {
        column-count: 2;
        column-gap: 20px;
        overflow: hidden;
        word-break: break-word;
        overflow-wrap: break-word;
    }

}

// A bunch of resets so books render correctly
::ng-deep .book-content {
    & a, & :link {
        color: blue;
    }
}


// This is applied to images in the backend
::ng-deep .scale-width {
    max-width: 100%;
    object-fit: contain;
    object-position: top center;
    break-inside: avoid;
    break-before: column;
    max-height: 100vh;
}


// Click to Paginate styles
.icon-primary-color {
    color: $primary-color;
}





.right {
    position: fixed;
    right: 0px; // with scrollbar: 17px
    top: 0px;
    width: 20%; // with scrollbar: 18%
    height: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    background: transparent;
}

// This class pushes the click area to the left a bit to let users click the scrollbar
.right-with-scrollbar {
    position: fixed;
    right: 17px;
    top: 0px;
    width: 18%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    background: transparent;
}

.left {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    background: transparent;
}

.highlight {
    background-color: rgba(65, 225, 100, 0.5) !important;
    animation: fadein .5s both;
}
.highlight-2 {
  background-color: rgba(65, 105, 225, 0.5) !important;
  animation: fadein .5s both;
}




.btn {
    &.btn-secondary {
        color: var(--br-actionbar-button-text-color); 
        border-color: transparent;
        background-color: unset;

        &:hover, &:focus {
            border-color: var(--br-actionbar-button-hover-border-color);
        }
    }
    
    &.btn-outline-secondary {
        border-color: transparent;
        background-color: unset;

        &:hover, &:focus {
            border-color: var(--br-actionbar-button-hover-border-color); // #545b62;
        }
    }

    span {
        background-color: unset;
        color: var(--br-actionbar-button-text-color); // #6c757d;
    }

    i {
        background-color: unset;
        color: var(--br-actionbar-button-text-color);
    }

    &:active {
        * {
            color: white;
        }
    }
}
