$image-height: 232.91px;
$image-width: 160px;

.card-img-top {
    width: $image-width;
    height: $image-height;
    max-height: $image-height;
}


.selected {
    outline: 5px solid var(--primary-color);
    outline-width: medium;
    outline-offset: -1px;
}

.chooser {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: 0.5rem;
    justify-content: space-around;
}

ngx-file-drop ::ng-deep > div {
    // styling for the outer drop box
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    height: 100px;
    margin: auto;

    > div {
      // styling for the inner box (template)
      width: 100%;
      display: inline-block;

    }
  }
