.toolbar-icon {
    font-size: 19px;
}

.book-title {
    margin: 8px 0 4px !important;
}

// Override since it's not coming from library
::ng-deep #presentationMode {
    margin: 3px 0 4px !important;
}

::ng-deep .dark > ngx-extended-pdf-viewer .treeItem>a {
    color: lightblue !important;
}


.progress-container {
    width: 100%;
}
.progress-bar {
    // NOTE: We have to override due to theme variables not being available
    background-color: #3B9E76;
}
