<ng-container *transloco="let t; read: 'shortcuts-modal'">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{t('title')}}</h4>
    <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <div class="row g-0">
      @for(shortcut of shortcuts; track shortcut.key) {
        <div class="col-md-6  mb-2">
          <span><code>{{shortcut.key}}</code> {{t(shortcut.description)}}</span>
        </div>
      }
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">{{t('close')}}</button>
  </div>
</ng-container>
