.side-nav {
    padding: 10px 0;
    width: 190px;
    background-color: var(--sidenav-bg-color);
    height: calc(100vh - 58px);
    position: fixed;
    margin: 0;
    left: 0;
    transition: width var(--sidenav-openclose-transition);
    box-shadow: inset -3px 0em 5px 0em rgb(0 0 0 / 50%);

    &.closed {
        width: 50px;
        overflow: hidden;
    }
}

