.side-nav {
    padding: 10px 0;
    width: 190px;
    background-color: var(--side-nav-bg-color);
    height: calc(100vh - 56px);
    position: fixed;
    margin: 0;
    left: 0;
    transition: width var(--side-nav-openclose-transition);
    box-shadow: var(--side-nav-box-shadow);
    overflow: auto;

    &.closed {
        width: 50px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (max-width: 576px) {
    .side-nav {
        padding: 10px 0;
        width: 90vw;
        background-color: var(--side-nav-mobile-bg-color);
        height: calc(100vh - 56px);
        position: fixed;
        margin: 0;
        left: 0;
        transition: width var(--side-nav-openclose-transition);
        box-shadow: var(--side-nav-mobile-box-shadow);
        z-index: 999;
        overflow: auto;
    
        &.closed {
            width: 0;
            overflow: hidden;
            box-shadow: none;
        }
    }
}
