@if (isValid()) {
  <div class="image-container {{imageFitClass()}} {{layoutClass()}} {{emulateBookClass()}}"
      [class.center-double]="shouldRenderDouble()"
      [style.filter]="darkness() | safeStyle">

    @if (currentImage) {
      <img alt=" "
        tabindex="0" [style.outline]="'none'"
        #image [src]="currentImage.src"
        id="image-1"
        class="{{imageFitClass()}} {{readerModeClass()}} {{showClickOverlayClass()}}"
        >
    }
    @if (shouldRenderDouble()) {
      <img alt=" " [src]="currentImage2.src"
        id="image-2"
        class="image-2 {{imageFitClass()}} {{readerModeClass()}} {{showClickOverlayClass()}}">
    }
  </div>
}
