@use '../../../../manga-reader-common';

.image-container {
    #image-1 {
        &.double {
        }
    }
}

.image-container {
    &.full-height {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .full-height {
        margin: unset;
        object-fit: contain;
    }
}

.full-width {
    width: 100%;
    vertical-align: top;
    max-width: fit-content;

    &.double {
        width: 50%;

        &.cover {
            width: 100%;
        }
    }
}

.center-double {
    display: flex;
    overflow: unset;
}

.fit-to-width-double-offset {
    max-width: 100%; // max-width fixes center alignment issue
}

.original-double-offset {
    max-width: 100%;
}

.fit-to-height-double-offset {
    height: calc(100dvh);
    object-fit: scale-down;
    top: 50%;
    left: 50%;
    max-width: 100%;
}

