@use '../../../../manga-reader-common';

.image-container {
    #image-1 {
        &.double {
            margin: 0 0 0 auto;
        }
    }
}

.full-width {
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
    max-width: fit-content;

    &.double {
        width: 50%;

        &.cover {
            width: 100%;
        }
    }
}

.center-double {
    display: flex;
    overflow: unset;
}

.fit-to-width-double-offset {
    max-width: 100%; // max-width fixes center alignment issue
}

.original-double-offset {
    max-width: 100%;
}

.fit-to-height-double-offset {
    height: 100vh;
    object-fit: scale-down;
    top: 50%;
    left: 50%;
    max-width: 100%;
}

::ng-deep .image-container.center-double:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    box-shadow:
        0px 0px calc(17px*3.14) 25px rgb(0 0 0 / 43%),
        0px 0px calc(2px*3.14) 2px rgb(0 0 0 / 43%),
        0px 0px calc(5px*3.14) 4px rgb(0 0 0 / 43%),
        0px 0px calc(0.5px*3.14) 0.3px rgb(0 0 0 / 43%);
}

@supports (-moz-appearance:none) {
    ::ng-deep .image-container.center-double:before{
    box-shadow:
      0px 0px calc(17px*3.14) 25px rgb(0 0 0 / 43%),
      0px 0px calc(2px*3.14) 2px rgb(0 0 0 / 43%),
      0px 0px calc(5px*3.14) 4px rgb(0 0 0 / 43%),
      0px 0px calc(0.5px*3.14) 0.3px rgb(0 0 0 / 43%),
      0px 0px 1px 0.5px rgb(0 0 0 / 43%);
  }
}