<div *ngIf="data !== undefined">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{this.data.name}} Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h4>Information</h4>
        <!-- <div>
            <div class="row no-gutters">
                <div class="col">
                    Created: {{this.data. | date: 'dd/MM/yyyy'}}
                </div>
                <div class="col">
                    Last Modified: {{this.data.lastModified | date: 'dd/MM/yyyy'}}
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    Is Special: {{this.data.isSpecial}}
                </div>
                <div class="col">
                    Pages: {{this.data.pages}}
                </div>
            </div>
        </div> -->


        <h4>Volumes</h4>
        <div class="spinner-border text-secondary" role="status" *ngIf="isLoadingVolumes">
            <span class="invisible">Loading...</span>
        </div>
        <ul class="list-unstyled" *ngIf="!isLoadingVolumes">
            <li class="media my-4" *ngFor="let volume of seriesVolumes">
                <app-base64-image class="mr-3" [style]="imageStyles" [src]="volume.coverImage"></app-base64-image>
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Volume {{volume.name}}</h5>
                    <div>
                        <div class="row no-gutters">
                            <div class="col">
                                Created: {{volume.created | date: 'dd/MM/yyyy'}}
                            </div>
                            <div class="col">
                                Last Modified: {{volume.lastModified | date: 'dd/MM/yyyy'}}
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <!-- Is Special: {{volume.isSpecial}} -->
                                <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!volumeCollapsed[volume.name]">
                                    View Files
                                </button>
                            </div>
                            <div class="col">
                                Pages: {{volume.pages}}
                            </div>
                        </div>
                        
                        <div #collapse="ngbCollapse" [(ngbCollapse)]="volumeCollapsed[volume.name]">
                            <ul class="list-group mt-2">
                                <li *ngFor="let file of volume.volumeFiles.sort()" class="list-group-item">
                                    <span>{{file.filePath}}</span>
                                    <div class="row no-gutters">
                                        <div class="col">
                                            Chapter: {{file.chapter}}
                                        </div>
                                        <div class="col">
                                            Pages: {{file.numberOfPages}}
                                        </div>
                                        <div class="col">
                                            Format: <span class="badge badge-secondary">{{utilityService.mangaFormatToText(file.format)}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="close()">Close</button>
    </div>
</div>


