.custom-input {
    background-color: var(--login-input-background-color);
    color: var(--login-input-color);
    border-color: var(--login-input-border-color);

    &.is-invalid {
        border-color: var(--bs-form-invalid-border-color);
    }

    &:focus {
        border-color: var(--login-input-border-color-focus);
        box-shadow: var(--login-input-box-shadow-focus);
    }

    &::placeholder {
        opacity: 0.5;
        color: var(--login-input-placeholder-color);
      }
}

label {
    font-family: "League Spartan", sans-serif;
    margin-bottom: 0;
}

p {
    font-family: "League Spartan", sans-serif;
}

.btn {
    width: 100%;
    font-family: "League Spartan", sans-serif;
}