<ng-container *transloco="let t; prefix: 'bulk-set-reading-profile'">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{t('title')}}</h4>
    <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()"></button>
  </div>
  <form style="width: 100%" [formGroup]="profileForm">
    <div class="modal-body">
      @if (profiles.length >= MaxItems) {
        <div class="mb-3">
          <label for="filter" class="form-label">{{t('filter-label')}}</label>
          <div class="input-group">
            <input id="filter" autocomplete="off" class="form-control" formControlName="filterQuery" type="text" aria-describedby="reset-input">
            <button class="btn btn-outline-secondary" type="button" id="reset-input" (click)="clear()">Clear</button>
          </div>
        </div>
      }

      <ul class="list-group">
        @for(profile of profiles | filter: filterList; let i = $index; track profile.name) {
          <li class="list-group-item clickable" tabindex="0" role="option"  (click)="addToProfile(profile)">
            {{profile.name}}
          </li>
        }

        @if (profiles.length === 0 && !loading) {
          <li class="list-group-item">{{t('no-data')}}</li>
        }

        @if (loading) {
          <li class="list-group-item">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">{{t('loading')}}</span>
            </div>
          </li>
        }
      </ul>
    </div>
  </form>



</ng-container>
