.main-container {
  margin-top: 0.625rem;
  padding: 0 0 0 0.625rem;

  .person-badge {
    background: var(--card-bg-color);
    max-height: 12.5rem;
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    overflow: hidden;

    i {
      max-height: 8rem;
      height: 8rem;
      font-size: 8rem;
    }
  }
}
