<app-side-nav-companion-bar>
  <h2 title>
    <span *ngIf="actions.length > 0">
      <app-card-actionables (actionHandler)="performAction($event)" [actions]="actions" [labelBy]="readingList.title"></app-card-actionables>
    </span>
    {{readingList?.title}}&nbsp;<span *ngIf="readingList?.promoted">(<i class="fa fa-angle-double-up" aria-hidden="true"></i>)</span>
  </h2>
  <h6 subtitle class="subtitle-with-actionables">{{items.length}} Items</h6>
</app-side-nav-companion-bar>
<div class="container-fluid mt-2" *ngIf="readingList">

  <div class="row mb-3">
    <div class="col-md-2 col-xs-4 col-sm-6 d-none d-sm-block">
        <app-image maxWidth="300px" [imageUrl]="readingListImage"></app-image>
    </div>
    <div class="col-md-10 col-xs-8 col-sm-6 mt-2">
      <div class="row g-0 mb-3">
        <div class="col-auto me-2">
          <!-- Action row-->
          <button class="btn btn-primary" title="Read" (click)="read()">
              <span>
                  <i class="fa fa-book-open" aria-hidden="true"></i>
                  <span class="read-btn--text">&nbsp;Read</span>
              </span>
          </button>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary" (click)="removeRead()" [disabled]="readingList?.promoted && !this.isAdmin">
                <span>
                    <i class="fa fa-check"></i>
                </span>
                <span class="read-btn--text">&nbsp;Remove Read</span>
            </button>
        </div>
        <div class="col-auto ms-2 mt-2" *ngIf="!(readingList?.promoted && !this.isAdmin)">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="accessibilit-mode" [value]="accessibilityMode" (change)="accessibilityMode = !accessibilityMode">
            <label class="form-check-label" for="accessibilit-mode">Order Numbers</label>
          </div>
        </div>
      </div>
      <!-- Summary row-->
      <div class="row g-0 mt-2">
        <app-read-more [text]="readingListSummary" [maxLength]="250"></app-read-more>
      </div>
    </div>

    <div class="mx-auto" *ngIf="items.length === 0" style="width: 200px;">
      Nothing added
    </div>


    <app-draggable-ordered-list [items]="items" (orderUpdated)="orderUpdated($event)" (itemRemove)="itemRemoved($event)" [accessibilityMode]="accessibilityMode">
        <ng-template #draggableItem let-item let-position="idx">
          <div class="d-flex" style="width: 100%;">
                <app-image width="74px" class="img-top me-3" [imageUrl]="imageService.getChapterCoverImage(item.chapterId)"></app-image>
                <div class="flex-grow-1">
                  <h5 class="mt-0 mb-1" id="item.id--{{position}}">{{formatTitle(item)}}&nbsp;
                      <span class="badge bg-primary rounded-pill">
                      <span *ngIf="item.pagesRead > 0 && item.pagesRead < item.pagesTotal">{{item.pagesRead}} / {{item.pagesTotal}}</span>
                      <span *ngIf="item.pagesRead === 0">UNREAD</span>
                      <span *ngIf="item.pagesRead === item.pagesTotal">READ</span>
                    </span>
                  </h5>
                  <i class="fa {{utilityService.mangaFormatIcon(item.seriesFormat)}}" aria-hidden="true" *ngIf="item.seriesFormat != MangaFormat.UNKNOWN" title="{{utilityService.mangaFormat(item.seriesFormat)}}"></i>
                  <span class="visually-hidden">{{utilityService.mangaFormat(item.seriesFormat)}}</span>&nbsp;

                  <a href="/library/{{item.libraryId}}/series/{{item.seriesId}}">{{item.seriesName}}</a>
                  <span *ngIf="item.promoted">
                    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                  </span>
                  <br/>
                  <a href="javascript:void(0);" (click)="readChapter(item)">Read</a>
                </div>
              </div>
        </ng-template> 
    </app-draggable-ordered-list>
</div>