form {
    max-height: 38px;
}


.search-result img {
    width: 100% !important;
}

.btn-close {
    margin-top: 8px;
    font-size: 0.8rem;
    position: absolute;
    right: 5px;
}


.typeahead-input {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 6px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: none;
    cursor: text;
    background-color: var(--input-bg-color);
    color: var(--body-text-color);
    min-height: 38px;
    transition-property: all;
    transition-duration: 0.3s;
    display: block;

    .search {
        display: flex;
        position: relative;
    }


    input {
        outline: 0 !important;
        border-radius: .28571429rem;
        padding: 0px !important;
        min-height: 0px !important;
        max-width: 100% !important;
        margin: 0px !important;
        text-indent: 0 !important;
        line-height: inherit !important;
        box-shadow: none !important;
        width: 300px;
        transition-property: all;
        transition-duration: 0.3s;
        display: block;
        opacity: 1;
        position: relative;
        left: 4px;
        border: none;

        &:focus-visible {
            width: calc(100vw - 180px);
        }

        &:empty {
            padding-top: 6px !important;
        }
    }

    &.focused {
        width: 98.5%;
        border-color: var(--input-focused-border-color);
    }

}



/* small devices (phones, 650px and down) */
@media only screen and (max-width:650px) {
    input {
        width: 100%
    }

    input:focus-visible {
        width: 100% !important;
    }
}


.section-header {
    color: var(--body-text-color);

    &:hover {
        background-color: var(--search-list-group-item-bg-color, black) !important;
        cursor: default;
    }
}

.list-group-item {
  background-color: var(--search-list-group-item-bg-color, black);
}


.dropdown {
    width: 100vw;
    top: 55px; //header offset
    position: fixed;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 9px;
}

.list-group {
    max-width: 600px;
    z-index:1000;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    flex: auto;
    max-height: calc((var(--vh) * 100) - var(--nav-offset));
    height: fit-content;
}

.list-group.results {
    max-height: unset;
}

@media only screen and (max-width: 600px) {
    .list-group {
        max-width: unset;
    }
}

.list-group-item {
    padding: 5px 10px;
}


li {
    list-style: none;
    border-radius: 0px !important;
    margin: 0 !important;
}

ul ul {
    border-radius: 0px !important;
}


.spinner-border {
    position: absolute;
    right: 10px;
    margin: auto;
    cursor: pointer;
    top: 30%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100dvh;
}