// You must add this on a component based drawer
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.context-quote {
  text-align: center;
  line-clamp: 2;
  font-style: italic;
}

.toolbar {
  padding: 10px;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
}

.highlight-bar .btn.btn-icon {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  &.color {
    display: unset;
    width: auto;

    .dot {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      margin: 0 auto;
    }
  }
}

.active {
  border: 1px solid var(--primary-color);
}
