<ng-container *transloco="let t; prefix: 'create-annotation-drawer'">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title">
        {{t('title')}}
<!--        <div class="highlight-bar">-->
<!--          @let color = createAnnotation()?.highlightColor ?? HighlightColor.Blue;-->
<!--          @for(highlightColor of allHighlightColors; track highlightColor) {-->
<!--            <button class="btn btn-icon color" [ngClass]="{'active': color === highlightColor}" (click)="changeHighlight(highlightColor)">-->
<!--              <div class="dot" [ngStyle]="{'background-color': highlightColor | highlightColor}"></div>-->
<!--            </button>-->
<!--          }-->
<!--        </div>-->
      </h5>
      <button type="button" class="btn-close text-reset" [attr.aria-label]="t('close')" (click)="close()"></button>
    </div>

    <div class="offcanvas-body">
      <form [formGroup]="formGroup" novalidate>

        <div class="row g-0 mt-2">
<!--          <div class="col-3">-->
<!--            <div class="highlight-bar">-->
<!--              @let color = createAnnotation()?.highlightColor ?? HighlightColor.Blue;-->
<!--              @for(highlightColor of allHighlightColors; track highlightColor) {-->
<!--                <button class="btn btn-icon color" [ngClass]="{'active': color === highlightColor}" (click)="changeHighlight(highlightColor)">-->
<!--                  <div class="dot" [ngStyle]="{'background-color': highlightColor | highlightColor}"></div>-->
<!--                </button>-->
<!--              }-->
<!--            </div>-->
<!--          </div>-->


          <div class="col-auto me-auto">
            <div class="form-check form-switch">
              <input type="checkbox" id="contains-spoiler" role="switch" formControlName="hasSpoiler" class="form-check-input" aria-labelledby="auto-close-label" switch>
              <label class="form-check-label" for="contains-spoiler">Contains Spoiler</label>
            </div>
          </div>

          <div class="col-auto">
            <button class="btn btn-primary" (click)="save()">{{t('save')}}</button>
          </div>

        </div>

        <div class="mx-auto context-quote" id="render-target" #renderTarget>
          <div [innerHTML]="totalText()"></div>
          <hr class="setting-section-break" />
        </div>



        <div class="row g-0 mt-2 mb-2 mx-auto">
          <quill-editor formControlName="note" format="json" (onContentChanged)="updateContent($event)" (keyup)="cancelEvent($event)"/>
        </div>

        <div class="row g-0 mt-5">
          <div class="col-auto">
            Page {{createAnnotation()?.pageNumber}}
          </div>
          <div class="col-auto ms-auto">
            <button class="btn btn-primary" (click)="save()">{{t('save')}}</button>
          </div>
        </div>
      </form>
    </div>
</ng-container>
