<ng-container *transloco="let t; prefix: 'create-annotation-drawer'">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      {{t('title')}}
    </h5>
    <button type="button" class="btn-close text-reset" [attr.aria-label]="t('close')" (click)="close()"></button>
  </div>

  <div class="offcanvas-body">

    <div class="mx-auto mb-2 context-quote" id="render-target">
      <div [innerHTML]="totalText()"></div>
    </div>

    <div class="row g-0">
      <textarea  rows="3"></textarea>
    </div>

    <div class="">
      <div style="width: 120px">
        Highlight colors
      </div>
      <div style="width: 120px">
        WYSIWYG
      </div>


    </div>

  </div>
</ng-container>
