img {
  user-select: none;
}

.image-container {
  text-align: center;
  align-items: center;

  &.full-width {
    width: 100vw;
    height: calc(var(--vh)*100);
    display: grid;
  }

  &.full-height {
    height: 100vh;
    display: inline-block;
  }

  &.original {
    height: 100vh;
    display: grid;
  }

  .full-height {
    width: auto;
    margin: 0 auto;
    max-height: calc(var(--vh)*100);
    vertical-align: top;
      &.wide {
        height: 100vh;
    }
  }

  .original {
    align-self: center;
    width: auto;
    margin: 0 auto;
    vertical-align: top;
  }

  .full-width {
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
    max-width: fit-content;
  }
}


.bookmark-effect {
    animation: bookmark 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

// TODO: Move this into a dedicated component
.loading {
  position: absolute;
  left: 48%;
  top: 20%;
  z-index: 1;
}


.highlight {
  background-color: var(--manga-reader-next-highlight-bg-color) !important;
  animation: fadein .5s both;
  backdrop-filter: blur(10px);
}
.highlight-2 {
  background-color: var(--manga-reader-prev-highlight-bg-color) !important;
  animation: fadein .5s both;
  backdrop-filter: blur(10px);
}