@import './theme/variables';

.title {
  color: white;
  font-weight: bold;
  font-size: 1.75rem;
}

.image-container {
  align-self: flex-start;
  max-height: 400px;
  max-width: 280px;
}

.subtitle {
  color: lightgrey;
  font-weight: bold;
  font-size: 0.8rem;
}

.main-container {
  overflow: unset !important;
  margin-top: 15px;
}

::ng-deep .badge-expander .content a {
  font-size: 0.8rem;
}

.btn-group > .btn.dropdown-toggle-split:not(first-child){
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom-right-radius: var(--bs-border-radius) !important;
  border-width: 1px 1px 1px 0 !important;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-width: 1px 0 1px 1px !important;
}

.card-body > div:nth-child(2) {
  height: 50px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.under-image  ~ .overlay-information {
  top: -404px;
  height: 364px;
}

.overlay-information {
  position: relative;
  top: -364px;
  height: 364px;
  transition: all 0.2s;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: var(--card-overlay-hover-bg-color) !important;

    .overlay-information--centered {
      visibility: visible;
    }
  }

  .overlay-information--centered {
    position: absolute;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 115;
    visibility: hidden;

    &:hover {
      background-color: var(--primary-color) !important;
      cursor: pointer;
    }

    div {
      width: 60px;
      height: 60px;
      i {
        font-size: 1.6rem;
        line-height: 60px;
        width: 100%;
      }
    }
  }
}

.progress {
  border-radius: 0;
}

.progress-banner.series {
  position: relative;
}

::ng-deep .progress-banner.series span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  top: 50%;
}

.carousel-tabs-container {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: none;
  box-shadow: inset -1px -2px 0px -1px var(--elevation-layer9);
}
.carousel-tabs-container::-webkit-scrollbar {
  display: none;
}
.nav-tabs {
  flex-wrap: nowrap;
}

.upper-details {
  font-size: 0.9rem;
}

::ng-deep .carousel-container .header i.fa-plus, ::ng-deep .carousel-container .header i.fa-pen{
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--primary-color);
  padding: 5px;
  vertical-align: middle;

  &:hover {
    background-color: var(--primary-color-dark-shade);
  }
}

::ng-deep .image-container.mobile-bg app-image img {
  max-height: 400px;
  object-fit: contain;
}

@media (max-width: $grid-breakpoints-lg) {
  .carousel-tabs-container {
    mask-image: linear-gradient(transparent, black 0%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 0%, black 90%, transparent 100%);
  }
}

::ng-deep .image-container.mobile-bg app-image img {
  max-height: 100dvh !important;
  object-fit: cover !important;
}

/* col-lg */
@media (max-width: $grid-breakpoints-lg) {
  .image-container.mobile-bg{
    width: 100vw;
    top: calc(var(--nav-offset) - 20px);
    left: 0;
    pointer-events: none;
    position: fixed !important;
    display: block !important;
    max-height: unset !important;
    max-width: unset !important;
    height: 100dvh !important;
  }

  ::ng-deep .image-container.mobile-bg app-image img {
    max-height: unset !important;
    opacity: 0.05 !important;
    filter: blur(5px) !important;
    max-width: 100dvw;
    height: 100dvh !important;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .progress-banner {
    display:none;
  }

  .under-image {
    display: none;
  }

}
.upper-details {
  font-size: 0.9rem;
}

@media (max-width: $grid-breakpoints-lg) {
  .carousel-tabs-container {
    mask-image: linear-gradient(to right, transparent, black 0%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 0%, black 90%, transparent 100%);
  }
}
