@use '../node_modules/swiper/swiper.scss' as swiper;

// Import colors for overrides of bootstrap theme
@import './theme/colors';
@import './theme/toastr';

@import './theme/variables';

// Bootstrap must be after _colors since we define the colors there
@import '~bootstrap/scss/bootstrap';

@import './theme/dark.scss';



// Default variables for light mode
:root {
  --primary-color: #4ac694;
  --error-color: #ff4136;
  --bs-body-bg: #fff; 
}

// Dark mode theme
:root .bg-dark {
  --primary-color: #4ac694;
  --error-color: #ff4136;
  --bs-body-bg: #343a40; 
  --btn-icon-filter: invert(1) grayscale(100%) brightness(200%);
}

// E-ink theme
:root .bg-eink {
  --primary-color: black;
  --bs-body-bg: white;
}

// Overrides on bootstrap
.btn-close {
  filter: var(--btn-icon-filter) !important;
}





// Global Styles
button:disabled, .form-control:disabled, .form-control[readonly], .disabled, :disabled {
  cursor: not-allowed;
}

label, select, .clickable {
  cursor: pointer;
}

.btn-primary {
  color: white;
}

:root {
  color-scheme: light;
}

// :root .bg-dark {
//   color-scheme: dark;
// }

@font-face {
  font-family: "EBGarmond";
  src: url("assets/fonts/EBGarmond/EBGaramond-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan";
  src: url("assets/fonts/Spartan/Spartan-VariableFont_wght.ttf");
}

html, body { height: 100%; }
body {
  margin: 0; 
  font-family: "EBGaramond", "Helvetica Neue", sans-serif;
}


.btn-icon {
  cursor: pointer;
}

.btn.btn-secondary.alt {
  background-color: #424c72;
  border-color: #444f75;

  &:hover {
    background-color: #3b4466; 
  }

  &:focus {
    background-color: #343c59;
    box-shadow: 0 0 0 0.2rem rgb(68 79 117 / 50%); 
  }
}


app-root {
  background-color: inherit;
}




// Utiliities
@media(max-width: $grid-breakpoints-xs) {
  .phone-hidden {
    display: none;
  }
}

@media(min-width: $grid-breakpoints-sm) {
  .not-phone-hidden {
    display: none;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Debug styles
.redlines * {
  outline: 1px solid red;
  outline-offset: -1px;
}