<div class="d-flex" style="width: 100%;">
    <app-image width="74px" maxHeight="104px" class="img-top me-3" [imageUrl]="imageService.getChapterCoverImage(item.chapterId)"></app-image>
    <div class="flex-grow-1">
      <h5 class="mt-0 mb-1" id="item.id--{{position}}">
          {{title}}&nbsp;
          <!-- TODO: Create a read/unread badge -->
          <span class="badge bg-primary rounded-pill">
            <span *ngIf="item.pagesRead > 0 && item.pagesRead < item.pagesTotal">{{item.pagesRead}} / {{item.pagesTotal}}</span>
            <span *ngIf="item.pagesRead === 0">UNREAD</span>
            <span *ngIf="item.pagesRead === item.pagesTotal">READ</span>
        </span>
      </h5>
      <ng-container *ngIf="item.seriesFormat | mangaFormat as formatString">
        <i class="fa {{item.seriesFormat | mangaFormatIcon}}" aria-hidden="true" *ngIf="item.seriesFormat != MangaFormat.UNKNOWN" title="{{formatString}}"></i>
        <span class="visually-hidden">{{formatString}}</span>&nbsp;
      </ng-container>

      <a href="/library/{{item.libraryId}}/series/{{item.seriesId}}">{{item.seriesName}}</a>
      <span *ngIf="promoted">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
      </span>
      <br/>
      <a href="javascript:void(0);" (click)="readChapter(item)">Read</a>
    </div>
</div>