@import '~bootstrap/scss/mixins/_breakpoints.scss';
.focus-visible:focus {
    visibility: visible;
    color: white;
}

.ng-autocomplete {
    width: 400px;
}



@include media-breakpoint-down(xs, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
    .ng-autocomplete {
        width: 240px;
    }
}
