<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"><i class="fa fa-home"></i> Kavita</a>
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <input type="text" placeholder="Search bar">
        </li> -->

      </ul>

      <!-- TODO: Put SignalR notification button dropdown here. -->

      <div ngbDropdown class=" nav-item dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <button class="btn btn-outline-primary" ngbDropdownToggle>{{user.username | titlecase}}</button>
        <div ngbDropdownMenu >
          <button ngbDropdownItem routerLink="/admin/dashboard" *ngIf="user.isAdmin">Server Settings</button>
          <button ngbDropdownItem (click)="logout()">Logout</button>
        </div>
      </div>
  
    </div>
  </nav>
  