<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" *ngIf="navService?.navbarVisible$ | async">
    <div class="container-fluid">
      <a class="sr-only sr-only-focusable focus-visible" href="javascript:void(0);" (click)="moveFocus()">Skip to main content</a>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active"><i class="fa fa-home"></i> Kavita</a>
      <ul class="navbar-nav mr-auto">
        
        <div class="nav-item">
          <div class="col-xs-4 col-md-6">
            <fieldset class="form-inline">
              <div class="form-group">
                <label for="nav-search" class="sr-only">Search series</label>
                <div class="ng-autocomplete">
                  <ng-autocomplete
                    #search 
                    id="nav-search"
                    [data]="searchResults"
                    searchKeyword="name"
                    placeholder="Search Series"
                    [initialValue]=""
                    (selected)='clickSearchResult($event)'
                    (inputChanged)='onChangeSearch($event)'
                    [isLoading]="isLoading"
                    [debounceTime]="debounceTime"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">                                 
                  </ng-autocomplete>
                  
                  <ng-template #itemTemplate let-item>
                    <div style="display: flex;padding: 5px;">
                      <div style="width: 24px" class="mr-1">
                        <app-base64-image [style]="imageStyles" [src]="item.coverImage" alt="cover image"></app-base64-image> 
                      </div>
                      <div class="ml-1">
                        <span [innerHTML]="item.name"></span>
                        <span class="form-text" style="font-size: 0.8rem;">in {{item.libraryName}}</span>
                      </div>
                    </div>
                  </ng-template>
                  
                  <ng-template #notFoundTemplate let-notFound>
                    No results found
                  </ng-template>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <!-- <div class="nav-item">
          <app-autocomplete></app-autocomplete>
        </div>

        <div class="nav-item">
          
        </div> -->

        <!-- <ng-template #rt let-r="result" let-t="term">
          <div style="display: flex;">
            <div style="width: 24px" class="mr-1">
              <app-base64-image [style]="imageStyles" [src]="r.coverImage" alt="cover image"></app-base64-image> 
            </div>
            <div class="ml-1">
              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
              <span class="form-text" style="font-size: 0.8rem;">in {{r.libraryName}}</span>
            </div>
          </div>
        </ng-template> -->
      </ul>
      

      <!-- TODO: Put SignalR notification button dropdown here. -->
      <div ngbDropdown class="nav-item dropdown" display="dynamic" placement="bottom-right" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <button class="btn btn-outline-secondary" ngbDropdownToggle>{{user.username | titlecase}}</button>
        <div ngbDropdownMenu >
          <button ngbDropdownItem routerLink="/preferences">User Settings</button>
          <button ngbDropdownItem routerLink="/admin/dashboard" *ngIf="user.roles.includes('Admin')">Server Settings</button>
          <button ngbDropdownItem (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </nav>
  