<ng-container *transloco="let t; read:'manage-matched-metadata'">
<!--  <app-kavitaplus-metadata-breakdown-stats></app-kavitaplus-metadata-breakdown-stats>-->
  <h4>{{t('title')}}</h4>
  <p>{{t('description')}}</p>

  <form [formGroup]="filterGroup">
    <div class="row g-0">
      <div class="col-auto">
        <label for="match-filter">Match State</label>
        <select class="form-select" formControlName="matchState" id="match-filter">
          @for(state of allMatchStates; track state) {
            <option [value]="state">{{state | matchStateOption}}</option>
          }
        </select>
      </div>

      <div class="col-auto ms-2">
        <!-- Note that this is rate limited -->
        <button class="btn btn-secondary mt-4">Trigger Auto-Match</button>
      </div>
    </div>
  </form>



  <div class="table-responsive-md">
    <virtual-scroller #scroll [items]="data">
      <table class="table table-striped table-sm">
        <thead #header>
        <tr>
          <!-- Series Image -->
          <th scope="col"></th>

          <th scope="col">
            {{t('series-name-header')}}
          </th>
          <th scope="col">
            {{t('status-header')}}
          </th>
          <th scope="col">
            {{t('valid-until-header')}}
          </th>
          <!-- Actions header -->
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody #container>
          @for(item of scroll.viewPortItems; track item; let index = $index) {
            <tr>
              <td>
                <app-image [width]="'32px'" [height]="'32px'" [imageUrl]="imageService.getSeriesCoverImage(item.series.id)"></app-image>
              </td>
              <td>
                <a [href]="'/library/' + item.series.libraryId + '/series/' + item.series.id" target="_blank">{{item.series.name}}</a>
              </td>
              <td>
                @if (item.series.isBlacklisted) {
                  {{t('blacklist-status-label')}}
                } @else if (item.series.dontMatch) {
                  {{t('dont-match-status-label')}}
                } @else {
                  {{item.isMatched ? t('matched-status-label') : t('unmatched-status-label') }}
                }
              </td>
              <td>
                @if (item.series.isBlacklisted || item.series.dontMatch || !item.isMatched) {
                  {{null | defaultValue}}
                } @else {
                  {{item.validUntilUtc | utcToLocalTime}}
                }
              </td>
              <td>
                <app-card-actionables [actions]="actions" (actionHandler)="performAction($event, item.series)"></app-card-actionables>
              </td>
            </tr>
          } @empty {
            @if (isLoading) {
              <tr><td colspan="4" style="text-align: center;"><app-loading [loading]="isLoading"></app-loading></td></tr>
            } @else {
              <tr><td colspan="4" style="text-align: center;">{{t('no-data')}}</td></tr>
            }
          }
        </tbody>
      </table>
    </virtual-scroller>
  </div>
</ng-container>
