// DEBUG Only
.overlay {
    background-color: rgba(0,0,0,0.5);
}
.active {
    border: 2px solid red;
}

.spacer {
    width: 100%;
    height: 300px;
    cursor: pointer;

    .animate {
        animation: move-up-down 1s linear infinite;
    }

    .text {
        z-index: 101;
        
    }
}

.full-width {
    width: 100% !important;
}


@keyframes move-up-down {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
}

.bookmark-effect {
    animation: bookmark 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes bookmark {
    0%, 100% {
        filter: opacity(1);
    }
    50% {
        filter: opacity(0.25);
    }
}