<ng-container *transloco="let t; read: 'download-button'">
  @if (canDownload$ | async) {
    @if (download$ | async; as download) {
      <button class="btn btn-actions" (click)="downloadClicked()" [ngbTooltip]="t('download-tooltip')" [disabled]="download !== null">
        @if (download) {
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="visually-hidden">{{t('downloading-status')}}</span>
        } @else {
          <i class="fa fa-arrow-alt-circle-down" aria-hidden="true"></i>
        }
      </button>
    } @else {
      <button class="btn btn-actions" (click)="downloadClicked()" [ngbTooltip]="t('download-tooltip')">
        <i class="fa fa-arrow-alt-circle-down" aria-hidden="true"></i>
      </button>
    }
  }
</ng-container>
