<div class="row g-0 mb-2">
    <div class="col-12">
        <h4><span>{{title}}</span>
            <i class="fa fa-info-circle ms-1" aria-hidden="true" placement="right" [ngbTooltip]="tooltip" role="button" tabindex="0" *ngIf="description && description.length > 0"></i>
        </h4>
    </div>
</div>

<ng-template #tooltip></ng-template>


<ng-container *ngIf="data$ | async as data">
    <ul class="list-group">
        <li *ngFor="let item of data" class="list-group-item">
            {{item.name}} <span class="float-end">{{item.value}}</span>
        </li>
    </ul>
</ng-container>



