@import '../../../theme/colors';

$triangle-size: 40px;
$image-height: 230px;
$image-width: 160px;

.error-banner {
    width: 160px;
    height: 18px;
    background-color: $error-color;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;

    position: absolute;
    top: 0px;
    right: 0px;
}

.card {
    margin: 5px;
    max-width: $image-width;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
}

.card-title {
    font-size: 13px;
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-top: 2px;
    margin-bottom: 0px;
}

.card-img-top {
    height: $image-height;
}

.progress-banner {
    width: 160px;
    height: 5px;

    .progress {
        color: $primary-color;
        background-color: transparent;
    }
}

.not-read-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 $triangle-size $triangle-size 0;
    border-color: transparent $primary-color transparent transparent;
}

.overlay {
    height: $image-height;
    &:hover {
        //background-color: rgba(0, 0, 0, 0.4);
        visibility: visible;

        .overlay-item {
            visibility: visible;
        }
    }
    
    .overlay-item {
        visibility: hidden;
    }
    
    z-index: 10;
}

.card-actions {
    position: absolute;
    top: 228px;
    right: 5px;
    width: 20px;
}

.card-body {
    padding: 5px !important;
}

.library {
    font-size: 13px;
    text-decoration: none;
    margin-top: 0px;
}
