$center-width: 50%;
$side-width: 25%;

$dash-width: 3px;
$pointer-offset: 5px;

img {
  user-select: none;
}

@media(min-width: 600px) {
    .overlay .left .i {
        left: 20px;
    }
    .overlay .right .i {
        right: 20px;
    }
} 

.reading-area {
  display: flex;
  justify-content: center;
  position: relative;
}

.image-container {
  text-align: center;
  display: block;
  height: 100vh;

  #image-1 {
    &.double {
      margin: 0 0 0 auto;
    }
  }

  &.reverse {
    flex-direction: row-reverse;
    overflow: unset;
    justify-content: flex-end;
  }
  
  #image-2 {
    &.double {
      margin: 0 auto 0 0;
    }
  }
}

// canvas {
//     //position: absolute; // JOE: Not sure why we have this, but it breaks the renderer
// }

.reader {
    background-color: var(--manga-reader-bg-color);
    overflow: auto;

    img {
        align-items: center;
    }
}


.loading {
    position: absolute;
    left: 48%;
    top: 20%;
    z-index: 1;
}

.title, .subtitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bottom-menu {
    padding: 20px 20px;
}




.overlay {
  background-color: var(--manga-reader-overlay-bg-color);
  backdrop-filter: var(--manga-reader-overlay-filter); // BUG: This doesn't work on Firefox
  color: var(--manga-reader-overlay-text-color);
}

// Fitting Options

.full-height {
  width: auto;
  margin: 0 auto;
  max-height: 100%;
  vertical-align: top;
}

.original {
  align-self: center;  
}

.full-width {
  max-width: 100%;
  align-self: center;  

  &.double {
    width: 50%;

    &.cover {
      width: 100%;
    }
  }
}

.center-double {
  display: flex;
  overflow: unset;
}

.fit-to-width-double-offset {
  width: 100%;
}

.original-double-offset {
  width: 100%;
}

.fit-to-height-double-offset {
  position: absolute;
  height: 100vh;
  object-fit: scale-down;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 100%;
}



.right {
    position: fixed;
    right: 0px;
    top: 0px;
    width: $side-width;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
}

.top {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: $side-width;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
}

.left {
    position: fixed;
    left: 0px;
    top: 0px;
    width: $side-width;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
}

.bottom {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: $side-width;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
}


// Splitting Icon
.split {
    height: 20px;
    width: 40px;
    z-index: 1;
    top: 0;
    overflow: hidden;
    border: 2px solid #ccc;

    &::before {
        margin-left: 30%;
    }

    /* Control the left side */
    .left-side {
        height: 20px;
        width: 20px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-top: -16px;
    }
    
    /* Control the right side */
    .right-side {
        height: 20px;
        margin-left: 20px;
        width: 20px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-top: -16px;
    }

    .none {
        background-color: rgba(255, 255, 255, 0.5);
    }
  }
  
  ::ng-deep {
    .custom-slider .ngx-slider .ngx-slider-bar {
      background: #e9ffe2;
      height: 2px;
    }
    .custom-slider .ngx-slider .ngx-slider-selection {
      background: var(--primary-color);
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: var(--primary-color); // #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider .ngx-slider .ngx-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ngx-slider .ngx-slider-bubble {
      bottom: 14px;
      font-weight: bold;
    }
  
    .custom-slider .ngx-slider .ngx-slider-limit {
      font-weight: bold;
      color: white !important;

    }

  
    .custom-slider .ngx-slider .ngx-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
      background: var(--primary-color);
    }
  }

  .webtoon-images {
      text-align: center;
      width: 100%;
  }

  .pagination-area {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        color: white;
        font-size: 42px;
    }
  }

.highlight {
  background-color: var(--manga-reader-next-highlight-bg-color) !important;
  animation: fadein .5s both;
  backdrop-filter: blur(10px);
}
.highlight-2 {
  background-color: var(--manga-reader-prev-highlight-bg-color) !important;
  animation: fadein .5s both;
  backdrop-filter: blur(10px);
}

  
.bookmark-effect {
    animation: bookmark 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes bookmark {
    0%, 100% {
        border: 0px;
    }
    50% {
        border: 5px solid var(--primary-color);
    }
}
