# Editor configuration, see https://editorconfig.org
root = true


[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single
indent_size = 2


[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.yml]
indent_size = 2

[*.csproj]
indent_size = 2

[*.cs]
# Disable SonarLint warning S1075 (Don't use hardcoded url)
dotnet_diagnostic.S1075.severity = none
# Logging is never disabled in this project
dotnet_diagnostic.CA1873.severity = none
