<ng-container *transloco="let t; read: 'manage-scrobble-errors'">
  <h4>{{t('title')}}</h4>
  <p>{{t('description')}}</p>

  <form [formGroup]="formGroup">
    <div class="row g-0 mb-3">
      <div class="col-md-12">
        <label for="filter" class="visually-hidden">{{t('filter-label')}}</label>
        <div class="input-group">
          <input id="filter" type="text" class="form-control" [placeholder]="t('filter-label')" formControlName="filter" />
          <button class="btn btn-primary" type="button" (click)="clear()">{{t('clear-errors')}}</button>
        </div>
      </div>
    </div>
  </form>


  <ngx-datatable
    class="bootstrap"
    [rows]="data | filter: filterList"
    [columnMode]="ColumnMode.flex"
    rowHeight="auto"
    [footerHeight]="50"
    [limit]="15"
  >

    <ngx-datatable-column prop="seriesId" [sortable]="true" [draggable]="false" [resizeable]="false" [flexGrow]="3">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('series-header')}}
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        <a href="library/{{item.libraryId}}/series/{{item.seriesId}}" target="_blank">{{item.details}}</a>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column prop="createdUtc" [sortable]="true" [draggable]="false" [resizeable]="false" [flexGrow]="1">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('created-header')}}
      </ng-template>
      <ng-template let-item="row" let-idx="index" ngx-datatable-cell-template>
        {{item.createdUtc  | utcToLocalTime | defaultValue }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="comment" [sortable]="false" [draggable]="false" [resizeable]="false" [flexGrow]="1">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('comment-header')}}
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.comment}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="edit" [sortable]="false" [draggable]="false" [resizeable]="false" [flexGrow]="1">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('edit-header')}}
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        <button class="btn btn-icon primary-icon" (click)="editSeries(item.seriesId)">
          <i class="fa fa-pen me-1" aria-hidden="true"></i>
          <span class="visually-hidden">{{t('edit-item-alt', {seriesName: item.details})}}</span>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ng-container>
