<ng-container *transloco="let t; read: 'customize-sidenav-streams'">
  <app-draggable-ordered-list [items]="items" (orderUpdated)="orderUpdated($event)" [accessibilityMode]="accessibilityMode"
                              [showRemoveButton]="false">
    <ng-template #draggableItem let-position="idx" let-item>
      <app-sidenav-stream-list-item [item]="item" [position]="position" (hide)="updateVisibility($event, position)"></app-sidenav-stream-list-item>
    </ng-template>
  </app-draggable-ordered-list>

  <h5>{{t('smart-filters-title')}}</h5>
  <ul class="list-group filter-list">
    <li class="filter list-group-item" *ngFor="let filter of smartFilters">
      {{filter.name}}
      <button class="btn btn-icon" (click)="addFilterToStream(filter)">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{t('add')}}
      </button>
    </li>
    <li class="list-group-item" *ngIf="smartFilters.length === 0">
      {{t('no-data')}}
    </li>
  </ul>

  <h5>{{t('external-sources-title')}}</h5>
  <ul class="list-group filter-list">
    <li class="filter list-group-item" *ngFor="let source of externalSources">
      {{source.host}}
      <button class="btn btn-icon" (click)="addExternalSourceToStream(source)">
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{t('add')}}
      </button>
    </li>
    <li class="list-group-item" *ngIf="smartFilters.length === 0">
      {{t('no-data')}}
    </li>
  </ul>
</ng-container>
