<ng-container *transloco="let t; prefix: 'view-toc-drawer'">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      {{t('title')}}
    </h5>
    <button type="button" class="btn-close text-reset" [attr.aria-label]="t('close')" (click)="close()"></button>
  </div>

  <div class="offcanvas-body">
    <app-table-of-contents [chapters]="chapters()" [chapterId]="chapterId()!" [pageNum]="pageNum()"
                           (loadChapter)="loadChapterPage($event)" [loading]="loading()" />
  </div>
</ng-container>
