<ng-container *transloco="let t; prefix: 'view-toc-drawer'">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      {{t('title')}}
    </h5>
    <button type="button" class="btn-close text-reset" [attr.aria-label]="t('close')" (click)="close()"></button>
  </div>

  <div class="offcanvas-body">

    <ul #subnav="ngbNav" ngbNav [(activeId)]="tocId" class="reader-pills nav nav-pills mb-2" [destroyOnHide]="false">
      <li [ngbNavItem]="TabID.TableOfContents">
        <a ngbNavLink>{{t('toc-header')}}</a>
        <ng-template ngbNavContent>
          <app-table-of-contents [chapters]="chapters()" [chapterId]="chapterId()!" [pageNum]="pageNum"
                                 [currentPageAnchor]="currentPageAnchor" (loadChapter)="loadChapterPage($event)"></app-table-of-contents>
        </ng-template>
      </li>
      <li [ngbNavItem]="TabID.PersonalTableOfContents">
        <a ngbNavLink>{{t('personal-header')}}</a>
        <ng-template ngbNavContent>
          <app-personal-table-of-contents [chapterId]="chapterId()!" [pageNum]="pageNum" (loadChapter)="loadChapterPart($event)"
                                          [tocRefresh]="refreshPToC"></app-personal-table-of-contents>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="subnav" class="mt-3"></div>
  </div>
</ng-container>
