.hide-if-empty:empty {
  display: none !important;
}

.offcanvas-body {
    overflow: auto;
}

.offcanvas-header {
  padding: 1rem 1rem 0;
}

.tab-content {
  overflow: auto;
  height: calc(40vh - (46px + 1rem)); // drawer height - offcanvas heading height
}

.h6 {
  font-weight: 600;
}