.hide-if-empty:empty {
  display: none !important;
}

.offcanvas-body {
    overflow: auto;
}

.offcanvas-header {
  padding: 1rem 1rem 0;
}

.tab-content {
  overflow: auto;
  height: calc(45vh - 63px); // drawer height - offcanvas heading height
}
