@use '../../../../series-detail-common';


.main-container {
  margin-top: 0.625rem;
  padding: 0 0 0 0.625rem;
}



.content-container {
    width: 100%;
}

.non-virtualized-container {
    width: 100%;
}

.dropdown-toggle-split {
    border-top-right-radius: 0.375rem !important;
    border-bottom-right-radius: 0.375rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.reading-list-years {
    color: var(--input-placeholder-color);
}

.scroll-container {
    display: flex;
    flex-direction: row;
    height: calc((var(--vh) *100) - 10.8125rem);
    margin-bottom: 0.625rem;

    &.empty {
        height: auto;
    }
}
