.main-container {
  margin-top: 10px;
  padding: 0 0 0 10px;
}



.content-container {
    width: 100%;
}

.non-virtualized-container {
    width: 100%;
    max-height: 140px;
    height: 140px;
}

.dropdown-toggle-split {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.reading-list-years {
    color: var(--input-placeholder-color);
}

.scroll-container {
    display: flex;
    flex-direction: row;
    height: calc((var(--vh) *100) - 173px);
    margin-bottom: 10px;

    &.empty {
        height: auto;
    }
}
