<div cdkDropList class="{{items.length > 0 ? 'example-list' : ''}}" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of items; index as i" cdkDrag [cdkDragData]="item" cdkDragBoundary=".example-list">
        <div>
            <i class="fa fa-grip-vertical drag-handle" aria-hidden="true" cdkDragHandle></i>
            <label for="reorder-{{i}}" class="sr-only">Reorder</label>
            <input id="reorder-{{i}}" type="number" min="0" [max]="items.length - 1" [value]="i" style="width: 40px" (keydown.enter)="updateIndex(i, item)" aria-describedby="instructions">
        </div>

        <ng-container  style="display: inline-block" [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, idx: i }"></ng-container>
    </div>
</div>

<p class="sr-only" id="instructions">

</p>