.publisher-img-container {
    background-color: var(--card-bg-color);
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 0.8rem;
    vertical-align: middle;

    div {
        min-height: 32px;
        line-height: 32px;
    }
}

.time-left{
    font-size: 0.8rem;
}

.word-count {
    font-size: 0.8rem;
}