<ng-container *transloco="let t; read: 'manage-tasks-settings'">
  <div class="container-fluid">
    @if (serverSettings) {
      <form [formGroup]="settingsForm">

        <h4>{{t('title')}}</h4>
        <ng-container>
          <div class="row g-0 mt-4 mb-4">
            @if (settingsForm.get('taskScan'); as formControl) {
              <app-setting-item [title]="t('library-scan-label')" [subtitle]="t('library-scan-tooltip')">
                <ng-template #view>
                  @if (formControl.value === customOption) {
                    {{t(formControl.value)}} ({{settingsForm.get('taskScanCustom')?.value}})
                  } @else {
                    {{t(formControl.value)}}
                  }
                </ng-template>
                <ng-template #edit>

                  <select class="form-select" aria-describedby="settings-tasks-scan-help" formControlName="taskScan" id="settings-tasks-scan">
                    @for(freq of taskFrequencies; track freq) {
                      <option [value]="freq">{{t(freq)}}</option>
                    }
                  </select>

                  @if (formControl.value === customOption) {
                    <div class="mt-3">
                      <label for="custom-task-scan" class="form-label">{{t('custom-label')}}</label>
                      <input class="form-control" type="text"
                             id="custom-task-scan" formControlName="taskScanCustom"
                             [class.is-invalid]="settingsForm.get('taskScanCustom')?.invalid && settingsForm.get('taskScanCustom')?.touched"
                             aria-describedby="task-scan-validations">

                      @if (settingsForm.dirty || !settingsForm.untouched) {
                        <div id="task-scan-validations" class="invalid-feedback" style="display: inline-block">
                          @if(settingsForm.get('taskScanCustom')?.errors?.required) {
                            <div>{{t('required')}}</div>
                          }
                          @if(settingsForm.get('taskScanCustom')?.errors?.invalidCron) {
                            <div>{{t('cron-notation')}}</div>
                          }
                        </div>
                      }
                    </div>
                  }
                </ng-template>
              </app-setting-item>
            }
          </div>

          <div class="row g-0 mt-4 mb-4">
            @if (settingsForm.get('taskBackup'); as formControl) {
              <app-setting-item [title]="t('library-database-backup-label')" [subtitle]="t('library-database-backup-tooltip')">
                <ng-template #view>
                  @if (formControl.value === customOption) {
                    {{t(formControl.value)}} ({{settingsForm.get('taskBackupCustom')?.value}})
                  } @else {
                    {{t(formControl.value)}}
                  }
                </ng-template>
                <ng-template #edit>

                  <select class="form-select" aria-describedby="settings-tasks-backup-help" formControlName="taskBackup" id="settings-tasks-backup">
                    @for(freq of taskFrequencies; track freq) {
                      <option [value]="freq">{{t(freq)}}</option>
                    }
                  </select>

                  @if (formControl.value === customOption) {
                    <div class="mt-3">
                      <label for="custom-task-scan" class="form-label">{{t('custom-label')}}</label>
                      <input class="form-control" type="text"
                             id="custom-task-backup" formControlName="taskBackupCustom"
                             [class.is-invalid]="settingsForm.get('taskBackupCustom')?.invalid && settingsForm.get('taskBackupCustom')?.touched"
                             aria-describedby="task-scan-validations">

                      @if (settingsForm.dirty || !settingsForm.untouched) {
                        <div id="task-backup-validations" class="invalid-feedback" style="display: inline-block">
                          @if(settingsForm.get('taskBackupCustom')?.errors?.required) {
                            <div>{{t('required')}}</div>
                          }
                          @if(settingsForm.get('taskBackupCustom')?.errors?.invalidCron) {
                            <div>{{t('cron-notation')}}</div>
                          }
                        </div>
                      }
                    </div>
                  }
                </ng-template>
              </app-setting-item>
            }
          </div>


          <div class="row g-0 mt-4 mb-4">
            @if (settingsForm.get('taskCleanup'); as formControl) {
              <app-setting-item [title]="t('cleanup-label')" [subtitle]="t('cleanup-tooltip')">
                <ng-template #view>
                  @if (formControl.value === customOption) {
                    {{t(formControl.value)}} ({{settingsForm.get('taskCleanupCustom')?.value}})
                  } @else {
                    {{t(formControl.value)}}
                  }
                </ng-template>
                <ng-template #edit>

                  <select class="form-select" aria-describedby="settings-tasks-cleanup-help" formControlName="taskCleanup" id="settings-tasks-cleanup">
                    @for(freq of taskFrequenciesForCleanup; track freq) {
                      <option [value]="freq">{{t(freq)}}</option>
                    }
                  </select>

                  @if (formControl.value === customOption) {
                    <div class="mt-3">
                      <label for="custom-task-scan" class="form-label">{{t('custom-label')}}</label>
                      <input class="form-control" type="text"
                             id="custom-task-cleanup" formControlName="taskCleanupCustom"
                             [class.is-invalid]="settingsForm.get('taskCleanupCustom')?.invalid && settingsForm.get('taskCleanupCustom')?.touched"
                             aria-describedby="task-scan-validations">

                      @if (settingsForm.get('taskCleanupCustom')?.invalid) {
                        <div id="task-cleanup-validations" class="invalid-feedback" style="display: inline-block">
                          @if(settingsForm.get('taskCleanupCustom')?.errors?.required) {
                            <div>{{t('required')}}</div>
                          }
                          @if(settingsForm.get('taskCleanupCustom')?.errors?.invalidCron) {
                            <div>{{t('cron-notation')}}</div>
                          }
                        </div>
                      }
                    </div>
                  }
                </ng-template>
              </app-setting-item>
            }
          </div>
        </ng-container>

        <div class="setting-section-break"></div>

        <h4>{{t('adhoc-tasks-title')}}</h4>

        @for(task of adhocTasks; track task.name; let idx = $index) {
          <div class="mt-4 mb-4">
            <app-setting-button [subtitle]="t(task.description)">
              <button class="btn btn-secondary btn-sm mb-2" (click)="runAdhoc(task)">{{t(task.name)}}</button>
            </app-setting-button>
          </div>
        }

        <div class="setting-section-break"></div>

        <h4>{{t('recurring-tasks-title')}}</h4>
        <ngx-datatable
          class="bootstrap"
          [rows]="recurringTasks$ | async"
          [columnMode]="ColumnMode.flex"
          rowHeight="auto"
          [footerHeight]="50"
          [limit]="15"
        >

          <ngx-datatable-column prop="title" [sortable]="true" [draggable]="false" [resizeable]="false" [flexGrow]="3">
            <ng-template let-column="column" ngx-datatable-header-template>
              {{t('job-title-header')}}
            </ng-template>
            <ng-template let-item="row" ngx-datatable-cell-template>
              {{item.title | titlecase}}
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column prop="lastExecutionUtc" [sortable]="true" [draggable]="false" [resizeable]="false" [flexGrow]="1">
            <ng-template let-column="column" ngx-datatable-header-template>
              {{t('last-executed-header')}}
            </ng-template>
            <ng-template let-item="row" let-idx="index" ngx-datatable-cell-template>
              {{item.lastExecutionUtc | utcToLocalTime | defaultValue }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="cron" [sortable]="false" [draggable]="false" [resizeable]="false" [flexGrow]="1">
            <ng-template let-column="column" ngx-datatable-header-template>
              {{t('cron-header')}}
            </ng-template>
            <ng-template let-item="row" ngx-datatable-cell-template>
              {{item.cron}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </form>
    }
  </div>
</ng-container>
