.user-review {
  font-style: italic;
}

.rating-star {
  margin-top: 2px;
  font-size: 1.5rem;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 158px);
  grid-gap: 0.5rem;
  justify-content: space-around;
}

.virtual-scroller, virtual-scroller {
  width: 100%;
  //height: 10000px;
  height: calc(100vh - 85px);
  max-height: calc(var(--vh)*100 - 170px);
}

// This is responsible for ensuring we scroll down and only tabs and companion bar is visible
.main-container {
  height: calc(var(--vh)*100 - 117px);
  overflow-y: auto;
}

.nav-tabs.fixed {
  position: fixed;
  z-index: 100;
  background-color: var(--bs-body-bg);
  width: 100%;
}
