@import "../../../theme/colors";
@import "../../../assets/themes/dark.scss";

.bulk-select {


    border: 2px solid $primary-color;
    background-color: $dark-form-background-no-opacity;
    border-radius: 5px;
    color: white;
}

.btn-icon {
    color: white;
}

.highlight {
    color: $primary-color !important;
}