.bulk-select {
    background-color: var(--navbar-bg-color);
    border-bottom: 2px solid var(--primary-color);
    color: var(--navbar-text-color);
}

.highlight {
    color: var(--primary-color) !important;
}