@use "../../../theme/colors";

.bulk-select {
    background-color: colors.$dark-form-background-no-opacity;
    border-bottom: 2px solid colors.$primary-color;
    color: white;
}

.btn-icon {
    color: white;
}

.highlight {
    color: colors.$primary-color !important;
}