<div class="container-fluid">
    <form [formGroup]="settingsForm" *ngIf="serverSettings !== undefined">
        <p class="text-warning pt-2">Port and Logging Level require a manual restart to Kavita to take effect.</p>
        <div class="form-group">
            <label for="settings-cachedir">Cache Directory</label>&nbsp;<i class="fa fa-info-circle" placement="right" [ngbTooltip]="cacheDirectoryTooltip" role="button" tabindex="0"></i>
            <ng-template #cacheDirectoryTooltip>Where the server place temporary files when reading. This will be cleaned up on a regular basis.</ng-template>
            <span class="sr-only" id="settings-cachedir-help">Where the server place temporary files when reading. This will be cleaned up on a regular basis.</span>
            <input readonly id="settings-cachedir" aria-describedby="settings-cachedir-help" class="form-control" formControlName="cacheDirectory" type="text">
        </div>

        <div class="form-group">
            <label for="settings-port">Port</label>&nbsp;<i class="fa fa-info-circle" placement="right" [ngbTooltip]="portTooltip" role="button" tabindex="0"></i>
            <ng-template #portTooltip>Port the server listens on. This is fixed if you are running on Docker. Requires restart to take effect.</ng-template>
            <span class="sr-only" id="settings-port-help">Port the server listens on. This is fixed if you are running on Docker. Requires restart to take effect.</span>
            <input id="settings-port" aria-describedby="settings-port-help" class="form-control" formControlName="port" type="number" step="1" min="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        </div>

        <div class="form-group">
            <label for="logging-level-port">Logging Level</label>&nbsp;<i class="fa fa-info-circle" placement="right" [ngbTooltip]="loggingLevelTooltip" role="button" tabindex="0"></i>
            <ng-template #loggingLevelTooltip>Use debug to help identify issues. Debug can eat up a lot of disk space. Requires restart to take effect.</ng-template>
            <span class="sr-only" id="logging-level-port-help">Port the server listens on. Requires restart to take effect.</span>
            <select id="logging-level-port" aria-describedby="logging-level-port-help" class="form-control" aria-describedby="settings-tasks-scan-help" formControlName="loggingLevel">
                <option *ngFor="let level of logLevels" [value]="level">{{level | titlecase}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="stat-collection">Allow Anonymous Usage Collection</label>&nbsp;<i class="fa fa-info-circle" placement="right" [ngbTooltip]="statTooltip" role="button" tabindex="0"></i>
            <ng-template #statTooltip>Send anonymous usage and error information to Kavita's servers. This includes information on your browser, error reporting as well as OS and runtime version. We will use this information to prioritize features and bug fixes. Requires restart to take effect.</ng-template>
            <span class="sr-only" id="logging-level-port-help">Send anonymous usage and error information to Kavita's servers. This includes information on your browser, error reporting as well as OS and runtime version. We will use this information to prioritize features and bug fixes. Requires restart to take effect.</span>
            <div class="form-check">
                <input id="stat-collection" type="checkbox" aria-label="Admin" class="form-check-input" formControlName="allowStatCollection">
                <label for="stat-collection" class="form-check-label">Allow Collection</label>
            </div>
        </div>

        

        <h4>Tasks</h4>
        <div class="form-group">
            <label for="settings-tasks-scan">Library Scan</label>&nbsp;<i class="fa fa-info-circle" placement="right" [ngbTooltip]="taskScanTooltip" role="button" tabindex="0"></i>
            <ng-template #taskScanTooltip>How often Kavita will scan and refresh metatdata around manga files.</ng-template>
            <span class="sr-only" id="settings-tasks-scan-help">How often Kavita will scan and refresh metatdata around manga files.</span>
            <select class="form-control" aria-describedby="settings-tasks-scan-help" formControlName="taskScan" id="settings-tasks-scan">
                <option *ngFor="let freq of taskFrequencies" [value]="freq">{{freq | titlecase}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="settings-tasks-backup">Library Database Backup</label>&nbsp;<i class="fa fa-info-circle" placement="right" [ngbTooltip]="taskBackupTooltip" role="button" tabindex="0"></i>
            <ng-template #taskBackupTooltip>How often Kavita will backup the database.</ng-template>
            <span class="sr-only" id="settings-tasks-backup-help">How often Kavita will backup the database.</span>
            <select class="form-control" aria-describedby="settings-tasks-backup-help" formControlName="taskBackup" id="settings-tasks-backup">
                <option *ngFor="let freq of taskFrequencies" [value]="freq">{{freq | titlecase}}</option>
            </select>
        </div>
    
        <div class="float-right">
            <button type="button" class="btn btn-secondary mr-2" (click)="resetForm()">Reset</button>
            <button type="submit" class="btn btn-primary" (click)="saveSettings()" [disabled]="!settingsForm.touched && !settingsForm.dirty">Save</button>
        </div>
    </form>
</div>