.companion-bar {
    transition: all 0.15s linear;
    margin-left: 60px;
    padding-left: 10px;
}

.companion-bar-content {
    margin-left: 200px;
    width: auto;
}

@media (max-width: 576px) {
    .companion-bar {
        margin-left: 10px;
        padding-left: 10px;
    }

    .companion-bar-content {
        margin-left: 10px;
        width: auto;
    }
}
