.content-wrapper {
    padding: 0 10px 0;
    height: 100%;
}

.companion-bar {
    transition: all var(--side-nav-companion-bar-transistion);
    margin-left: 40px;
}

.companion-bar-content {
    margin-left: 190px;
    width: auto;
}

@media (max-width: 576px) {
    .container-fluid {
        padding: 0;
    }

    .content-wrapper {
        padding: 0 5px 0;
        overflow: hidden;
        height: calc(100vh - 56px);

        &.closed {
            overflow: auto;
        }
    }

    .companion-bar {
        margin-left: 0px;
        padding-left: 0px;
    }

    .companion-bar-content {
        margin-left: 0px;
        width: auto;
    }
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadein {
    animation: 2s fadeInUp;
}
