.btn {
    width: 100%;
    font-family: var(--login-input-font-family);
}

.custom-input {
    background-color: var(--login-input-background-color);
    color: var(--login-input-color);
    border-color: var(--login-input-border-color);
    font-family: var(--login-input-font-family);

    &:focus {
        border-color: var(--login-input-border-color-focus);
        box-shadow: var(--login-input-box-shadow-focus);
    }

    &::placeholder {
        opacity: 0.5;
        color: var(--login-input-placeholder-color);
        font-family: var(--login-input-font-family);
      }
}

p {
    font-family: var(--login-input-font-family);
}