<ng-container *transloco="let t; prefix:'reset-password'">
  <app-splash-container>
    <ng-container title><h2>{{t('title')}}</h2></ng-container>
    <ng-container body>
      <p>{{t('description')}}</p>
      <div>
        <div class="mb-3" style="width:100%">
          <label for="email" class="form-label visually-hidden">{{t('email-label')}}</label>
          <input class="form-control custom-input" type="email" inputmode="email" id="email" [formField]="formGroup.email"
                 [appFormField]="formGroup.email" aria-describedby="email-validations" [placeholder]="t('email-label')">
          <app-validation-errors inputId="email" [control]="formGroup.email" />
        </div>

        <div>
          <button class="btn btn-primary" (click)="submit()" )>{{t('submit')}}</button>
        </div>
      </div>
    </ng-container>
  </app-splash-container>

</ng-container>
