<div class="card">
    <div class="card-body">
        <div class="card-title">
            <div class="row mb-2">
                <div class="col-11"><h4>Password</h4></div>
                <div class="col-1">
                    <button class="btn btn-primary btn-sm" (click)="isViewMode = !isViewMode" *ngIf="(hasChangePasswordAbility | async)">Edit</button>
                </div>
            </div>
        </div>
        

        <ng-container *ngIf="isViewMode">
            <span>***************</span>
        </ng-container>

        <div #collapse="ngbCollapse" [(ngbCollapse)]="isViewMode">
            <ng-container>
                <div class="alert alert-danger" role="alert" *ngIf="resetPasswordErrors.length > 0">
                    <div *ngFor="let error of resetPasswordErrors">{{error}}</div>
                </div>
                <form [formGroup]="passwordChangeForm">
                    <div class="mb-3">
                        <label for="oldpass" class="form-label">Current Password</label>
                        <input class="form-control custom-input" type="password" id="oldpass" formControlName="oldPassword"
                         [class.is-invalid]="passwordChangeForm.get('oldPassword')?.invalid && passwordChangeForm.get('oldPassword')?.touched">
                        <div id="inviteForm-validations" class="invalid-feedback" *ngIf="passwordChangeForm.dirty || passwordChangeForm.touched">
                            <div *ngIf="passwordChangeForm.get('oldPassword')?.errors?.required">
                                This field is required
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="new-password">New Password</label>
                        <input class="form-control" type="password" id="new-password" formControlName="password"
                            [class.is-invalid]="passwordChangeForm.get('password')?.invalid && passwordChangeForm.get('password')?.touched">
                        <div id="password-validations" class="invalid-feedback" *ngIf="passwordChangeForm.dirty || passwordChangeForm.touched">
                            <div *ngIf="password?.errors?.required">
                                This field is required
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="confirm-password">Confirm Password</label>
                        <input class="form-control" type="password" id="confirm-password" formControlName="confirmPassword" aria-describedby="password-validations"
                            [class.is-invalid]="passwordChangeForm.get('confirmPassword')?.invalid && passwordChangeForm.get('confirmPassword')?.touched">
                        <div id="password-validations" class="invalid-feedback" *ngIf="passwordChangeForm.dirty || passwordChangeForm.touched">
                            <div *ngIf="!passwordsMatch">
                                Passwords must match
                            </div>
                            <div *ngIf="confirmPassword?.errors?.required">
                                This field is required
                            </div>
                        </div>
                    </div>
                    <div class="col-auto d-flex d-md-block justify-content-sm-center text-md-end mb-3">
                        <button type="button" class="flex-fill btn btn-secondary me-2" aria-describedby="password-panel" (click)="resetPasswordForm()">Reset</button>
                        <button type="submit" class="flex-fill btn btn-primary" aria-describedby="password-panel" (click)="savePasswordForm()" [disabled]="!passwordChangeForm.valid || !(passwordChangeForm.dirty || passwordChangeForm.touched)">Save</button>
                    </div>
                </form>
            </ng-container>
            
            <ng-template #noPermission>
                <p>You do not have permission to change your password. Reach out to the admin of the server.</p>
            </ng-template>
        </div>

        
    </div>
    

</div>

