<div *ngIf="data !== undefined">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{this.parentName}} - {{this.isChapter ? 'Chapter' : 'Volume'}} {{this.data.number}} Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body scrollable-modal">
        <h4 *ngIf="isObjectVolume(this.data)">Information</h4>
        <ng-container *ngIf="isObjectVolume(this.data)">
            <div class="row no-gutters">
                <div class="col">
                    Created: {{(this.data.created | date: 'MM/dd/yyyy') || '-'}}
                </div>
                <div class="col">
                    Last Modified: {{(this.data.lastModified | date: 'MM/dd/yyyy') || '-'}}
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <!--Is Special: {{this.data.isSpecial || 'N/A'}}-->
                    Id: {{this.data.id}}
                </div>
                <div class="col">
                    Pages: {{this.data.pages}}
                </div>
            </div>
        </ng-container>

        <h4 *ngIf="!isObjectChapter(this.data)">Chapters</h4>
        <ul class="list-unstyled">
            <li class="media my-4" *ngFor="let chapter of chapters">
                <img class="mr-3" style="width: 74px" src="{{imageService.getChapterCoverImage(chapter.id)}}">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Chapter {{formatChapterNumber(chapter)}}</h5>
                    <ul class="list-group">
                        <li *ngFor="let file of chapter.files.sort()" class="list-group-item">
                            <span>{{file.filePath}}</span>
                            <div class="row no-gutters">
                                <div class="col">
                                    Pages: {{file.pages}}
                                </div>
                                <div class="col">
                                    Format: <span class="badge badge-secondary">{{utilityService.mangaFormatToText(file.format)}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="close()">Close</button>
    </div>
</div>


