<ng-container *transloco="let t; prefix: 'confirm-reset-password'">
  <app-splash-container>
    <ng-container title><h2>{{t('title')}}</h2></ng-container>
    <ng-container body>
      <p>{{t('description')}}</p>
      <div>
        <div class="mb-3">
          <label for="password" class="form-label">{{t('password-label')}}</label>&nbsp;<i class="fa fa-info-circle" placement="right" [ngbTooltip]="passwordTooltip" role="button" tabindex="0"></i>
          <ng-template #passwordTooltip>
            {{t('password-validation')}}
          </ng-template>
          <span class="visually-hidden" id="password-help"><ng-container [ngTemplateOutlet]="passwordTooltip" /></span>
          <input id="password" class="form-control" [formField]="formGroup.password" type="password"
                 [appFormField]="formGroup.password" aria-describedby="password-help password-validations">
          <app-validation-errors inputId="password" [control]="formGroup.password" [messages]="{
              minlength: t('password-validation'),
              maxlength: t('password-validation')
            }" />
        </div>

        <div class="float-end">
          <button class="btn btn-secondary alt" (click)="submit()">{{t('submit')}}</button>
        </div>
      </div>
    </ng-container>
  </app-splash-container>

</ng-container>
