<ng-container *transloco="let t; prefix: 'confirm-reset-password'">
  <app-splash-container>
    <ng-container title><h2>{{t('title')}}</h2></ng-container>
    <ng-container body>
      <p>{{t('description')}}</p>
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        @if (registerForm.get('password'); as formControl) {
          <div class="mb-3">
            <label for="password" class="form-label">{{t('password-label')}}</label>&nbsp;<i class="fa fa-info-circle" placement="right" [ngbTooltip]="passwordTooltip" role="button" tabindex="0"></i>
            <ng-template #passwordTooltip>
              {{t('password-validation')}}
            </ng-template>
            <span class="visually-hidden" id="password-help"><ng-container [ngTemplateOutlet]="passwordTooltip" /></span>
            <input id="password" class="form-control" formControlName="password" type="password"
                   [appFormField]="formControl" aria-describedby="password-help password-validations">
            <app-validation-errors inputId="password" [control]="formControl" [messages]="{
              minlength: t('password-validation'),
              maxlength: t('password-validation')
            }" />
          </div>
        }

        <div class="float-end">
          <button class="btn btn-secondary alt" type="submit">{{t('submit')}}</button>
        </div>
      </form>
    </ng-container>
  </app-splash-container>

</ng-container>
