<p>This table contains issues found during scan or reading of your media. This list is non-managed. You can clear it at any time and use Library (Force) Scan to perform analysis.</p>

<button class="btn btn-primary" (click)="clear()">Clear Alerts</button>
<table class="table table-light table-striped table-hover table-sm">
    <thead #header>
        <tr>
            <th scope="col" sortable="extension" (sort)="onSort($event)">
                Extension
            </th>
            <th scope="col" sortable="format" (sort)="onSort($event)">
                File
            </th>
            <th scope="col" sortable="totalSize" (sort)="onSort($event)">
                Comment
            </th>
            <th scope="col" sortable="totalFiles" (sort)="onSort($event)">
                Details
            </th>
        </tr>
    </thead>
    <tbody #container>
        <ng-container *ngIf="rawData$ | async as data; else loading">
            <ng-container *ngIf="data.length > 0; else noData">
                <tr *ngFor="let item of data; index as i">
                    <td>
                      {{item.extension}}
                    </td>
                    <td>
                      {{item.filePath}}
                    </td>
                    <td>
                      {{item.comment}}
                    </td>
                    <td>
                      {{item.details}}
                    </td>
                </tr>
            </ng-container>
        </ng-container>
        <ng-template #loading>
            <tr><app-loading></app-loading></tr>
        </ng-template>
        <ng-template #noData>
            <tr>No issues</tr>
        </ng-template>
    </tbody>
</table>