<p>This table contains issues found during scan or reading of your media. This list is non-managed.
  You can clear it at any time and use Library (Force) Scan to perform analysis. A list of some common errors and what
  they mean can be found on the <a rel="noopener noreferrer" target="_blank" href="https://wiki.kavitareader.com/en/guides/managing-your-files/scanner#media-errors">wiki</a>.</p>

<form [formGroup]="formGroup">
    <div class="row g-0 mb-3">
        <div class="col-md-12">
            <label for="filter" class="visually-hidden">Filter</label>
            <div class="input-group">
                <input id="filter" type="text" class="form-control" placeholder="Filter" formControlName="filter" />
                <button class="btn btn-primary" type="button" (click)="clear()">Clear Alerts</button>
            </div>
        </div>
    </div>
</form>
<table class="table table-light table-hover table-sm table-hover">
    <thead #header>
        <tr>
            <th scope="col"sortable="extension" (sort)="onSort($event)">
                Extension
            </th>
            <th scope="col" sortable="filePath" (sort)="onSort($event)">
                File
            </th>
            <th scope="col" sortable="comment" (sort)="onSort($event)">
                Comment
            </th>
            <th scope="col" sortable="details" (sort)="onSort($event)">
                Details
            </th>
        </tr>
    </thead>
    <tbody #container>
        <tr *ngIf="isLoading"><td colspan="4" style="text-align: center;"><app-loading [loading]="isLoading"></app-loading></td></tr>
        <ng-container *ngIf="data | filter: filterList as filteredData">
            <tr *ngIf="filteredData.length === 0 && !isLoading"><td colspan="4" style="text-align: center;">No issues</td></tr>
            <tr *ngFor="let item of filteredData; index as i">
                <td>
                {{item.extension}}
                </td>
                <td>
                {{item.filePath}}
                </td>
                <td>
                {{item.comment}}
                </td>
                <td>
                {{item.details}}
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
