::ng-deep .drag-handle {
  margin-top: 100% !important;
}

app-dashboard-stream-list-item {
  flex-grow: 1;
}

.filter-list {
  margin: 0;
  padding:0;

  .filter {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0;
    color: var(--list-group-hover-text-color);
    background-color: var(--list-group-hover-bg-color);
  }
}

.virtual-scroller, virtual-scroller {
  width: 100%;
  height: calc(100vh - 85px);
  max-height: calc(var(--vh)*100 - 170px);
}

