<ng-container *transloco="let t; prefix: 'customize-dashboard-streams'">
  <app-draggable-ordered-list [items]="items()" (orderUpdated)="orderUpdated($event)" [accessibilityMode]="accessibilityMode()"
                              [showRemoveButton]="false" [virtualizeAfter]="virtualizeAfter">
    <ng-template #draggableItem let-position="idx" let-item>
      <app-dashboard-stream-list-item [item]="item" [position]="position"
                                      (hide)="updateVisibility($event)"
                                      (delete)="delete($event)"
      />
    </ng-template>
  </app-draggable-ordered-list>

  <h5>{{t('smart-filter-title')}}</h5>
  @if (showFilter()) {
    <div class="mb-3">
      <app-filter-field [(query)]="filterQuery" [label]="t('filter')" />
    </div>
  }
  <ul class="list-group filter-list">
    @for (filter of filteredSmartFilters(); track filter.name) {
      <li class="filter list-group-item">
        {{filter.name}}
        <button class="btn btn-icon" (click)="addFilterToStream(filter)">
          <i class="fa fa-plus" aria-hidden="true"></i>
          {{t('add')}}
        </button>
      </li>
    } @empty {
      <li class="list-group-item">
        {{t('no-data')}}
      </li>
    }
  </ul>
</ng-container>
