
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Library Access</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="list-group">
        <li class="list-group-item" *ngFor="let library of selectedLibraries; let i = index">
            <div class="form-check">
                <input id="library-{{i}}" type="checkbox" attr.aria-label="Library {{library.data.name}}" class="form-check-input" 
                     [(ngModel)]="library.selected" name="library">
                <label attr.for="library-{{i}}" class="form-check-label">{{library.data.name}}</label>
            </div>
        </li>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="reset()">Reset</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
