.virtual-scroller, virtual-scroller {
    width: 100%;
    height: calc(100vh - 85px);
    max-height: calc(var(--vh)*100 - 170px);
  }
  
  // This is responsible for ensuring we scroll down and only tabs and companion bar is visible
  .main-container {
    // Height set dynamically by  get ScrollingBlockHeight()
    overflow: auto;
    position: relative;
    overscroll-behavior-y: none;
    scrollbar-gutter: stable;
    scrollbar-width: thin;

    // For firefox
    @supports (-moz-appearance:none) {
        scrollbar-color: transparent transparent;
        scrollbar-width: thin;
    }

    &::-webkit-scrollbar {
        background-color: transparent;  /*make scrollbar space invisible */
        width: inherit;
        display: none;
        visibility: hidden;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent; /*makes it invisible when not hovering*/
    }

    &:hover {
        scrollbar-width: thin;
        overflow-y: auto;

        // For firefox
        @supports (-moz-appearance:none) {
            scrollbar-color: rgba(255,255,255,0.3) rgba(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-thumb {
            visibility: visible;
            background-color: rgba(255,255,255,0.3); /*On hover, it will turn grey*/
        }
    }
  }