.activity-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.activity-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bs-border-color-translucent);
  overflow: hidden;

  &.header-item {
    background: var(--bs-tertiary-bg);
  }

  &.entry-item {
    padding: 0.5rem 1rem;
  }
}

.activity-entry {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem;
  background: var(--bs-body-bg);
  border-radius: var(--bs-border-radius);

  &.completed {
    border-left: 3px solid var(--bs-success);
  }
}

.chapter-cover {
  cursor: pointer;
}
