.activity-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.virtual-scroller, virtual-scroller {
  width: 100%;
  height: calc(100vh - 85px);
  max-height: calc(var(--vh) * 100 - 170px);
}

.activity-entry {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem;
  background: var(--bs-body-bg);
  border-radius: var(--bs-border-radius);

  &.completed {
    border-left: 3px solid var(--bs-success);
  }
}

.chapter-cover {
  cursor: pointer;
}
