<ng-container *transloco="let t; prefix:'profile'">
  <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center justify-content-md-start">
    <h4 class="mb-0">{{label()}}</h4>

    @let selectedLibraries = filter().libraries;

    @if (!showLibraryTypeahead()) {
      <h4 class="mb-0 lib-selector" (click)="showLibraryTypeahead.set(true)">
        @if (allLibraries().length === selectedLibraries.length) {
          Kavita
        } @else {
          @for (lib of selectedLibraries; track lib) {
            {{libraryName(lib)}}
            @if (!$last) {,}
          }
        }
      </h4>
    } @else if (libraryTypeaheadSettings(); as typeaheadSettings) {
      <app-typeahead
        [config]="typeaheadSettings"
        (selectedData)="updateSelectedLibraries($event)"
        id="library-typeahead">
        <ng-template #optionItem let-lib>
          {{lib.name}}
        </ng-template>
        <ng-template #badgeItem let-lib>
          {{lib.name}}
        </ng-template>
      </app-typeahead>
    }

    <app-smart-time-range-picker (timeRangeUpdate)="updateTimeRange($event)" [startYear]="startYear()" [locale]="locale()" />
  </div>
</ng-container>
