<ng-container *transloco="let t; prefix: 'download-indicator'">
  @if (download(); as dl) {
    <span class="indicator"
          [class.active]="dl.status !== 'completed'"
          [class.completed]="dl.status === 'completed'"
          [style.--progress]="dl.progress"
          [attr.aria-label]="dl.status === 'completed' ? t('completed') : t('progress', {percentage: dl.progress})"
          role="status">
      @if (dl.status === 'completed') {
        <i class="fa fa-check" aria-hidden="true"></i>
      }
    </span>
  }
</ng-container>
