.clickable:hover, .clickable:focus {
    background-color: var(--list-group-hover-bg-color, var(--primary-color));
}

.modal-body {
  max-height: calc(100vh - 14.6875rem);
  min-height: 9.375rem;
  .list-group {
    overflow: auto;
    max-height: calc(100vh - 22.1875rem);
    min-height: 2rem;
  }
}
