<div class="card mt-2">
  <div class="card-body">
    <div class="card-title">
      <div class="container-fluid row mb-2">
        <div class="col-10 col-sm-11"><h4 id="anilist-token-header">AniList Token</h4></div>
        <div class="col-1 text-end">
          <button class="btn btn-primary btn-sm" [disabled]="!validLicense" (click)="toggleViewMode()">{{isViewMode ? 'Edit' : 'Cancel'}}</button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="isViewMode">
      <div class="container-fluid row">
          <span class="col-12">
            <ng-container *ngIf="!validLicense; else showToken">
              This feature is only available for Kavita Plus Subscribers
            </ng-container>
            <ng-template #showToken>
              <ng-container *ngIf="token && token.length > 0; else noToken">Token Set</ng-container>
              <ng-template #noToken>No Token Set</ng-template>
            </ng-template>
          </span>
      </div>
    </ng-container>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="isViewMode">
      <form [formGroup]="formGroup">
        <div class="form-group mb-3">
          <label for="anilist-token">AniList Token Goes Here</label>
          <textarea id="anilist-token" rows="2" cols="3" class="form-control" formControlName="aniListToken"></textarea>
        </div>
      </form>
      <div class="col-auto d-flex d-md-block justify-content-sm-center text-md-end mb-3">
        <a class="flex-fill btn btn-secondary me-2"
           href="https://anilist.co/api/v2/oauth/authorize?client_id=12809&redirect_url=https://anilist.co/api/v2/oauth/pin&response_type=token"
           target="_blank" rel="noopener noreferrer">Generate</a>
        <button type="submit" class="flex-fill btn btn-primary" aria-describedby="anilist-token-header" (click)="saveForm()">Save</button>
      </div>
    </div>


  </div>
</div>

