$image-height: 125px;

.progress-banner {
    height: 5px;

    .progress {
        color: var(--card-progress-bar-color);
        background-color: transparent;
    }
}

.list-item-container {
    background: var(--card-list-item-bg-color);
    border-radius: 5px;
    position: relative;
}

.badge-container {
    border-radius: 4px;
    display: block;
    height: $image-height;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 106px;
}

.not-read-badge {
    position: relative;
    top: -125px;
    left: 78px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 var(--card-progress-triangle-size) var(--card-progress-triangle-size) 0;
    border-color: transparent var(--primary-color) transparent transparent;
}