<ng-container *transloco="let t; prefix: 'related-tab'">
  <div class="pb-2">
    @if (relationEntities().length > 0) {
      <app-carousel-reel [items]="relationEntities()" [title]="t('relations-title')">
        <ng-template #carouselItem let-item let-idx>
          <app-entity-card [entity]="item" [config]="relatedConfig()" [index]="idx" [maxIndex]="relationEntities().length" />
        </ng-template>
      </app-carousel-reel>
    }

    @if (collectionEntities().length > 0) {
      <app-carousel-reel [items]="collectionEntities()" [title]="t('collections-title')">
        <ng-template #carouselItem let-item let-idx>
        <app-entity-card [entity]="item" [config]="collectionConfig()" [index]="idx" [maxIndex]="collectionEntities().length" />
        </ng-template>
      </app-carousel-reel>
    }


    @if (readingListEntities().length > 0) {
      <app-carousel-reel [items]="readingListEntities()" [title]="t('reading-lists-title')">
        <ng-template #carouselItem let-item let-idx>
          <app-entity-card [entity]="item" [index]="idx" [maxIndex]="readingListEntities().length" [config]="readingListConfig()" />
        </ng-template>
      </app-carousel-reel>
    }

    @if (bookmarks().length > 0) {
      <app-carousel-reel [items]="bookmarkEntities()" [title]="t('bookmarks-title')">
        <ng-template #carouselItem let-item let-idx>
          <app-entity-card [entity]="item" [index]="idx" [maxIndex]="bookmarkEntities().length" [config]="bookmarkConfig()" />
        </ng-template>
      </app-carousel-reel>
    }
  </div>
</ng-container>
