<ng-container *transloco="let t; read: 'badge-expander'">
  <div class="badge-expander">
    <div class="content">
      @for(item of visibleItems; track item; let i = $index; let last = $last) {
        <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, idx: i, last: last }"></ng-container>
      }
      @if (!isCollapsed && itemsLeft !== 0) {
        <button type="button" class="btn btn-sm btn-outline-primary ms-2" (click)="toggleVisible()" [attr.aria-expanded]="!isCollapsed">
          {{t('more-items', {count: itemsLeft})}}
        </button>
      }
    </div>
  </div>
</ng-container>
