<ng-container *transloco="let t;">
  <div class="carousel-tabs-wrapper">
    <button class="scroll-button left" (click)="scroll('left')" [class.visible]="showLeftArrow">
      <i class="fas fa-chevron-left"></i>
    </button>
    <div class="carousel-tabs-container" #scrollContainer (scroll)="onScroll()">

      <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav nav-tabs mb-2" (navChange)="onNavChange($event)">
        @for (tab of tabComponents; track tab) {
          <li [ngbNavItem]="tab.id">
            <a ngbNavLink>{{t('tabs.' + tab.id)}}</a>
            <ng-template ngbNavContent>
<!--              <ng-container [ngTemplateOutlet]="tab.contentTemplate"></ng-container>-->
              <ng-content select="app-carousel-tab[id='{{tab.id}}']"></ng-content>
            </ng-template>
          </li>
        }
      </ul>
    </div>
    <button class="scroll-button right" (click)="scroll('right')" [class.visible]="showRightArrow">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <div [ngbNavOutlet]="nav" style="min-height: 300px"></div>

</ng-container>
