.alt {
    background-color: #424c72;
    border-color: #444f75;
}

.alt:hover {
    background-color: #3b4466;
}

.alt:focus {
    background-color: #343c59;
    box-shadow: 0 0 0 0.2rem rgb(68 79 117 / 50%);
}

input {
    background-color: #fff !important;
    color: black !important;
}