$image-height: 230px;
$image-width: 160px;

.download {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 55px;
    left: 20px;
}

.progress-banner {
    height: 5px;

    .progress {
        color: var(--card-progress-bar-color);
        background-color: transparent;
    }
}

.list-item-container {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 1%, rgba(0,0,0,0) 100%);
    border-radius: 5px;
    position: relative;
}