<ng-container *transloco="let t; read: 'kavitaplus-metadata-breakdown-stats'">
  <div class="dashboard-card-content">
    <h4>{{t('title')}}</h4>

    @if(breakdown) {
      @if(breakdown.totalSeries === 0 || breakdown.seriesCompleted === 0) {
        <div>{{t('no-data')}}</div>
      }
      @if (percentDone >= 1) {
        <p>{{t('complete') }}</p>
      } @else {
        <p>{{t('total-series-progress-label', {percent: percentDone * 100 | percent}) }}</p>

        <div class="day-breakdown-chart">
          <table class="charts-css pie show-labels">
            <tbody>

            <tr>
              <th scope="row">{{t('completed-series-label')}}</th>
              <td class="completed" style="--start: 0; --end: ' + {{ completedEnd }}">
                <span class="data">{{ breakdown.seriesCompleted }}</span>
              </td>
            </tr>

            <tr>
              <th scope="row">{{t('errored-series-label')}}</th>
              <td class="error" style="--start: ' + {{ errorStart }}; --end: {{ errorEnd }}'">
                <span class="data">{{ breakdown.erroredSeries }}</span>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      }
    }
  </div>
</ng-container>
