.btn {
    width: 100%
}

div {
    text-align: center;
}

a {
    font-size: 0.8rem;
}

.custom-input {
    background-color: #fff !important;
    color: black !important;
}

.invalid-feedback {
    display: inline-block;
    color: #343c59;
}