<ng-container *transloco="let t; read: 'login'">
  <app-splash-container>
    <ng-container title><h2>{{t('title')}}</h2></ng-container>
    <ng-container body>
      <ng-container *ngIf="isLoaded">
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="needs-validation" *ngIf="!firstTimeFlow">
          <div class="card-text">
            <div class="mb-3">
              <label for="username" class="form-label visually-hidden">{{t('username')}}</label>
              <input class="form-control custom-input" formControlName="username" id="username" autocomplete="username"
                     type="text" autofocus [placeholder]="t('username')">
            </div>

            <div class="mb-2">
              <label for="password" class="form-label visually-hidden">{{t('password')}}</label>
              <input class="form-control custom-input" formControlName="password" name="password" autocomplete="current-password"
                     id="password" type="password" [placeholder]="t('password')">
            </div>

            <div class="mb-3 forgot-password">
              <a routerLink="/registration/reset-password">{{t('forgot-password')}}</a>
            </div>

            <div class="sign-in">
              <button class="btn btn-outline-primary" type="submit" [disabled]="isSubmitting">{{t('submit')}}</button>
            </div>
          </div>
        </form>
      </ng-container>
    </ng-container>
  </app-splash-container>
</ng-container>
