.btn {
    width: 100%
}

div {
    text-align: center;
}

a {
    font-size: 0.8rem;
}

.custom-input {
    background-color: #343A40 !important;
    color: #fff !important;
    border-color: var(--login-input-border-color);
    font-family: "League Spartan", sans-serif;

    &:focus {
        border-color: var(--login-input-border-color-focus);
        box-shadow: var(--login-input-box-shadow-focus);
    }

    &::placeholder {
        opacity: 0.5;
        color: #cecece;
        font-family: "League Spartan", sans-serif;
      }
}

.invalid-feedback {
    display: inline-block;
    color: var(--bs-form-invalid-color);
    font-family: "League Spartan", sans-serif;
}

.forgot-password {
    a {
        color: var(--login-forgot-password-color);
        font-family: "League Spartan", sans-serif;
    }
}

.sign-in {
    .btn {
        font-family: 'League Spartan', sans-serif;
    }
}