.btn {
    width: 100%
}

div {
    text-align: center;
}

a {
    font-size: 0.8rem;
    font-family: var(--login-input-font-family);

    &.btn {
        font-size: 1rem;
        padding: 0.375rem 0.75rem;
    }
}

.custom-input {
    background-color: var(--login-input-bg) !important;
    color: var(--login-input-color) !important;
    border-color: var(--login-input-border-color);
    font-family: var(--login-input-font-family);
    font-size: var(--login-input-font-size) !important;

    &:focus {
        border-color: var(--login-input-border-color-focus);
        box-shadow: var(--login-input-box-shadow-focus);
    }

    &::placeholder {
        opacity: var(--login-input-placeholder-opacity);
        color: var(--login-input-placeholder-color);
        font-family: var(--login-input-font-family);
      }
}

.invalid-feedback {
    display: inline-block;
    background: var(--bs-form-invalid-color);
    font-family: var(--login-input-font-family);
    color: var(--login-input-color);
}

.forgot-password {
    a {
        color: var(--login-forgot-password-color);
        font-family: var(--login-input-font-family);
        font-size: var(--login-forgot-password-font-size);
    }
}

.sign-in {
    .btn {
        font-family: var(--login-input-font-family);
    }
}

.text-muted {
  font-size: 0.8rem;
}


hr {
    border-top: 1px solid;
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}