.chooser {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  grid-gap: 0.5rem;
  justify-content: space-around;
}

.scroller {
  max-height: calc(100dvh - 11.25rem);
  overflow-y: auto;

  @media (max-width: 576px) {
    max-height: calc(100dvh - 30rem);
  }
}

.pill {
  font-size: .8rem;
  background-color: var(--card-bg-color);
  border-radius: 0.375rem;
  color: var(--badge-text-color);

  &.active {
    background-color : var(--primary-color);
  }
}

.list-group-item {
  background-color: transparent;

  &:hover {
    background-color: var(--card-bg-color);
    border-radius: 0.3125rem;
  }

  &:active, &.active {
    background-color: var(--card-bg-color);
    border-radius: 0.3125rem;
  }


}


.list-group-item, .list-group-item.active {
  border-top-width: 0;
  border-bottom-width: 0;

}

.card {
  min-height: 100%;
}

.custom-position {
  right: 0.9375rem;
  top: -2.625rem;
}

.section-header {
  color: var(--primary-color);
}
