@let isLeftToRight = readingDirection() === ReadingDirection.LeftToRight;

<div class="container-flex {{darkMode() ? 'dark-mode' : ''}} reader-container {{layoutMode() | columnLayoutClass}} {{writingStyle() | writingStyleClass}}"
     tabindex="0" #reader>
  <ng-container *transloco="let t; prefix: 'book-reader'">
    <div class="fixed-top" #stickyTop>
      <a class="visually-hidden-focusable focus-visible" href="javascript:void(0);" (click)="moveFocus()">{{t('skip-header')}}</a>
      <ng-container [ngTemplateOutlet]="topActionBar"  [ngTemplateOutletContext]="{isTop: true}"></ng-container>
      @if (page() !== undefined) {
        <app-book-line-overlay [parent]="bookContainerElemRef"
                               [libraryId]="libraryId"
                               [volumeId]="volumeId"
                               [chapterId]="chapterId"
                               [seriesId]="seriesId"
                               [pageNumber]="pageNum()"

                               (isOpen)="updateLineOverlayOpen($event)"
                               (refreshToC)="refreshPersonalToC()">
        </app-book-line-overlay>
      }
    </div>

    <div #readingSection class="reading-section {{layoutMode() | columnLayoutClass}} {{writingStyle() | writingStyleClass}}"
         [ngStyle]="{'width': pageWidthForPagination()}"
         [ngClass]="{'immersive' : immersiveMode() || !actionBarVisible()}" [@isLoading]="isLoading()" (click)="handleReaderClick($event)">

      @if (clickToPaginate() && !hidePagination()) {
        <div class="left {{clickOverlayClass('left')}} no-observe"
             (click)="movePage(isLeftToRight ? PAGING_DIRECTION.BACKWARDS : PAGING_DIRECTION.FORWARD)"
             [ngClass]="{'immersive' : immersiveMode()}"
             tabindex="-1"
             [ngStyle]="{height: PageHeightForPagination}"></div>
        <div class="{{scrollbarNeeded() ? 'right-with-scrollbar' : 'right'}} {{clickOverlayClass('right')}} no-observe"
             (click)="movePage(isLeftToRight ? PAGING_DIRECTION.FORWARD : PAGING_DIRECTION.BACKWARDS)"
             [ngClass]="{'immersive' : immersiveMode()}"
             tabindex="-1"
             [ngStyle]="{height: PageHeightForPagination}"></div>
      }

      <div #bookContainer class="book-container {{writingStyle() | writingStyleClass}}"
        [ngClass]="{'immersive' : immersiveMode()}"
           (mousedown)="mouseDown($event)" >

        <div #readingHtml class="book-content {{layoutMode() | columnLayoutClass}} {{writingStyle() | writingStyleClass}}"
             [ngStyle]="{'max-height': columnHeight(), 'max-width': verticalBookContentWidth(), 'width': verticalBookContentWidth(), 'column-width': columnWidth()}"
             [ngClass]="{'immersive': immersiveMode() && actionBarVisible}"
             [innerHtml]="page()" (click)="toggleMenu($event)" (mousedown)="mouseDown($event)" (wheel)="onWheel($event)"></div>

          @if (shouldShowBottomActionBar()) {
            <div class="bottom-bar" (click)="$event.stopPropagation();">
              <ng-container [ngTemplateOutlet]="bottomActionBar" [ngTemplateOutletContext]="{isTop: false}"></ng-container>
            </div>
          }
      </div>
    </div>

    <ng-template #topActionBar>
      @if (shouldShowMenu()) {
        <div class="reader-header">
          <div class="action-bar d-flex align-items-center px-2">
            <button class="btn btn-secondary me-2" (click)="toggleDrawer()">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>

            <div class="flex-grow-1 text-center d-none d-md-block">
              @if (isLoading()) {
                <div class="spinner-border spinner-border-sm text-primary" style="border-radius: 50%;" role="status">
                  <span class="visually-hidden">{{ t('loading-book') }}</span>
                </div>
              } @else {
                @if (incognitoMode()) {
                  <span (click)="turnOffIncognito()" role="button" [attr.aria-label]="t('incognito-mode-alt')">
                    (<i class="fa fa-glasses" aria-hidden="true"></i><span class="visually-hidden">{{ t('incognito-mode-label') }}</span>)
                  </span>
                }
                <span class="ms-1 book-title-text" [ngbTooltip]="bookTitle() + ' - ' + authorText()">
                  {{ bookTitle() }}
                  @if (utilityService.getActiveBreakpoint() >= Breakpoint.Desktop) {
                    - {{ authorText() }}
                  }
                </span>

              }
            </div>

            <div class="d-flex align-items-center ms-auto">
              @if (!this.adhocPageHistory.isEmpty()) {
                <button class="btn btn-outline-secondary btn-icon me-1" (click)="goBack()" [title]="t('go-back')">
                  <i class="fa fa-reply" aria-hidden="true"></i>
                </button>
              }
              <button class="btn btn-secondary btn-icon me-1" (click)="viewBookmarkImages()">
                <i class="fa-solid fa-book-bookmark" aria-hidden="true"></i>
              </button>
              <button class="btn btn-secondary btn-icon me-1" (click)="viewAnnotations()">
                <i class="fa-solid fa-highlighter" aria-hidden="true"></i>
              </button>
              <button class="btn btn-secondary btn-icon" (click)="viewToCDrawer()">
                <i class="fa-regular fa-rectangle-list" aria-hidden="true"></i>
              </button>
              <button class="btn btn-secondary btn-icon me-1" (click)="closeReader()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <div class="progress-bar-container">
            @if (isLoading()) {
              <ngb-progressbar type="primary" height="10px" [value]="1" [max]="1" [striped]="true"></ngb-progressbar>
            } @else {
              <ngb-progressbar type="primary" height="10px" [value]="virtualizedPageNum()" [max]="virtualizedMaxPages()" (click)="goToPage()" [showValue]="true"></ngb-progressbar>
            }
          </div>
        </div>
      }
    </ng-template>

    <ng-template #bottomActionBar>
      <div class="action-bar row g-0 justify-content-between">
        <button class="btn btn-outline-secondary btn-icon col-2 col-xs-1"
                (click)="movePage(isLeftToRight ? PAGING_DIRECTION.BACKWARDS : PAGING_DIRECTION.FORWARD)"
                [disabled]="isPrevDisabled()"
                title="{{isLeftToRight ? t('previous') : t('next')}} Page">
          <i class="fa {{(isLeftToRight ? IsPrevChapter : IsNextChapter) ? 'fa-angle-double-left' : 'fa-angle-left'}} {{isLeftToRight ? '' : 'next-page-highlight'}}" aria-hidden="true"></i>
        </button>

        @if (!this.adhocPageHistory.isEmpty()) {
          <button class="btn btn-outline-secondary btn-icon col-2 col-xs-1" (click)="goBack()" [title]="t('go-back')">
            <i class="fa fa-reply" aria-hidden="true"></i>
          </button>
        }


        <div class="book-title col-3 d-none d-sm-block">
          @if(!isLoading()) {
            <span class="me-1">
                {{t('page-num-label', {page: virtualizedPageNum()})}} / {{virtualizedMaxPages()}}
              </span>

            <span> {{t('completion-label', {percent: (virtualizedPageNum() / virtualizedMaxPages()) | percent})}}</span>
            @if (readingTimeLeftResource.value(); as timeLeft) {
              ,
              <span class="time-left">
                  <i class="fa-solid fa-clock" aria-hidden="true"></i>
                {{timeLeft! | readTimeLeft:true }}
                </span>
            }
          }
        </div>

        <button class="btn btn-outline-secondary btn-icon col-2  col-xs-1"
                [disabled]="isNextDisabled()"
                (click)="movePage(isLeftToRight ? PAGING_DIRECTION.FORWARD : PAGING_DIRECTION.BACKWARDS)"
                title="{{isLeftToRight ? t('next') : t('previous')}} Page">
          <i class="fa {{(isLeftToRight ? IsNextChapter : IsPrevChapter) ? 'fa-angle-double-right' : 'fa-angle-right'}} {{readingDirection() === ReadingDirection.LeftToRight ? 'next-page-highlight' : ''}}" aria-hidden="true"></i>
        </button>
      </div>
    </ng-template>
  </ng-container>
</div>
