<div class="row g-0 mb-4 mt-3">
    <ng-container *ngIf="seriesMetadata.releaseYear > 0">
        <div class="col-lg-1 col-md-4 col-sm-4 col-4 mb-3">
            <app-icon-and-title label="Release" [clickable]="false" fontClasses="fa-regular fa-calendar" title="Release Year">
                {{seriesMetadata.releaseYear}}
            </app-icon-and-title>
        </div>
        <div class="vr d-none d-lg-block m-2"></div>
    </ng-container>

    <ng-container *ngIf="seriesMetadata">
        <ng-container *ngIf="seriesMetadata.ageRating">
            <div class="col-lg-1 col-md-4 col-sm-4 col-4 mb-3">
                <app-icon-and-title label="Age Rating" [clickable]="true" fontClasses="fas fa-eye" (click)="handleGoTo(FilterQueryParam.AgeRating, seriesMetadata.ageRating)" title="Age Rating">
                    {{metadataService.getAgeRating(this.seriesMetadata.ageRating) | async}}
                </app-icon-and-title>
            </div>
            <div class="vr d-none d-lg-block m-2"></div>
        </ng-container>

        <ng-container *ngIf="seriesMetadata.language !== null">
            <div class="col-lg-1 col-md-4 col-sm-4 col-4 mb-3">
                <app-icon-and-title label="Language" [clickable]="true" fontClasses="fas fa-language" (click)="handleGoTo(FilterQueryParam.Languages, seriesMetadata.language)" title="Language">
                    {{seriesMetadata.language | defaultValue:'en' | languageName | async}}
                </app-icon-and-title>
            </div>
            <div class="vr d-none d-lg-block m-2"></div>
        </ng-container>
    </ng-container>

    <ng-container>
        <div class="d-none d-md-block col-lg-1 col-md-4 col-sm-4 col-4 mb-2">
            <ng-container *ngIf="seriesMetadata.publicationStatus | publicationStatus as pubStatus">
                <app-icon-and-title label="Publication" [clickable]="true" fontClasses="fa-solid fa-hourglass-{{pubStatus === 'Ongoing' ? 'empty' : 'end'}}" (click)="handleGoTo(FilterQueryParam.PublicationStatus, seriesMetadata.publicationStatus)" ngbTooltip="Publication Status ({{seriesMetadata.maxCount}} / {{seriesMetadata.totalCount}})">
                    {{pubStatus}}
                </app-icon-and-title>
            </ng-container>
        </div>
        <div class="vr m-2 d-none d-lg-block"></div>
    </ng-container>

    <ng-container *ngIf="series">
        <ng-container>
            <div class="d-none d-md-block col-lg-1 col-md-4 col-sm-4 col-4 mb-2">
                <app-icon-and-title label="Format" [clickable]="true" [fontClasses]="'fa ' + (series.format | mangaFormatIcon)" (click)="handleGoTo(FilterQueryParam.Format, series.format)" title="Format">
                    {{series.format | mangaFormat}}
                </app-icon-and-title>
            </div>
            <div class="vr d-none d-lg-block m-2"></div>
        </ng-container>

        <ng-container *ngIf="series.latestReadDate && series.latestReadDate !== '' && (series.latestReadDate | date: 'shortDate') !== '1/1/01'">
            <div class="d-none d-md-block col-lg-1 col-md-4 col-sm-4 col-4 mb-2">
                <app-icon-and-title label="Last Read" [clickable]="false" fontClasses="fa-regular fa-clock" title="Last Read">
                    {{series.latestReadDate | date:'shortDate'}}
                </app-icon-and-title>
            </div>
            <div class="vr d-none d-lg-block m-2"></div>
        </ng-container>

        <ng-container *ngIf="series.format === MangaFormat.EPUB; else showPages">
            <ng-container *ngIf="series.wordCount > 0">
                <div class="col-lg-1 col-md-4 col-sm-4 col-4 mb-2">
                    <app-icon-and-title label="Word Count" [clickable]="false" fontClasses="fa-solid fa-book-open">
                        {{series.wordCount | compactNumber}} Words
                    </app-icon-and-title>
                </div>
                <div class="vr d-none d-lg-block m-2"></div>
            </ng-container>

        </ng-container>
        <ng-template #showPages>
            <div class="d-none d-md-block col-lg-1 col-md-4 col-sm-4 col-4 mb-2">
                <app-icon-and-title label="Print Length" [clickable]="false" fontClasses="fa-regular fa-file-lines">
                    {{series.pages | compactNumber}} Pages
                </app-icon-and-title>
            </div>
            <div class="vr d-none d-lg-block m-2"></div>
        </ng-template>

        <ng-container *ngIf="series.format === MangaFormat.EPUB && series.wordCount > 0 || series.format !== MangaFormat.EPUB">
            <div class="col-lg-1 col-md-4 col-sm-4 col-4 mb-2">
                <app-icon-and-title label="Read Time" [clickable]="false" fontClasses="fa-regular fa-clock">
                    <ng-container *ngIf="readingTime.maxHours === 0; else normalReadTime">&lt;1 Hour</ng-container>
                    <ng-template #normalReadTime>
                        {{readingTime.minHours}}{{readingTime.maxHours !== readingTime.minHours ? ('-' + readingTime.maxHours) : ''}} Hour{{readingTime.minHours > 1 ? 's' : ''}}
                    </ng-template>
                </app-icon-and-title>
            </div>
        </ng-container>

        <ng-container *ngIf="hasReadingProgress && showReadingTimeLeft && readingTimeLeft && readingTimeLeft.avgHours !== 0">
            <div class="vr d-none d-lg-block m-2"></div>
            <div class="col-lg-1 col-md-4 col-sm-4 col-4 mb-2">
                <app-icon-and-title label="Time Left" [clickable]="false" fontClasses="fa-solid fa-clock">
                    ~{{readingTimeLeft.avgHours}} Hour{{readingTimeLeft.avgHours > 1 ? 's' : ''}} Left
                </app-icon-and-title>
            </div>
        </ng-container>
    </ng-container>
</div>