<form [formGroup]="typeaheadForm">
      <div class="typeahead-input" (click)="onInputFocus($event)">
        <div>
          <input #input [id]="id" type="text" autocomplete="off" formControlName="typeahead" [placeholder]="placeholder"
          aria-haspopup="listbox" aria-owns="dropdown" aria-expanded="hasFocus && (grouppedData.persons.length || grouppedData.collections.length || grouppedData.series.length || grouppedData.persons.length || grouppedData.tags.length || grouppedData.genres.length)"
          aria-autocomplete="list"
          >
          <div class="spinner-border spinner-border-sm" role="status" *ngIf="isLoading">
            <span class="sr-only">Loading...</span>
          </div>
          <button type="button" class="close" aria-label="Close" (click)="resetField()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
      </div>
      <div class="dropdown" *ngIf="hasFocus">
        <ul class="list-group" role="listbox" id="dropdown">
            <ng-container *ngIf="seriesTemplate !== undefined && grouppedData.series.length > 0">
                <li class="list-group-item section-header"><h5 id="series-group">Series</h5></li>
                <ul class="list-group results" role="group" aria-describedby="series-group">
                    <li *ngFor="let option of grouppedData.series; let index = index;" (click)="handleResultlick(option)"  
                        class="list-group-item" aria-labelledby="series-group" role="option" (mouseenter)="focusedIndex = index; focusedIndexGroup['series'] = index; updateHighlight();">
                        <ng-container [ngTemplateOutlet]="seriesTemplate" [ngTemplateOutletContext]="{ $implicit: option, idx: index }"></ng-container>
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="collectionTemplate !== undefined && grouppedData.collections.length > 0">
                <li class="list-group-item section-header"><h5>Collections</h5></li>
                <ul class="list-group results">
                    <li *ngFor="let option of grouppedData.collections; let index = index;" (click)="handleResultlick(option)"  
                        class="list-group-item" role="option" (mouseenter)="focusedIndex = index; focusedIndexGroup['collections'] = index; updateHighlight();">
                        <ng-container [ngTemplateOutlet]="collectionTemplate" [ngTemplateOutletContext]="{ $implicit: option, idx: index }"></ng-container>
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="tagTemplate !== undefined && grouppedData.tags.length > 0">
                <li class="list-group-item section-header"><h5>Tags</h5></li>
                <ul class="list-group results">
                    <li *ngFor="let option of grouppedData.tags; let index = index;" (click)="handleResultlick(option)"  
                        class="list-group-item" role="option" (mouseenter)="focusedIndex = index; focusedIndexGroup['tags'] = index; updateHighlight();">
                        <ng-container [ngTemplateOutlet]="tagTemplate" [ngTemplateOutletContext]="{ $implicit: option, idx: index }"></ng-container>
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="personTemplate !== undefined && grouppedData.persons.length > 0">
                <li class="list-group-item section-header"><h5>Tags</h5></li>
                <ul class="list-group results">
                    <li *ngFor="let option of grouppedData.persons; let index = index;" (click)="handleResultlick(option)"  
                        class="list-group-item" role="option" (mouseenter)="focusedIndex = index; focusedIndexGroup['persons'] = index; updateHighlight();">
                        <ng-container [ngTemplateOutlet]="personTemplate" [ngTemplateOutletContext]="{ $implicit: option, idx: index }"></ng-container>
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="noResultsTemplate != undefined && searchTerm.length > 0 && !grouppedData.persons.length && !grouppedData.collections.length && !grouppedData.series.length && !grouppedData.persons.length && !grouppedData.tags.length && !grouppedData.genres.length">
                <ng-container [ngTemplateOutlet]="noResultsTemplate"></ng-container>
            </ng-container>
        </ul>
    </div>
<!-- 

        <ul class="list-group results" #results>
          <li *ngFor="let option of data; let index = index;" (click)="handleResultlick(option)"  
              class="list-group-item" role="option">
            <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: option, idx: index }"></ng-container>
          </li>
          <li *ngIf="data.length === 0 && notFoundTemplate !== undefined" class="list-group-item no-hover" role="status">
            <ng-container [ngTemplateOutlet]="notFoundTemplate"></ng-container>
          </li>
        </ul>

        <ul class="list-group results" #results>
            <li *ngFor="let option of data; let index = index;" (click)="handleResultlick(option)"  
                class="list-group-item" role="option">
              <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: option, idx: index }"></ng-container>
            </li>
            <li *ngIf="data.length === 0 && notFoundTemplate !== undefined" class="list-group-item no-hover" role="status">
              <ng-container [ngTemplateOutlet]="notFoundTemplate"></ng-container>
            </li>
          </ul>
      </div> -->

  </form>