<ng-container *transloco="let t; read: 'manage-media-issues'">
  <p>{{t('description-part-1')}} <a rel="noopener noreferrer" target="_blank" [href]="WikiLink.MediaIssues">{{t('description-part-2')}}</a></p>

  <form [formGroup]="formGroup">
    <div class="row g-0 mb-3">
      <div class="col-md-12">
        <label for="filter" class="visually-hidden">{{t('filter-label')}}</label>
        <div class="input-group">
          <input id="filter" type="text" class="form-control" [placeholder]="t('filter-label')" formControlName="filter" />
          <button class="btn btn-primary" type="button" (click)="clear()">{{t('clear-alerts')}}</button>
        </div>
      </div>
    </div>
  </form>
  <ngx-datatable
    class="bootstrap"
    [rows]="data | filter: filterList"
    [columnMode]="ColumnMode.flex"
    rowHeight="auto"
    [footerHeight]="50"
    [limit]="15"
  >

    <ngx-datatable-column prop="filePath" [sortable]="true" [draggable]="false" [resizeable]="false" [flexGrow]="3">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('file-header')}}
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.filePath}}
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column prop="comment" [sortable]="true" [draggable]="false" [resizeable]="false" [flexGrow]="1">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('comment-header')}}
      </ng-template>
      <ng-template let-item="row" let-idx="index" ngx-datatable-cell-template>
        {{item.comment}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="createdUtc" [sortable]="true" [draggable]="false" [resizeable]="false" [flexGrow]="1">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('created-header')}}
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        {{item.createdUtc | utcToLocalTime | defaultDate}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</ng-container>
