.carousel-container {
    overflow: hidden;
    padding-top: 15px;
    width: 100%;
    position: relative;
    display: flex;
    float: left;
    flex-direction: column;
}

.section-title {
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
    margin-left: 10px;
    text-decoration: none;
}
