<ng-container *ngIf="currentValue > 0">
   
<div class="number">
   <i class="fa fa-angle-double-down" style="font-size: 36px;" aria-hidden="true"></i>
</div>
<div style="width: 100px; height: 100px;">
   <circle-progress
      [percent]="currentValue"
      [radius]="100"
      [outerStrokeWidth]="15"
      [innerStrokeWidth]="0"
      [space] = "0"
      [backgroundPadding]="0"
      outerStrokeLinecap="butt"
      [outerStrokeColor]="'#4ac694'"
      [innerStrokeColor]="innerStrokeColor"
      titleFontSize= "24"
      unitsFontSize= "24"
      [showSubtitle] = "false"
      [animation]="animation"
      [animationDuration]="300"
      [startFromZero]="false"
      [responsive]="true"
      [backgroundOpacity]="0.5"
      [backgroundColor]="'#000'"
      ></circle-progress>
</div>

</ng-container>
