$background: rgba(0, 0, 0, .4);
$primary-color: #4ac694;

// *{
//     margin: 0;
//     padding: 0;
//     font-family: 'Arial', sans-serif;
//   }
  html, body{
    display:grid;
    height:100%;
    text-align: center;
    place-items: center;
    background: #dde6f0;
  }

  .circular{
    height:100px;
    width: 100px;
    position: relative;  

    .inner{
        position: absolute;
        z-index: 6;
        top: 50%;
        left: 50%;
        height: 80px;
        width: 80px;
        margin: -40px 0 0 -40px;
        background: $background;
        border-radius: 100%;
      }

      .number{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index:10;
        font-size:18px;
        font-weight:500;
        color:$primary-color;
      }

      .bar{
        position: absolute;
        height: 100%;
        width: 100%;
        background: #fff;
        border-radius: 100%;
        clip: rect(0px, 100px, 100px, 50px);
      }
  }

  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: $primary-color;
  }

  .circle .left .progress{
    z-index:1;
    animation: left 4s linear both;
  }
  @keyframes left{
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .right {
    transform: rotate(180deg);
    z-index:3;
   
  }
  .circle .right .progress{
    animation: right 4s linear both;
    animation-delay:4s;
  }
  @keyframes right{
    100%{
      transform: rotate(180deg);
    }
  }