.number {
  position: absolute;
  top: 50%; 
  left: 46%;
  font-size: 18px;
}

.indicator {
  font-weight: 500;
  margin-left: 2px;
  z-index: 10;
  color: var(--primary-color);
  animation: MoveUpDown 1s linear infinite;
}