<ng-container *transloco="let t; read:'user-scrobble-history'">

  <div class="position-relative">
    <button class="btn btn-primary-outline position-absolute custom-position" [disabled]="events.length > 0" (click)="generateScrobbleEvents()" [title]="t('generate-scrobble-events')">
      <i class="fa fa-plus" aria-hidden="true"></i><span class="phone-hidden ms-1">{{t('generate-scrobble-events')}}</span>
    </button>
  </div>

  @if (tokenExpired) {
    <p class="alert alert-warning">{{t('token-expired')}}</p>
  } @else if (!(accountService.currentUser$ | async)!.preferences.aniListScrobblingEnabled) {
    <p class="alert alert-warning">{{t('scrobbling-disabled')}}</p>
  }

  <p>{{t('description')}}</p>
  <p class="fw-bold">{{t('not-read-warning')}}</p>
  <div class="row g-0 mb-2">
    <form [formGroup]="formGroup">
      <div class="form-group pe-1">
        <label for="filter">{{t('filter-label')}}</label>
        <input id="filter" type="text" class="form-control" formControlName="filter" autocomplete="off"/>
      </div>
    </form>
  </div>

  <ngx-datatable
    class="bootstrap"
    [rows]="events"
    [columnMode]="ColumnMode.force"
    (sort)="updateSort($event)"
    (page)="onPageChange($event)"
    rowHeight="auto"
    [footerHeight]="50"
    [externalPaging]="true"
    [count]="pageInfo.totalElements"
    [offset]="pageInfo.pageNumber"
    [limit]="pageInfo.size"
  >

    <ngx-datatable-column prop="lastModifiedUtc" [sortable]="true" [draggable]="false" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('last-modified-header')}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | utcToLocalTime | defaultValue }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="scrobbleEventType" [sortable]="true" [draggable]="false" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('type-header')}}
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | scrobbleEventType}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="seriesName" [sortable]="true" [draggable]="false" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('series-header')}}
      </ng-template>
      <ng-template let-item="row" let-idx="index" ngx-datatable-cell-template>
        <a href="/library/{{item.libraryId}}/series/{{item.seriesId}}" target="_blank" id="scrobble-history--{{idx}}">{{item.seriesName}}</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="data" [sortable]="false" [draggable]="false" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('data-header')}}
      </ng-template>
      <ng-template let-item="row" ngx-datatable-cell-template>
        @switch (item.scrobbleEventType) {
          @case (ScrobbleEventType.ChapterRead) {
            @if(item.volumeNumber === LooseLeafOrDefaultNumber) {
              @if (item.chapterNumber === LooseLeafOrDefaultNumber) {
                {{t('special')}}
              } @else {
                {{t('chapter-num', {num: item.chapterNumber})}}
              }
            }
            @else if (item.chapterNumber === LooseLeafOrDefaultNumber) {
              {{t('volume-num', {num: item.volumeNumber})}}
            }
            @else if (item.chapterNumber === LooseLeafOrDefaultNumber && item.volumeNumber === SpecialVolumeNumber) {
              Special
            }
            @else {
              {{t('volume-and-chapter-num', {v: item.volumeNumber, n: item.chapterNumber})}}
            }
          }
          @case (ScrobbleEventType.ScoreUpdated) {
            {{t('rating', {r: item.rating})}}
          }
          @default {
            {{t('not-applicable')}}
          }
        }
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column prop="isPorcessed" [sortable]="true" [draggable]="false" [resizeable]="false">
      <ng-template let-column="column" ngx-datatable-header-template>
        {{t('is-processed-header')}}
      </ng-template>
      <ng-template let-item="row" let-idx="index" ngx-datatable-cell-template>
        @if(item.isProcessed) {
          <i class="fa-solid fa-check-circle icon" aria-hidden="true"></i>
        } @else if (item.isErrored) {
          <i class="fa-solid fa-circle-exclamation icon error" aria-hidden="true" [ngbTooltip]="item.errorDetails"></i>
        } @else {
          <i class="fa-regular fa-circle icon" aria-hidden="true"></i>
        }
        <span class="visually-hidden" attr.aria-labelledby="scrobble-history--{{idx}}">
              {{item.isProcessed ? t('processed') : t('not-processed')}}
            </span>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</ng-container>
