<h5>Scrobble History</h5>
<p>Here you will find any scrobble events linked with your account. In order for events to exist, you must have an active
  scrobble provider configured. All events that have been processed will clear after a month. If there are non-processed events, it
  is likely these cannot form matches upstream. Please reach out to your admin to get them corrected.</p>
<ng-container *ngIf="events$ | async as events">
    <table class="table table-light table-striped table-hover table-sm scrollable">
      <thead>
      <tr>
        <th scope="col">
          Last Modified
        </th>
        <th scope="col">
          Type
        </th>
        <th scope="col" >
          Series
        </th>
        <th scope="col">
          Data
        </th>
        <th scope="col">
          Is Processed
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of events; let idx = index;">
        <td>
          {{item.lastModified | date:'MM/dd/yyyy h:mm a' }}
        </td>
        <td>
          {{item.scrobbleEventType | scrobbleEventType}}
        </td>
        <td id="scrobble-history--{{idx}}">
          <a href="/library/{{item.libraryId}}/series/{{item.seriesId}}" target="_blank">{{item.seriesName}}</a>
        </td>
        <td>
          <ng-container [ngSwitch]="item.scrobbleEventType">
            <ng-container *ngSwitchCase="ScrobbleEventType.ChapterRead">
              Volume {{item.volumeNumber}} Chapter {{item.chapterNumber}}
            </ng-container>
            <ng-container *ngSwitchCase="ScrobbleEventType.ScoreUpdated">
              Rating {{item.rating}}
            </ng-container>
            <ng-container *ngSwitchDefault>
              Not Applicable
            </ng-container>
          </ng-container>
        </td>
        <td>
          <i class="fa-regular fa-circle icon" aria-hidden="true" *ngIf="!item.isProcessed"></i>
          <i class="fa-solid fa-check-circle icon" aria-hidden="true" *ngIf="item.isProcessed"></i>
          <span class="visually-hidden" attr.aria-labelledby="scrobble-history--{{idx}}">{{item.isProcessed ? 'Processed' : 'Not Processed'}}</span>
        </td>
      </tr>
      </tbody>
    </table>
</ng-container>
