<ng-container *transloco="let t; read:'user-scrobble-history'">
  <h5>{{t('title')}}</h5>
  <p>{{t('description')}}</p>
  <p class="fw-bold">{{t('not-read-warning')}}</p>
  <div class="row g-0 mb-2">
    <div class="col-md-10">
      <form [formGroup]="formGroup">
        <div class="form-group pe-1">
          <label for="filter">{{t('filter-label')}}</label>
          <input id="filter" type="text" class="form-control" formControlName="filter" autocomplete="off"/>
        </div>
      </form>
    </div>
    <div class="col-md-2 mt-4">
      @if(pagination) {
        <ngb-pagination [(page)]="pagination.currentPage"
                        [pageSize]="pagination.itemsPerPage"
                        [collectionSize]="pagination.totalItems"
                        (pageChange)="onPageChange($event)"
        ></ngb-pagination>
      }
    </div>
  </div>
  <table class="table table-striped table-sm scrollable">
    <thead>
    <tr>
      <th scope="col" sortable="lastModifiedUtc" (sort)="updateSort($event)" direction="desc">
        {{t('last-modified-header')}}
      </th>
      <th scope="col">
        {{t('type-header')}}
      </th>
      <th scope="col" sortable="seriesName" (sort)="updateSort($event)">
        {{t('series-header')}}
      </th>
      <th scope="col">
        {{t('data-header')}}
      </th>
      <th scope="col">
        {{t('is-processed-header')}}
      </th>
    </tr>
    </thead>
    <tbody>
      @for(item of events; track item; let idx = $index) {
        <tr>
          <td>
            {{item.lastModifiedUtc | utcToLocalTime | defaultValue }}
          </td>
          <td>
            {{item.scrobbleEventType | scrobbleEventType}}
          </td>
          <td id="scrobble-history--{{idx}}">
            <a href="/library/{{item.libraryId}}/series/{{item.seriesId}}" target="_blank">{{item.seriesName}}</a>
          </td>
          <td>
            @switch (item.scrobbleEventType) {
              @case (ScrobbleEventType.ChapterRead) {
                @if(item.volumeNumber === LooseLeafOrDefaultNumber) {
                  @if (item.chapterNumber === LooseLeafOrDefaultNumber) {
                    {{t('special')}}
                  } @else {
                    {{t('chapter-num', {num: item.chapterNumber})}}
                  }
                }
                @else if (item.chapterNumber === LooseLeafOrDefaultNumber) {
                  {{t('volume-num', {num: item.volumeNumber})}}
                }
                @else if (item.chapterNumber === LooseLeafOrDefaultNumber && item.volumeNumber === SpecialVolumeNumber) {
                  Special
                }
                @else {
                  {{t('volume-and-chapter-num', {v: item.volumeNumber, n: item.chapterNumber})}}
                }
              }
              @case (ScrobbleEventType.ScoreUpdated) {
                {{t('rating', {r: item.rating})}}
              }
              @default {
                {{t('not-applicable')}}
              }
            }
          </td>
          <td>
            @if(item.isProcessed) {
              <i class="fa-solid fa-check-circle icon" aria-hidden="true"></i>
            } @else if (item.isErrored) {
              <i class="fa-solid fa-circle-exclamation icon error" aria-hidden="true" [ngbTooltip]="item.errorDetails"></i>
            } @else {
              <i class="fa-regular fa-circle icon" aria-hidden="true"></i>
            }
            <span class="visually-hidden" attr.aria-labelledby="scrobble-history--{{idx}}">
            {{item.isProcessed ? t('processed') : t('not-processed')}}
          </span>
          </td>
        </tr>
      } @empty {
        <tr><td colspan="6" style="text-align: center;">{{t('no-data')}}</td></tr>
      }

    </tbody>
  </table>
</ng-container>
