.scrollable-modal {
    max-height: calc(var(--vh) * 100 - 198px); // 600px
    overflow: auto;
}

.lock-active {
    > .input-group-text {
        background-color: var(--primary-color);
        color: white;
    }
}
