.error {
  color: var(--error-color);
}

.successful-validation {
    color: var(--primary-color);
}

.custom-position {
  right: 15px;
  top: -42px;
}

.custom-position-2 {
  right: 160px;
  top: -42px;
}
