.error {
  color: var(--error-color);
}

.successful-validation {
    color: var(--primary-color);
}

.custom-position {
  right: 0.9375rem;
  top: -2.625rem;
}

.custom-position-2 {
  right: 10.0rem;
  top: -2.625rem;
}
