<div class="card mt-2">
    <div class="card-body">
        <div class="card-title">
            <div class="row mb-2">
                <div class="col-11"><h4 id="age-restriction">Age Restriction</h4></div>
                <div class="col-1">
                    <button class="btn btn-primary btn-sm" (click)="toggleViewMode()" *ngIf="(hasChangeAgeRestrictionAbility | async)">{{isViewMode ? 'Edit' : 'Cancel'}}</button>
                </div>
            </div>
        </div>

        <ng-container *ngIf="isViewMode">
            <span >{{user?.ageRestriction | ageRating | async}}</span>
        </ng-container>

        <div #collapse="ngbCollapse" [(ngbCollapse)]="isViewMode">
            <ng-container *ngIf="user">
                <app-restriction-selector (selected)="updateRestrictionSelection($event)" [showContext]="false" [member]="user" [reset]="reset"></app-restriction-selector>
                
                <div class="col-auto d-flex d-md-block justify-content-sm-center text-md-end mb-3">
                    <button type="button" class="flex-fill btn btn-secondary me-2" aria-describedby="age-restriction" (click)="resetForm()">Reset</button>
                    <button type="submit" class="flex-fill btn btn-primary" aria-describedby="age-restriction" (click)="saveForm()">Save</button>
                </div>
            </ng-container>
        </div>

        
    </div>
    

</div>

