<ng-container *transloco="let t; read: 'all-filters'">
  <div class="main-container">
    <app-side-nav-companion-bar [hasFilter]="false">
      <h4 title>
        {{t('title')}}
      </h4>
      <div subtitle>
        <h6>
          <span>{{t('count', {count: filters.length | number})}}</span>
          <a class="ms-2" href="/all-series?name=New%20Filter">{{t('create')}}</a>
        </h6>

      </div>

    </app-side-nav-companion-bar>

    <app-manage-smart-filters [target]="'_self'"></app-manage-smart-filters>
  </div>
</ng-container>
