<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Invite User</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>
        Invite a user to your server. Enter their email in and we will send them an email to create an account.
    </p>
    

    <form [formGroup]="inviteForm">
        <div class="row no-gutters">
            <div class="form-group" style="width:100%">
                <label for="email">Email</label>
                <input class="form-control" type="email" id="email" formControlName="email" required>
                <div id="inviteForm-validations" class="invalid-feedback" *ngIf="inviteForm.dirty || inviteForm.touched">
                    <div *ngIf="email?.errors?.required">
                        This field is required
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="!accessible && checkedAccessibility">
            <div class="row no-gutters">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group" style="width:100%">
                        <label for="username">Username</label>
                        <input class="form-control" type="email" id="username" formControlName="username" required>
                        <div id="inviteForm-validations" class="invalid-feedback" *ngIf="inviteForm.dirty || inviteForm.touched">
                            <div *ngIf="username?.errors?.required">
                                This field is required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group" style="width:100%">
                        <label for="password">Password</label>
                        <!-- TODO: A show password button-->
                        <input class="form-control" type="email" id="password" formControlName="password" required>
                        <div id="inviteForm-validations" class="invalid-feedback" *ngIf="inviteForm.dirty || inviteForm.touched">
                            <div *ngIf="password?.errors?.required">
                                This field is required
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </ng-container>
    
        <div class="row no-gutters">
            <div class="col-md-6">
                <app-role-selector (selected)="updateRoleSelection($event)" [allowAdmin]="true"></app-role-selector>
            </div>

            <div class="col-md-6">
                <app-library-selector (selected)="updateLibrarySelection($event)"></app-library-selector>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
        Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="invite()" [disabled]="isSending || !inviteForm.valid || !accessible">
        <span *ngIf="isSending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span>{{isSending ? 'Inviting...' : 'Invite'}}</span>
    </button>
</div>
