<div class="row">
  <div class="col-auto custom-col" style="cursor: pointer" [ngbPopover]="popContent"
       popoverTitle="Series Rating"
       [autoClose]="false">
    <span class="badge rounded-pill me-1">
      <img class="me-1" ngSrc="assets/images/logo.png" width="24" height="24" alt="">
      {{userRating * 20}}%
    </span>
  </div>

  <div class="col-auto custom-col" *ngFor="let rating of ratings">
    <span class="badge rounded-pill me-1">
      <img class="me-1" [ngSrc]="rating.provider | providerImage" width="24" height="24" alt="">
      {{rating.averageScore}}%
    </span>
  </div>
  <div class="col-auto" style="padding-top: 8px">
    <app-loading [loading]="isLoading" size="spinner-border-sm"></app-loading>
  </div>
</div>

<ng-template #popContent>
  <ngb-rating class="rating-star col-auto" [(rate)]="userRating" (rateChange)="updateRating($event)" [resettable]="false">
    <ng-template let-fill="fill" let-index="index">
      <span class="star" [class.filled]="(index < userRating) && userRating > 0">&#9733;</span>
    </ng-template>
  </ngb-rating>
</ng-template>
