.custom-col {
    padding-left: 0px;
    padding-right: 0px;
}

.badge {
  color: var(--badge-text-color);
}

.sm-popover {
  width: 150px;

  > .popover-body {
    padding-top: 10px;
  }
}

.md-popover {
  width: 214px;

  > .popover-body {
    padding-top: 10px;
  }
}

.lg-popover {
  width: 320px;

  > .popover-body {
    padding-top: 10px;
  }
}

.rating-star {
  i {
    position: relative;
    display: inline-block;
    padding-right: 0.1rem;
    color: #d3d3d3;
  }

  .filled {
    color: var(--primary-color);

  }
}
::ng-deep .star {
  background-color: var(--primary-color);
}
