<ng-container>
  <p>
    {{t('description')}}
  </p>

  <form [formGroup]="keyBindForm">
    @for (key of Object.keys(DefaultKeyBinds); track key) {
      @if (getFormArray(key); as array) {
        <app-setting-item
          [title]="t('key-bind-title-' + key)"
          [subtitle]="t('key-bind-tooltip-' + key)"
          [labelId]="key + ''"
        >
          <ng-template #view>
            <div class="d-flex flex-row justify-content-between">
              <div>
                @for (combo of array.controls; track $index;) {
                  <app-tag-badge appLongClick
                                 [selectionMode]="TagBadgeCursor.Clickable"
                                 (click)="selectIndex(key, $index)"
                                 (longClick)="removeKeyBind(key, $index)"
                  >
                    {{getReadableComboLabel(combo.value) | defaultValue}}
                  </app-tag-badge>
                }
              </div>

              <div class="float-end">

                @if (array.controls.length < 5) {
                  <button class="btn btn-sm" (click)="addKeyBind(key); $event.preventDefault(); $event.stopPropagation()">
                    <i class="fa fa-add"></i>
                  </button>
                }

                <button class="btn btn-sm" (click)="resetKeybindsToDefaults(key); $event.preventDefault(); $event.stopPropagation()">
                  <i class="fa fa-recycle"></i>
                </button>
              </div>

            </div>

            @if (!array.valid) {
              <span class="text-danger error-text" (click)="$event.preventDefault(); $event.stopPropagation()">
                {{t('invalid-key-combos')}}
              </span>
            }

          </ng-template>
          <ng-template #edit>
            <div [formArrayName]="key">
              @let index = selectedIndexes().get(key) + '';
              @if (array.get(index)) {
                <app-setting-key-bind-picker [formControlName]="index" />
              }
            </div>
          </ng-template>
        </app-setting-item>
      }
    }
  </form>

</ng-container>
