<ng-container *transloco="let t; prefix:'user-preferences'">
  <p>
    {{t('pref-description')}}
  </p>

  @if (!loading()) {
    <form class="mb-4">
      <h4>{{t('global-settings-title')}}</h4>
      <ng-container>

        <div class="row g-0 mt-4 mb-4">
          <app-setting-item [title]="t('locale-label')" [subtitle]="t('locale-tooltip')" labelId="locale" [canEdit]="!isReadOnly()">
            <ng-template #view>
              {{selectedLocale() | titlecase}}
            </ng-template>
            <ng-template #edit>
              <select class="form-select" aria-describedby="global-header" [formField]="formGroup.locale" id="locale">
                @for(opt of locales(); track opt.renderName) {
                  <option [value]="opt.fileName">{{opt.renderName | titlecase}} ({{opt.translationCompletion | number:'1.0-1'}}%)</option>
                }
              </select>
            </ng-template>
          </app-setting-item>
        </div>

        <div class="row g-0 mt-4 mb-4">
          <app-setting-switch [title]="t('blur-unread-summaries-label')" [subtitle]="t('blur-unread-summaries-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.blurUnreadSummaries" class="form-check-input"
                       aria-labelledby="auto-close-label">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>


        <div class="row g-0 mt-4 mb-4">
          <app-setting-switch [title]="t('prompt-on-download-label')" [subtitle]="t('prompt-on-download-tooltip', {size: '100'})">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.promptForDownloadSize" class="form-check-input"
                       aria-labelledby="auto-close-label">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>

        <div class="row g-0 mt-4 mb-4">
          <app-setting-switch [title]="t('disable-animations-label')" [subtitle]="t('disable-animations-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.noTransitions" class="form-check-input"
                       aria-labelledby="auto-close-label">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>

        <div class="row g-0 mt-4 mb-4">
          <app-setting-switch [title]="t('collapse-series-relationships-label')" [subtitle]="t('collapse-series-relationships-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.collapseSeriesRelationships" class="form-check-input"
                       aria-labelledby="auto-close-label">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>

        <div class="row g-0 mt-4 mb-4">
          <app-setting-switch [title]="t('colorscape-label')" [subtitle]="t('colorscape-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.colorScapeEnabled" class="form-check-input"
                       aria-labelledby="auto-close-label">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>

        <div class="row g-0 mt-4 mb-4">
          <app-setting-switch [title]="t('data-saver-label')" [subtitle]="t('data-saver-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.dataSaver" class="form-check-input"
                       aria-labelledby="auto-close-label">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>

        <div class="row g-0 mt-4 mb-4">
          <app-setting-item [title]="t('prompt-for-rereads-after-label')" [subtitle]="t('prompt-for-rereads-after-tooltip')" [canEdit]="!isReadOnly()" [control]="formGroup.promptForRereadsAfter" labelId="prompt-for-rereads-after">
            <ng-template #view>
              <span> {{formGroup.promptForRereadsAfter().value()}} </span>
            </ng-template>
            <ng-template #edit>
              <input type="number" id="prompt-for-rereads-after"
                     [formField]="formGroup.promptForRereadsAfter" class="form-control"
                     aria-labelledby="auto-close-label" [appFormField]="formGroup.promptForRereadsAfter">
            </ng-template>
          </app-setting-item>
        </div>

        <div class="row g-0 mt-4 mb-4">
          <app-setting-item [title]="t('ondeck-progress-days-label')" [subtitle]="t('ondeck-progress-days-tooltip')" [canEdit]="!isReadOnly()" [control]="formGroup.promptForRereadsAfter" labelId="prompt-for-rereads-after">
            <ng-template #view>
              <span> {{formGroup.onDeckProgressDays().value()}} </span>
            </ng-template>
            <ng-template #edit>
              <input type="number"
                     [formField]="formGroup.onDeckProgressDays" class="form-control"
                     aria-labelledby="auto-close-label" [appFormField]="formGroup.onDeckProgressDays">
            </ng-template>
          </app-setting-item>
        </div>

        <div class="row g-0 mt-4 mb-4">
          <app-setting-item [title]="t('ondeck-update-days-label')" [subtitle]="t('ondeck-update-days-tooltip')" [canEdit]="!isReadOnly()" [control]="formGroup.promptForRereadsAfter" labelId="prompt-for-rereads-after">
            <ng-template #view>
              <span> {{formGroup.onDeckUpdateDays().value()}} </span>
            </ng-template>
            <ng-template #edit>
              <input type="number"
                     [formField]="formGroup.onDeckUpdateDays" class="form-control"
                     aria-labelledby="auto-close-label" [appFormField]="formGroup.onDeckProgressDays">
            </ng-template>
          </app-setting-item>
        </div>

        <div class="row g-0 mt-4 mb-4">
          <app-setting-item [canEdit]="false" [showEdit]="false" [allowClickEvents]="true"
                            [title]="t('highlight-bar-label')" [subtitle]="t('highlight-bar-tooltip')">
            <ng-template #view>
              <app-highlight-bar
                [isCollapsed]="false"
                [canCollapse]="false"
                [selectedSlotIndex]="0"
                [isEditMode]="!isReadOnly()"
                [allowEditMode]="false"
              />
            </ng-template>
          </app-setting-item>
        </div>

      </ng-container>

      <div class="setting-section-break"></div>

      <h4>{{t('social-settings-title')}}</h4>
      <ng-container>

        <div class="row g-0 mt-4">
          <app-setting-switch [title]="t('social-share-profile-label')" [subtitle]="t('social-share-profile-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.socialPreferences.shareProfile" class="form-check-input">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>

        <div class="row g-0 mt-4">
          <app-setting-switch [title]="t('share-series-reviews-label')" [subtitle]="t('share-series-reviews-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.socialPreferences.shareReviews" class="form-check-input"
                       aria-labelledby="auto-close-label">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>

        <div class="row g-0 mt-4">
          <app-setting-switch [title]="t('share-annotations-label')" [subtitle]="t('share-annotations-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.socialPreferences.shareAnnotations" class="form-check-input">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>

        <div class="row g-0 mt-4">
          <app-setting-switch [title]="t('view-other-annotations-label')" [subtitle]="t('view-other-annotations-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.socialPreferences.viewOtherAnnotations" class="form-check-input">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>

        <div class="row g-0 mt-4">
          <app-setting-item
            [title]="t('social-libraries-label')"
            [subtitle]="t('social-libraries-tooltip')"
            [showEdit]="false" [canEdit]="false" [control]="formGroup.socialPreferences.socialLibraries"
          >
            <ng-template #view>
              @let socialLibConfig = socialLibrariesTypeaheadSettings();
              @if (socialLibConfig) {
                <app-typeahead [config]="socialLibConfig" (selectedData)="syncFormWithTypeahead($event)" [disabled]="isReadOnly()">
                  <ng-template #optionItem let-lib>
                    {{lib.name}}
                  </ng-template>
                  <ng-template #badgeItem let-lib>
                    {{lib.name}}
                  </ng-template>
                </app-typeahead>
              }
            </ng-template>
          </app-setting-item>
        </div>

        <div class="row g-0 mt-4">
          <app-setting-item [control]="formGroup.socialPreferences.socialMaxAgeRating" [title]="t('social-max-age-rating-label')" [subtitle]="t('social-max-age-rating-tooltip')" [canEdit]="!isReadOnly()">
            <ng-template #view>
              {{formGroup.socialPreferences.socialMaxAgeRating().value() | ageRating}}
            </ng-template>
            <ng-template #edit>
              <app-setting-select [formField]="formGroup.socialPreferences.socialMaxAgeRating" [options]="ageRatings()">
                <ng-template #template let-ar>
                  {{ar | ageRating}}
                </ng-template>
              </app-setting-select>
            </ng-template>
          </app-setting-item>
        </div>

        <div class="row g-0 mt-4">
          <app-setting-switch [title]="t('social-include-unknowns-label')" [subtitle]="t('social-include-unknowns-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.socialPreferences.socialIncludeUnknowns" class="form-check-input">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>
      </ng-container>

      <div class="setting-section-break"></div>

      <h4>{{t('opds-settings-title')}}</h4>
      <ng-container>
        <div class="row g-0 mt-4">
          <app-setting-switch [title]="t('embed-progress-indicator-label')" [subtitle]="t('embed-progress-indicator-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.opdsPreferences.embedProgressIndicator" class="form-check-input"
                       aria-labelledby="auto-close-label">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>

        <div class="row g-0 mt-4">
          <app-setting-switch [title]="t('include-continue-from-label')" [subtitle]="t('include-continue-from-tooltip')">
            <ng-template>
              <div class="form-check form-switch float-end">
                <input type="checkbox" role="switch"
                       [formField]="formGroup.opdsPreferences.includeContinueFrom" class="form-check-input">
              </div>
            </ng-template>
          </app-setting-switch>
        </div>
      </ng-container>

    </form>
  }


</ng-container>
