<ng-container *transloco="let t; read: 'table-of-contents'">
  <div class="table-of-contents">
    @if (chapters.length === 0) {
      <div>
        <em>{{t('no-data')}}</em>
      </div>
    } @else if (chapters.length === 1) {
      <div>
        <ul>
          @for(chapter of chapters[0].children; track chapter.title) {
            <li class="{{chapter.page === pageNum ? 'active': ''}}">
              <a href="javascript:void(0);" (click)="loadChapterPage(chapter.page, chapter.part)">{{chapter.title}}</a>
            </li>
          }
        </ul>
      </div>
    } @else {
      @for (chapterGroup of chapters; track chapterGroup.title + chapterGroup.children.length) {
        <ul class="chapter-title">
          <li class="{{chapterGroup.page === pageNum ? 'active': ''}}" (click)="loadChapterPage(chapterGroup.page, '')">
            {{chapterGroup.title}}
          </li>
          @for(chapter of chapterGroup.children; track chapter.title + chapter.part) {
            <ul>
              <li class="{{cleanIdSelector(chapter.part) === currentPageAnchor ? 'active' : ''}}">
                <a href="javascript:void(0);" (click)="loadChapterPage(chapter.page, chapter.part)">{{chapter.title}}</a>
              </li>
            </ul>
          }
        </ul>
      }

    }

  </div>
</ng-container>
