<div class="container">
    <div class="row mb-2">
        <div class="col-8"><h3>Libraries</h3></div>
        <div class="col-4"><button class="btn btn-primary pull-right" (click)="addLibrary()">New Library</button></div>
    </div>
    <ul class="list-group" *ngIf="!createLibraryToggle; else createLibrary">
        <li *ngFor="let library of libraries" class="list-group-item">
            <div>
                <h4>
                    {{library.name | titlecase}}
                    <div class="pull-right">
                        <button class="btn btn-secondary mr-2 btn-sm" (click)="scanLibrary(library)"><i class="fa fa-sync-alt" title="Scan"></i></button>
                        <button class="btn btn-danger mr-2 btn-sm" (click)="deleteLibrary(library)"><i class="fa fa-trash" title="Delete {{library.name | titlecase}}"></i></button>
                        <button class="btn btn-primary btn-sm" (click)="editLibrary(library)"><i class="fa fa-pencil" title="Edit {{library.name | titlecase}}"></i></button>
                    </div>
                </h4>
            </div>
        </li>
    </ul>
    <ng-template #createLibrary>
        <app-library-editor-modal></app-library-editor-modal>
    </ng-template>
</div>