.profile-image {
    font-size: 2rem;
    padding: 20px;
}

.my-review {
    position: absolute;
    z-index: 20;
    top: 38px;
    left: 38px;
    color: var(--review-card-star-color);
}

.card-text {
    font-size: 14px;
}

.card-title {
    overflow: hidden;
    width: 235px;
    word-break: break-all;
    height: 20px;
}

.card-text.no-images {
    min-height: 63px;
    max-height: 63px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-footer {
    width: 288px;
}

.card {
    cursor: pointer;
}

.no-images img {
    display: none;
}

.card-footer {
    font-size: 13px
}
