.review-card {
  max-width: 20rem;
  max-height: 8.125rem;
  height: 8.125rem;
  width: 20rem;
}

.profile-image {
    font-size: 1.2rem;
    padding: 1.25rem;
}

.my-review {
    position: absolute;
    z-index: 20;
    top: 2.375rem;
    left: 2.375rem;
}

.fa-star {
  color: var(--review-card-star-color);
}

.card-text {
    font-size: 0.875rem;
}

.card-title {
    overflow: hidden;
    width: 14.6875rem;
    word-break: break-all;
    height: 1.25rem;
}

.card-text.no-images {
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-images img {
    display: none;
}

.card-footer {
    font-size: 0.8125rem;
    display: flex;
    max-width: 19.9375rem;
    justify-content: space-between;
    margin: 0 auto;

    & > * {
        margin: 0 0.3125rem;
        display: inline-flex;
    }
}

.card-body {
    display: block;
    visibility: visible;
    min-height: 5.8438rem;
    max-height: 5.8438rem;
}