<div class="row mb-2" *ngFor="let filterStmt of filterStatements; let i = index">
    <div class="col-md-1">
        <button class="btn btn-icon" (click)="addFilter()">
            A
        </button>
    </div>
    <div class="col-md-10">
        <app-metadata-row-filter [preset]="filterStmt" (filterStatement)="updateFilter(i, $event)"></app-metadata-row-filter>
    </div>
    <div class="col-md-1">
        <button class="btn btn-icon" (click)="removeFilter(i)" *ngIf="i > 0">
            Remove
        </button>
    </div>
</div>