<ng-container *transloco="let t; prefix:'edit-license-key'">
  <form [formGroup]="formGroup">
    <div class="mt-2">
      <div class="form-group mb-1">
        @if (formGroup.get('licenseKey'); as formControl) {
          <label for="license-key">{{t('activate-license-label')}}</label>
          <input id="license-key" type="text" class="form-control" formControlName="licenseKey" autocomplete="off"
                 placeholder="XXXX-XXXX-XXXX-XXXX" aria-describedby="license-key-validations" aria-details="license-help-block"
                 [appFormField]="formControl" />

          @if (hasLicense()) {
            <div id="license-help-block" class="form-text">
              {{t('license-help')}}
            </div>
          }

          <app-validation-errors [control]="formControl" inputId="license-key" [messages]="{
            required: t('required-field-validation'),
            minlength: t('license-length-validation'),
            maxlength: t('license-length-validation'),
            pattern: t('license-format-validation')
          }" />

        }
      </div>
      <div class="form-group mb-1">
        @if (formGroup.get('email'); as formControl) {
          <label for="email">{{t('activate-email-label')}}</label>
          <input id="email" type="email" class="form-control" formControlName="email" autocomplete="off"
                 placeholder="you@domain.com" aria-describedby="email-validations" aria-details="email-help-block"
                 [appFormField]="formControl" />
          <div id="email-help-block" class="form-text">
            {{t('email-help')}}
          </div>

          <app-validation-errors [control]="formControl" inputId="email" [messages]="{
            required: t('required-field-validation'),
            email: t('email-format-validation'),
          }" />
        }
      </div>
    </div>
  </form>
</ng-container>
