<div class="main-container">
<app-side-nav-companion-bar />

  @let isAdmin = accountService.hasAdminRole();

  <ng-container *transloco="let t; prefix: 'dashboard'">
    @if (libraries$ | async; as libraries) {
      @if (libraries.length === 0) {
        <div class="mt-3">
          @if (isAdmin) {
            <div class="d-flex justify-content-center">
              <p>{{t('no-libraries')}} <a routerLink="/settings" [fragment]="SettingsTabId.Libraries">{{t('server-settings-link')}}</a>.</p>
            </div>
          } @else {
            <div class="d-flex justify-content-center">
              <p>{{t('not-granted')}}</p>
            </div>
          }
        </div>
      }
    }

    @for(stream of streams; track stream.id) {
      @switch (stream.streamType) {
        @case (StreamType.OnDeck) {
          <ng-container [ngTemplateOutlet]="onDeck" [ngTemplateOutletContext]="{ stream: stream }" />
        }
        @case (StreamType.RecentlyUpdated) {
          <ng-container [ngTemplateOutlet]="recentlyUpdated" [ngTemplateOutletContext]="{ stream: stream }" />
        }
        @case (StreamType.NewlyAdded) {
          <ng-container [ngTemplateOutlet]="newlyUpdated" [ngTemplateOutletContext]="{ stream: stream }" />
        }
        @case (StreamType.SmartFilter) {
          <ng-container [ngTemplateOutlet]="smartFilter" [ngTemplateOutletContext]="{ stream: stream }" />
        }
        @case (StreamType.MoreInGenre) {
          <ng-container [ngTemplateOutlet]="moreInGenre" [ngTemplateOutletContext]="{ stream: stream }" />
        }
      }


      <ng-template #smartFilter let-stream: DashboardStream>
        @if(stream.api | async; as data) {
          <app-carousel-reel
            [items]="data"
            [title]="stream.name"
            [nextPageLoader]="smartFilterNextPage(stream)"
            (sectionClick)="handleFilterSectionClick(stream)"
          >
            <ng-template #carouselItem let-item let-idx>
              @switch (stream.entityType) {
                @case (FilterEntityType.Series) {
                  <app-entity-card [entity]="item" [config]="seriesConfig()" (reload)="reloadStream(stream.id, true)"
                                   (dataChanged)="reloadStream(stream.id)" />
                }
                @case (FilterEntityType.ReadingList) {
                  <app-entity-card [entity]="item" [index]="idx" [maxIndex]="data.length" [config]="readingListConfig()">
                    <ng-template #title let-entity>
                      <app-promoted-icon [promoted]="entity.data.promoted" /> {{entity.data.title}}
                    </ng-template>
                  </app-entity-card>
                }
                @default {
                  Not Implemented!
                }
              }

            </ng-template>
          </app-carousel-reel>
        }
      </ng-template>

      <ng-template #onDeck let-stream: DashboardStream>
        @if(stream.api | async; as data) {
          <app-carousel-reel
            [items]="data"
            [title]="t('on-deck-title')"
            [nextPageLoader]="onDeckNextPage(stream)"
            (sectionClick)="handleSectionClick(StreamId.OnDeck)"
          >
            <ng-template #carouselItem let-item>
              <app-entity-card [entity]="item" [config]="seriesConfig()" (reload)="reloadStream(stream.id, true)"
                               (dataChanged)="reloadStream(stream.id, true)" />
            </ng-template>
          </app-carousel-reel>
        }
      </ng-template>

      <ng-template #recentlyUpdated let-stream: DashboardStream>
        @if(stream.api | async; as data) {
          <app-carousel-reel
            [items]="data"
            [title]="t('recently-updated-title')"
            [nextPageLoader]="onRecentlyUpdatedNextPage(stream)"
            (sectionClick)="handleSectionClick(StreamId.RecentlyUpdatedSeries)"
          >
            <ng-template #carouselItem let-item>
              <app-entity-card [entity]="item" [config]="recentlyUpdatedConfig()" />
            </ng-template>
          </app-carousel-reel>
        }
      </ng-template>

      <ng-template #newlyUpdated let-stream: DashboardStream>
        @if(stream.api | async; as data) {
          <app-carousel-reel
            [items]="data"
            [title]="t('recently-added-title')"
            [nextPageLoader]="onRecentlyAddedNextPage(stream)"
            (sectionClick)="handleSectionClick(StreamId.NewlyAddedSeries)"
          >
            <ng-template #carouselItem let-item>
              <app-entity-card [entity]="item" [config]="seriesConfig()" (reload)="reloadStream(stream.id, true)"
                               (dataChanged)="reloadStream(stream.id)" />
            </ng-template>
          </app-carousel-reel>
        }
      </ng-template>

      <ng-template #moreInGenre let-stream: DashboardStream>
        @if(stream.api | async; as data) {
          <app-carousel-reel
            [items]="data"
            [title]="t('more-in-genre-title', {genre: genre?.title})"
            (sectionClick)="handleSectionClick(StreamId.MoreInGenre)"
          >
            <ng-template #carouselItem let-item>
              <app-entity-card [entity]="item" [config]="seriesConfig()" (reload)="reloadStream(stream.id, true)"
                               (dataChanged)="reloadStream(stream.id)" />
            </ng-template>
          </app-carousel-reel>
        }
      </ng-template>
    }

    <app-loading [loading]="isLoadingDashboard() || (streamCount !== streamsLoaded)" />
  </ng-container>
</div>

