<ng-container *transloco="let t; prefix: 'avg-time-reading-by-hour'">

  <div class="card stats-card p-4">

    <h4 class="stats-title">{{t('title')}}</h4>

    @let mostTimeSpendReadingValue = mostTimeSpendReading();
    @if (mostTimeSpendReadingValue !== null) {
      <span class="stats-subtitle mb-4">{{t('most-time-spend-reading', {
        name: userName(),
        startHour: mostTimeSpendReadingValue.value,
        endHour: (mostTimeSpendReadingValue.value + 1) % 24,
        amount: mostTimeSpendReadingValue.count
      })}}</span>
    }

    <app-bar-chart
      [axisLabels]="axisLabels()"
      [data]="data()"
      [yAxisMax]="60"
      [showLabels]="false"
      [toolTipFormatter]="labelFormatter"
      [showToolTips]="true"
      labelPosition="insideTop"
    />

    <span class="text-muted">{{t('data-since', {date: dataSince() | utcToLocalTime:'shortDate' })}}</span>
  </div>

</ng-container>
