.example-list {
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    display: block;
    border-radius: 4px;
    overflow: hidden;
}

.example-box {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  font-size: 14px;

  .drag-handle {
    cursor: move;
    font-size: 24px;
    // TODO: This needs to be calculation based
    margin-top: 215%;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
  margin-bottom: 20px;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list-container {
  background: var(--card-bg-color);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.accessibility-padding {
  padding-top: 12px;
}
.bulk-padding {
  padding-top: 20px;
}


.virtual-scroller, virtual-scroller {
  width: 100%;
  height: calc(var(--vh) * 100 - 173px);
}

virtual-scroller.empty {
    display: none;
}

.manual-input {
  width: 83px;
}
