<ng-container *transloco="let t; read: 'card-item'">
  <div class="card-item-container card position-relative {{selected ? 'selected-highlight' : ''}}" >
    <div class="overlay" (click)="handleClick($event)">
      @if (chapter.pages > 0 || suppressArchiveWarning) {
        <app-image height="232.91px" width="160px" [styles]="{'border-radius': '.25rem .25rem 0 0'}" [imageUrl]="imageService.getChapterCoverImage(chapter.id)"></app-image>
      } @else if (chapter.pages === 0 && !suppressArchiveWarning) {
        <app-image height="232.91px" width="160px" [styles]="{'border-radius': '.25rem .25rem 0 0'}" [imageUrl]="imageService.errorImage"></app-image>
      }

      <div class="progress-banner">
        @if (chapter.pagesRead > 0 && chapter.pagesRead < chapter.pages && chapter.pages > 0 && chapter.pagesRead !== chapter.pages) {
          <p ngbTooltip="{{((chapter.pagesRead / chapter.pages) * 100) | number:'1.0-1'}}% Read" container="body">
            <ngb-progressbar type="primary" height="5px" [value]="chapter.pagesRead" [max]="chapter.pages"></ngb-progressbar>
          </p>
        }

        <span class="download">
          <app-download-indicator [download$]="download$"></app-download-indicator>
        </span>
      </div>

      @if(chapter.pages === 0 && !suppressArchiveWarning) {
        <div class="error-banner">
          {{t('cannot-read')}}
        </div>
      }

      @if (chapter.pagesRead === 0 && chapter.pages > 0) {
        <div class="badge-container">
          <div class="not-read-badge"></div>
        </div>
      }

      @if (allowSelection) {
        <div class="bulk-mode {{bulkSelectionService.hasSelections() ? 'always-show' : ''}}" (click)="handleSelection($event)">
          <input type="checkbox" class="form-check-input" attr.aria-labelledby="{{chapter.id}}" [ngModel]="selected" [ngModelOptions]="{standalone: true}">
        </div>
      }

      @if (chapter.files.length > 1 && chapter.files[0].format !== MangaFormat.IMAGE) {
        <div class="count">
          <span class="badge bg-primary">{{chapter.files.length}}</span>
        </div>
      }

      <div class="card-overlay"></div>

      @if (!bulkSelectionService.hasSelections()) {
        <div class="chapter overlay-information">
          <div class="overlay-information--centered">
            <span class="card-title library mx-auto" style="width: auto;" (click)="read($event)">
              <!-- Card Image -->
              <div>
                <i class="fa-solid fa-book" aria-hidden="true"></i>
              </div>
            </span>
          </div>
        </div>
      }
    </div>

    @if (chapter.isSpecial) {
      <div class="card-body meta-title" [ngbTooltip]="chapter.title.length > 34 ? chapter.title : null">
        <div class="card-content d-flex justify-content-center align-items-center text-center" style="width:100%;min-height:58px;">
          {{chapter.title || chapter.range}}
        </div>
      </div>

    } @else if (chapter.titleName) {
      <div class="card-body meta-title" [ngbTooltip]="chapter.titleName.length > 34 ? chapter.titleName : null">
        <div class="card-content d-flex justify-content-center align-items-center text-center" style="width:100%;min-height:58px;">
          {{chapter.titleName}}
        </div>
      </div>
    }


    <div class="card-title-container">
      <span class="card-format">
      </span>
      <span class="card-title" id="{{chapter.id}}" tabindex="0" [ngbTooltip]="chapter.isSpecial ? (chapter.title || chapter.range) : null">
        <a class="dark-exempt btn-icon" routerLink="/library/{{libraryId}}/series/{{seriesId}}/chapter/{{chapter.id}}">
          @if (chapter.isSpecial) {
           {{chapter.title || chapter.range}}
          } @else {
            <app-entity-title [entity]="chapter" [prioritizeTitleName]="false" [libraryType]="libraryType"></app-entity-title>
          }
        </a>
      </span>
      <span class="card-actions">
        @if (actions && actions.length > 0) {
            <app-card-actionables (actionHandler)="performAction($event)" [actions]="actions" [labelBy]="chapter.titleName"></app-card-actionables>
        }
      </span>
    </div>

  </div>

</ng-container>
