<!-- <app-card-detail-layout
    [isLoading]="loadingSeries"
    [items]="series"
    [pagination]="pagination"
    [filterSettings]="filterSettings"
    [trackByIdentity]="trackByIdentity"
    [filterOpen]="filterOpen"
    [jumpBarKeys]="jumpKeys"
    [refresh]="refresh"
    (applyFilter)="updateFilter($event)"
>
    <ng-template #cardItem let-item let-position="idx">
        <app-series-card [data]="item" [libraryId]="item.libraryId" [suppressLibraryLink]="false" (reload)="loadPage()"[allowSelection]="false"></app-series-card>
    </ng-template>
</app-card-detail-layout> -->