<h3>Search Results: {{searchService.searchTerm$ | async}}</h3>
<app-card-detail-layout
    [isLoading]="isLoading"
    [items]="(series$ | async) || []"

>
    <ng-template #cardItem let-item let-position="idx">
        <app-series-card [data]="item" [libraryId]="item.libraryId" [] [suppressLibraryLink]="false" (reload)="loadPage()"[allowSelection]="false"></app-series-card>
    </ng-template>
</app-card-detail-layout>
<!--    [pagination]="pagination"
    [trackByIdentity]="trackByIdentity"
    [refresh]="refresh"-->