<ng-container *transloco="let t; prefix: 'view-bookmark-drawer'">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      {{t('title')}}
    </h5>
    <button type="button" class="btn-close text-reset" [attr.aria-label]="t('close')" (click)="close()"></button>
  </div>

  <div class="offcanvas-body">

    @let items = bookmarks();

    @for(item of items; track item) {

      <div class="card mb-2">
        <div class="card-img-top">
          <app-image [imageUrl]="imageService.getBookmarkedImage(item.chapterId, item.page, item.imageOffset)" [styles]="{width: '50%', height: '50%'}" />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{t('page-num-label', {page: item.page})}}</h5>
          @if (item.chapterTitle) {
            {{item.chapterTitle}}
          }

          <a href="javascript:void(0);" class="card-link" (click)="goToBookmark(item)">{{t('load-bookmark')}}</a>
          <button class="btn btn-danger card-link" (click)="deleteBookmark(item)">
            <i class="fa fa-trash-alt" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    }
    @empty {
      <p>{{t('no-data')}}</p>
    }

  </div>
</ng-container>
