<ng-container *transloco="let t; prefix: 'view-bookmark-drawer'">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      {{t('title')}}
    </h5>
    <button type="button" class="btn-close text-reset" [attr.aria-label]="t('close')" (click)="close()"></button>
  </div>

  <div class="offcanvas-body">

    @let items = bookmarks();

    @for(item of items; track item) {
      <div class="mx-auto">
        <app-image [imageUrl]="imageService.getBookmarkedImage(item.chapterId, item.page, item.imageOffset)" [styles]="{width: '50%', height: '50%'}" />
        <br />
        <a href="javascript:void(0);" (click)="goToBookmark(item)">{{t('page-num-label', {page: item.page})}}</a>
        <button class="btn btn-danger" (click)="deleteBookmark(item)">
          <i class="fa fa-trash-alt" aria-hidden="true"></i>
        </button>
      </div>
    }
    @empty {
      <p>{{t('no-data')}}</p>
    }

  </div>
</ng-container>
