.invalid-feedback {
    display: inline-block !important;
}

.container {
    padding-top: 10px;
}

.form-range {
    width: 90%;
}
.range-label {
    width: 100%;
}
.range-text {
    vertical-align: top;
    margin-left: 5px;
}