<div class="container-fluid">

    <p>
        Not sure what relationship to add? See our <a href="https://wiki.kavitareader.com/en/guides/get-started-using-your-library/series-relationships" target="_blank" rel="noopener noreferrer" referrerpolicy="no-refer">wiki for hints</a>.
    </p>

    <div class="row g-0" *ngIf="relations.length > 0">
        <label class="form-label col-md-7">Target Series</label>
        <label class="form-label col-md-5">Relationship</label>
    </div>
    
    <form>
        <div class="row g-0 mb-3" *ngFor="let relation of relations; let idx = index; let isLast = last;">
            <div class="col-sm-12 col-md-7">
                <app-typeahead (selectedData)="updateSeries($event, relation)" [settings]="relation.typeaheadSettings" id="relation--{{idx}}" [focus]="focusTypeahead">
                    <ng-template #badgeItem let-item let-position="idx">
                        {{item.name}} ({{libraryNames[item.libraryId]}})
                    </ng-template>
                    <ng-template #optionItem let-item let-position="idx">
                        {{item.name}} ({{libraryNames[item.libraryId]}})
                    </ng-template>
                </app-typeahead>
            </div>
            <div class="col-sm-auto col-md-3">
                <select class="form-select" [formControl]="relation.formControl">
                    <option [value]="RelationKind.Parent" disabled>Parent</option>
                    <option *ngFor="let opt of relationOptions" [value]="opt.value">{{opt.text}}</option>
                </select>
            </div>
            <button class="col-sm-auto col-md-2 btn btn-outline-secondary" (click)="removeRelation(idx)">Remove</button>
        </div>
    </form>

    <div class="row g-0 mt-3 mb-3">
        <button class="btn btn-outline-secondary col-md-12" (click)="addNewRelation()">Add Relationship</button>
    </div>
</div>