<div class="mt-0 d-flex justify-content-between align-items-center">
    <div>
        <ng-content select="[title]"></ng-content>
        <ng-content select="[subtitle]"></ng-content>
    </div>
    <div>
        <ng-content select="[main]"></ng-content>
    </div>
    <div>
        <button *ngIf="hasExtras" class="btn btn-secondary btn-small" (click)="openExtrasDrawer()" [attr.aria-expanded]="isExtrasOpen" placement="left" ngbTooltip="Page Settings">
            <i class="fa-solid fa-sliders" aria-hidden="true"></i>
            <span class="visually-hidden">Page Settings</span>
        </button>
        <button *ngIf="hasFilter" class="btn btn-{{filterActive ? 'primary' : 'secondary'}} btn-small" (click)="toggleService.toggle()" [attr.aria-expanded]="filterOpen" placement="left" ngbTooltip="{{filterOpen ? 'Open' : 'Close'}} Filtering and Sorting" attr.aria-label="{{filterOpen ? 'Open' : 'Close'}} Filtering and Sorting">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <span class="visually-hidden">Sort / Filter</span>
        </button>
    </div>

</div>