<ng-container *transloco="let t; read: 'customize-dashboard-modal'">
  <div class="modal-header">
    <h4 class="modal-title">{{t('title')}}</h4>
    <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <app-draggable-ordered-list [items]="items" (orderUpdated)="orderUpdated($event)" [accessibilityMode]="accessibilityMode"
                                [showRemoveButton]="true">
      <ng-template #draggableItem let-position="idx" let-item>
        <div class="row g-0">
          {{item.name}}
          <!-- Enabled or not -->

        </div>
      </ng-template>
    </app-draggable-ordered-list>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">{{t('close')}}</button>
  </div>
</ng-container>
