

<div class="card stats-card p-4" *transloco="let t; prefix: translationKey()">

  <h4 class="stats-title">{{t('title')}}</h4>

  <h6 class="stats-subtitle">{{t('sub-title', {name: userName(), mostUsed: mostUsed()?.value})}}</h6>

  <app-loading [loading]="breakDown().isLoading()" />

  <app-bar-chart
    [data]="data()"
    [axisLabels]="labels()"
    [axisLabelsOther]="labelsRight()"
    [showLabels]="false"
    [horizontal]="true"
    [showToolTips]="false"
    labelPosition="right"
    [multiColor]="true"
  />

  <span class="stats-note text-muted">{{t('missing', {amount: breakDown().value()?.missing})}}</span>

</div>
