@use "../../theme/colors";

// These are customizations for events nav
.dark-menu {
    background-color: var(--navbar-bg-color);
    border-color: rgba(1, 4, 9, 0.5);;
}

.dark-menu-item {
    color: var(--body-text-color);
    background-color: rgb(1, 4, 9);
    border-color: rgba(1, 4, 9, 0.5);
}

// Popovers need to be their own component
::ng-deep .bs-popover-bottom > .popover-arrow::after, .bs-popover-bottom > .popover-arrow::before {
    border-bottom-color: transparent;
}

.nav-events {
    background-color: var(--navbar-bg-color);
}


.btn:focus, .btn:hover {
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 1); // TODO: Used in nav as well, move to dark for btn-icon focus
}

.small-spinner {
    width: 1rem;
    height: 1rem;
}

.nav-events {
    background-color: white;
}

.nav-events .popover-body {
    padding: 0px;
}

.btn-icon {
    color: white;
}

.colored {
    background-color: var(--primary-color);
    border-radius: 60px;
}

.update-available {
    cursor: pointer;
    
    i.fa {
        color: var(--primary-color) !important;
    }
    color: var(--primary-color);
}