<ng-container *ngIf="isAdmin">
    
    <button type="button" class="btn btn-icon {{activeEvents > 0 ? 'colored' : ''}}" 
        [ngbPopover]="popContent" title="Activity" placement="bottom" [popoverClass]="'nav-events'">
        <i aria-hidden="true" class="fa fa-wave-square nav"></i>
    </button>

    <ng-template #popContent>
        <ul class="list-group list-group-flush dark-menu">
            <!-- Progress Events-->
            <!-- <li class="list-group-item dark-menu-item" *ngFor="let message of updateEvents">
                <div class="spinner-border text-primary small-spinner"
                role="status" title="Started at {{message.eventTime | date: 'short'}}" 
                attr.aria-valuetext="{{prettyPrintProgress(message.body.progress)}}%" [attr.aria-valuenow]="prettyPrintProgress(message.body.progress)">
                </div>
                 TODO: Put the progress bar on div 
                <div>{{prettyPrintProgress(message.body.progress)}}% {{message.body.progress}} &nbsp;{{message.title}}</div>
                
                <div class="accent-text" *ngIf="message.subTitle !== ''">{{message.subTitle}}</div>
            </li> -->
            <ng-container *ngIf="progressEvents$ | async as progressUpdates">
                <li class="list-group-item dark-menu-item" *ngFor="let message of progressUpdates">
                    <div class="spinner-border text-primary small-spinner"
                    role="status" title="Started at {{message.eventTime | date: 'short'}}" 
                    attr.aria-valuetext="{{prettyPrintProgress(message.body.progress)}}%" [attr.aria-valuenow]="prettyPrintProgress(message.body.progress)">
                    </div>
                    <!-- TODO: Put the progress bar on div -->
                    <div>{{prettyPrintProgress(message.body.progress)}}% {{message.body.progress}} &nbsp;{{message.title}}</div>
                    
                    <div class="accent-text" *ngIf="message.subTitle !== ''">{{message.subTitle}}</div> <!-- Hide if this is empty -->
                </li>
            </ng-container>

            <!-- Single updates (Informational/Update available)-->
            <ng-container *ngIf="singleUpdates$ | async as singleUpdates">
                <ng-container *ngFor="let singleUpdate of singleUpdates">
                    <li class="list-group-item dark-menu-item update-available" *ngIf="singleUpdate.name === EVENTS.UpdateAvailable" (click)="handleUpdateAvailableClick(singleUpdate)">
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>&nbsp;Update available
                    </li>
                    <li class="list-group-item dark-menu-item update-available" *ngIf="singleUpdate.name !== EVENTS.UpdateAvailable">
                        <div>{{singleUpdate.title}}</div>
                        <div class="accent-text" *ngIf="singleUpdate.subTitle !== ''">{{singleUpdate.subTitle}}</div>
                    </li>
                </ng-container>
            </ng-container>

            <!-- Online Users -->
            <ng-container *ngIf="messageHub.onlineUsers$ | async as onlineUsers">
                <li class="list-group-item dark-menu-item" *ngIf="onlineUsers.length > 1">
                    <div>{{onlineUsers.length}} Users online</div>
                </li>
                <li class="list-group-item dark-menu-item" *ngIf="activeEvents === 0 && onlineUsers.length <= 1">Not much going on here</li>
            </ng-container>
        </ul>
    </ng-template>
</ng-container>