.side-nav-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 40px;

    cursor: pointer; // This needs to be based a flag

    span {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .side-nav-name {
            width: 100%;
            padding-left: 10px;
        }

        div {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: inherit;

            i {
                font-size: 18px;
            }
        }

        &:last-child {
            flex-grow: 1;
            justify-content: end;
        }
    }

    &:hover {
        color: var(--dark-text-accent);
    }
}

a {
    color: white;
    text-decoration: none;
}