.side-nav-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    height: auto;
    min-height: 40px;
    overflow: hidden;

    cursor: pointer; // This needs to be based a flag

    .side-nav-text {
        padding-left: 10px;
        opacity: 1;
        min-width: 100px;

        div {
            min-width: 150px;
            width: 100%
        }
    }

    .card-actions {
        opacity: 1;

        div {
        }
    }

    div {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: inherit;
        min-width: 30px;
        width: 100%;
        padding-left: 5px;

        i {
            font-size: 18px;
        }
    }

    &.closed {
        .side-nav-text {
            opacity: 0;
        }

        .card-actions {
           opacity: 0;
        }
    }

    span {
        &:last-child {
            flex-grow: 1;
            justify-content: end;
        }
    }
}

a {
    color: white;
    text-decoration: none;
}


@media (max-width: 576px) {
    .side-nav-item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        width: 100%;
        height: 70px;
        min-height: 40px;
        overflow: hidden;
        font-size: 1rem;
    
        cursor: pointer; // This needs to be based a flag
    
        .side-nav-text {
            padding-left: 10px;
            opacity: 1;
            min-width: 100px;
            width: 100%;
    
            div {
                min-width: 150px;
                width: 100%
            }
        }
    
        .card-actions {
            opacity: 1;
        }
    
        div {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: inherit;
            min-width: 30px;
            width: 100%;
            padding-left: 5px;
    
            i {
                font-size: 2rem;
                width: 50px;
            }
        }
    
        &.closed {
            .side-nav-text {
                opacity: 0;
                
                div {
                }
            }
    
            .card-actions {
               opacity: 0;
               font-size: inherit
            }
        }
    
        span {
            &:last-child {
                flex-grow: 1;
                justify-content: end;
            }
        }
    }
}
