<ng-container *ngIf="actions.length > 0">
    <div ngbDropdown container="body" class="d-inline-block">
      <button [disabled]="disabled" class="btn {{btnClass}}" id="actions-{{labelBy}}" ngbDropdownToggle (click)="preventClick($event)"><i class="fa {{iconClass}}" aria-hidden="true"></i></button>
      <div ngbDropdownMenu attr.aria-labelledby="actions-{{labelBy}}">
			  <ng-container *ngTemplateOutlet="submenu; context: { list: actions }"></ng-container>
      </div>
    </div>
	<ng-template #submenu let-list="list">
		<ng-container *ngFor="let action of list">
      <ng-container *ngIf="action.children === undefined || action?.children?.length === 0 else submenuDropdown">
        <button ngbDropdownItem *ngIf="(action.requiresAdmin && isAdmin) || (action.title === 'Download' && canDownload) || (!action.requiresAdmin && action.title !== 'Download')" (click)="performAction($event, action)">{{action.title}}</button>
      </ng-container>
      <ng-template #submenuDropdown>
        <div ngbDropdown #subMenuHover="ngbDropdown" placement="right" (mouseover)="preventClick($event); subMenuHover.open();" (mouseleave)="preventClick($event); subMenuHover.close();">
          <button id="actions-{{action.title}}" class="submenu-toggle" ngbDropdownToggle>{{action.title}} <i class="fa-solid fa-play submenu-icon"></i></button>
          <div ngbDropdownMenu class="submenu-menu" attr.aria-labelledby="actions-{{action.title}}">
            <ng-container *ngTemplateOutlet="submenu; context: { list: action.children }"></ng-container>
          </div>
        </div>
      </ng-template>
		</ng-container>
	</ng-template>
</ng-container>