@if (person !== undefined) {
  <div class="tagbadge cursor clickable">
    <div class="d-flex flex-column">
      <app-image height="24px" width="24px" [styles]="{'object-fit': 'contain'}"
                 classes="align-self-center text-center mb-2"
                 [imageUrl]="ImageUrl"
                 [errorImage]="imageService.noPersonImage">
      </app-image>

      <div class="flex-grow-1 text-center">
        <span class="mt-0 mb-0">
          @if (isStaff) {
            {{person.name}}
          } @else {
            <a class="btn-icon" routerLink="/person/{{person.name}}">{{person.name}}</a>
          }
        </span>
      </div>
    </div>
  </div>
}

