<div class="row g-0 mt-2 mb-2">
    <app-read-more [text]="seriesSummary" [maxLength]="250"></app-read-more>
</div>

<ng-container *ngIf="WebLinks as links">
    <div class="row g-0 mt-2 mb-2" *ngIf="links.length > 0">
        <div class="col-md-4">
            <h5>Links</h5>
        </div>
        <div class="col-md-8">
            <a class="col me-1" [href]="link | safeHtml" target="_blank" rel="noopener noreferrer" *ngFor="let link of links" [title]="link">
                <img width="24px" height="24px"  #img class="lazyload img-placeholder"
                    [src]="imageService.errorWebLinkImage"
                    [attr.data-src]="imageService.getWebLinkImage(link)"
                    (error)="imageService.updateErroredWebLinkImage($event)"
                    aria-hidden="true">
            </a>
        </div>
    </div>
</ng-container>


<div class="row g-0" *ngIf="seriesMetadata.genres && seriesMetadata.genres.length > 0">
    <div class="col-md-4">
        <h5>Genres</h5>
    </div>
    <div class="col-md-8">
        <app-badge-expander [items]="seriesMetadata.genres">
            <ng-template #badgeExpanderItem let-item let-position="idx">
                <app-tag-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Genres, item.id)" [selectionMode]="TagBadgeCursor.Clickable">{{item.title}}</app-tag-badge>
            </ng-template>
        </app-badge-expander>
    </div>
</div>
<div class="row g-0" *ngIf="seriesMetadata.tags && seriesMetadata.tags.length > 0">
    <div class="col-md-4">
        <h5>Tags</h5>
    </div>
    <div class="col-md-8">
        <app-badge-expander [items]="seriesMetadata.tags">
            <ng-template #badgeExpanderItem let-item let-position="idx">
                <app-tag-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Tags, item.id)" [selectionMode]="TagBadgeCursor.Clickable">{{item.title}}</app-tag-badge>
            </ng-template>
        </app-badge-expander>
    </div>
</div>
<div class="row g-0 mt-1" *ngIf="seriesMetadata.collectionTags && seriesMetadata.collectionTags.length > 0">
    <div class="col-md-4">
        <h5>Collections</h5>
    </div>
    <div class="col-md-8">
        <app-badge-expander [items]="seriesMetadata.collectionTags">
            <ng-template #badgeExpanderItem let-item let-position="idx">
                <app-tag-badge a11y-click="13,32" class="col-auto" routerLink="/collections/{{item.id}}" [selectionMode]="TagBadgeCursor.Clickable">
                    {{item.title}}
                </app-tag-badge>
            </ng-template>
        </app-badge-expander>
    </div>
</div>
<div class="row g-0 mt-1" *ngIf="readingLists && readingLists.length > 0">
    <div class="col-md-4">
        <h5>Reading Lists</h5>
    </div>
    <div class="col-md-8">
        <app-badge-expander [items]="readingLists">
            <ng-template #badgeExpanderItem let-item let-position="idx">
                <app-tag-badge a11y-click="13,32" class="col-auto" routerLink="/lists/{{item.id}}" [selectionMode]="TagBadgeCursor.Clickable">
                    <span *ngIf="item.promoted">
                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>&nbsp;
                        <span class="visually-hidden">(promoted)</span>
                    </span>
                    {{item.title}}
                </app-tag-badge>
            </ng-template>
        </app-badge-expander>
    </div>
</div>
<div class="row g-0 mt-1" *ngIf="seriesMetadata.writers && seriesMetadata.writers.length > 0">
    <div class="col-md-4">
        <h5>Writers/Authors</h5>
    </div>
    <div class="col-md-8">
        <app-badge-expander [items]="seriesMetadata.writers">
            <ng-template #badgeExpanderItem let-item let-position="idx">
                <app-person-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Writers, item.id)" [person]="item"></app-person-badge>
            </ng-template>
        </app-badge-expander>
    </div>
</div>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" id="extended-series-metadata">
    <div class="row g-0 mt-1"  *ngIf="seriesMetadata.coverArtists && seriesMetadata.coverArtists.length > 0">
        <div class="col-md-4">
            <h5>Cover Artists</h5>
        </div>
        <div class="col-md-8">
            <app-badge-expander [items]="seriesMetadata.coverArtists">
                <ng-template #badgeExpanderItem let-item let-position="idx">
                    <app-person-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.CoverArtists, item.id)" [person]="item"></app-person-badge>
                </ng-template>
            </app-badge-expander>
        </div>
    </div>

    <div class="row g-0 mt-1"  *ngIf="seriesMetadata.characters && seriesMetadata.characters.length > 0">
        <div class="col-md-4">
            <h5>Characters</h5>
        </div>
        <div class="col-md-8">
            <app-badge-expander [items]="seriesMetadata.characters">
                <ng-template #badgeExpanderItem let-item let-position="idx">
                    <app-person-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Character, item.id)" [person]="item"></app-person-badge>
                </ng-template>
            </app-badge-expander>
        </div>
    </div>

    <div class="row g-0 mt-1"  *ngIf="seriesMetadata.colorists && seriesMetadata.colorists.length > 0">
        <div class="col-md-4">
            <h5>Colorists</h5>
        </div>
        <div class="col-md-8">
            <app-badge-expander [items]="seriesMetadata.colorists">
                <ng-template #badgeExpanderItem let-item let-position="idx">
                    <app-person-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Colorist, item.id)" [person]="item"></app-person-badge>
                </ng-template>
            </app-badge-expander>
        </div>
    </div>

    <div class="row g-0 mt-1"  *ngIf="seriesMetadata.editors && seriesMetadata.editors.length > 0">
        <div class="col-md-4">
            <h5>Editors</h5>
        </div>
        <div class="col-md-8">
            <app-badge-expander [items]="seriesMetadata.editors">
                <ng-template #badgeExpanderItem let-item let-position="idx">
                    <app-person-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Editor, item.id)" [person]="item"></app-person-badge>
                </ng-template>
            </app-badge-expander>
        </div>
    </div>

    <div class="row g-0 mt-1"  *ngIf="seriesMetadata.inkers && seriesMetadata.inkers.length > 0">
        <div class="col-md-4">
            <h5>Inkers</h5>
        </div>
        <div class="col-md-8">
            <app-badge-expander [items]="seriesMetadata.inkers">
                <ng-template #badgeExpanderItem let-item let-position="idx">
                    <app-person-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Inker, item.id)" [person]="item"></app-person-badge>
                </ng-template>
            </app-badge-expander>
        </div>
    </div>

    <div class="row g-0 mt-1"  *ngIf="seriesMetadata.letterers && seriesMetadata.letterers.length > 0">
        <div class="col-md-4">
            <h5>Letterers</h5>
        </div>
        <div class="col-md-8">
            <app-badge-expander [items]="seriesMetadata.letterers">
                <ng-template #badgeExpanderItem let-item let-position="idx">
                    <app-person-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Letterer, item.id)" [person]="item"></app-person-badge>
                </ng-template>
            </app-badge-expander>
        </div>
    </div>
    <div class="row g-0 mt-1"  *ngIf="seriesMetadata.translators && seriesMetadata.translators.length > 0">
        <div class="col-md-4">
            <h5>Translators</h5>
        </div>
        <div class="col-md-8">
            <app-badge-expander [items]="seriesMetadata.translators">
                <ng-template #badgeExpanderItem let-item let-position="idx">
                    <app-person-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Translator, item.id)" [person]="item"></app-person-badge>
                </ng-template>
            </app-badge-expander>
        </div>
    </div>

    <div class="row g-0 mt-1"  *ngIf="seriesMetadata.pencillers && seriesMetadata.pencillers.length > 0">
        <div class="col-md-4">
            <h5>Pencillers</h5>
        </div>
        <div class="col-md-8">
            <app-badge-expander [items]="seriesMetadata.pencillers">
                <ng-template #badgeExpanderItem let-item let-position="idx">
                    <app-person-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Penciller, item.id)" [person]="item"></app-person-badge>
                </ng-template>
            </app-badge-expander>
        </div>
    </div>

    <div class="row g-0 mt-1"  *ngIf="seriesMetadata.publishers && seriesMetadata.publishers.length > 0">
        <div class="col-md-4">
            <h5>Publishers</h5>
        </div>
        <div class="col-md-8">
            <app-badge-expander [items]="seriesMetadata.publishers">
                <ng-template #badgeExpanderItem let-item let-position="idx">
                    <app-person-badge a11y-click="13,32" class="col-auto" (click)="goTo(FilterQueryParam.Publisher, item.id)" [person]="item"></app-person-badge>
                </ng-template>
            </app-badge-expander>
        </div>
    </div>
</div>

<div class="row g-0">
    <hr class="col mt-3" *ngIf="hasExtendedProperties" >
    <a [class.hidden]="hasExtendedProperties" *ngIf="hasExtendedProperties"
       class="col col-md-auto align-self-end read-more-link" (click)="toggleView()">
            <i aria-hidden="true" class="fa fa-caret-{{isCollapsed ? 'down' : 'up'}} me-1" aria-controls="extended-series-metadata"></i>
            See {{isCollapsed ? 'More' : 'Less'}}
    </a>
</div>

<!-- This first row will have random information about the series-->
<app-series-info-cards [series]="series" [seriesMetadata]="seriesMetadata" (goTo)="handleGoTo($event)" [hasReadingProgress]="hasReadingProgress"></app-series-info-cards>
