<ng-container *transloco="let t; read:'manage-metadata-settings'">


  <p>{{t('description')}}</p>
  @if (isLoaded) {
    <form [formGroup]="settingsForm">

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('enabled'); as formControl) {
          <app-setting-switch [title]="t('enabled-label')" [subtitle]="t('enabled-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="enabled" type="checkbox" class="form-check-input" formControlName="enabled">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('enableSummary'); as formControl) {
          <app-setting-switch [title]="t('summary-label')" [subtitle]="t('summary-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="summary" type="checkbox" class="form-check-input" formControlName="enableSummary">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('enableLocalizedName'); as formControl) {
          <app-setting-switch [title]="t('localized-name-label')" [subtitle]="t('localized-name-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="localized-name" type="checkbox" class="form-check-input" formControlName="enableLocalizedName">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('enablePublicationStatus'); as formControl) {
          <app-setting-switch [title]="t('derive-publication-status-label')" [subtitle]="t('derive-publication-status-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="derive-publication-status" type="checkbox" class="form-check-input" formControlName="enablePublicationStatus">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('enableRelationships'); as formControl) {
          <app-setting-switch [title]="t('enable-relations-label')" [subtitle]="t('enable-relations-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="enable-relations-status" type="checkbox" class="form-check-input" formControlName="enableRelationships">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('enableStartDate'); as formControl) {
          <app-setting-switch [title]="t('enable-start-date-label')" [subtitle]="t('enable-start-date-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="enable-start-date-status" type="checkbox" class="form-check-input" formControlName="enableStartDate">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('enableCoverImage'); as formControl) {
          <app-setting-switch [title]="t('enable-cover-image-label')" [subtitle]="t('enable-cover-image-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="enable-cover-image" type="checkbox" class="form-check-input" formControlName="enableCoverImage">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

      @if(settingsForm.get('enablePeople'); as formControl) {
        <div class="setting-section-break"></div>

        <div class="row g-0 mt-4 mb-4">

          <div class="col-6">
            <app-setting-switch [title]="t('enable-people-label')" [subtitle]="t('enable-people-tooltip')">
              <ng-template #switch>
                <div class="form-check form-switch float-end">
                  <input id="enable-people-status" type="checkbox" class="form-check-input" formControlName="enablePeople">
                </div>
              </ng-template>
            </app-setting-switch>
          </div>

          <div class="col-6">
            <app-setting-switch [title]="t('first-last-name-label')" [subtitle]="t('first-last-name-tooltip')">
              <ng-template #switch>
                <div class="form-check form-switch float-end">
                  <input id="enable-first-last-name" type="checkbox" class="form-check-input" formControlName="firstLastPeopleNaming">
                </div>
              </ng-template>
            </app-setting-switch>
          </div>

        </div>

        @if (settingsForm.get('personRoles')) {
          <h5>{{t('person-roles-label')}}</h5>
          <div class="row g-0 mt-4 mb-4" formArrayName="personRoles">
            @for(role of personRoles; track role; let i = $index) {
              <div class="col-md-3">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" [formControlName]="'personRole_' + i" [id]="'role-' + role">
                  <label class="form-check-label" [for]="'role-' + role">{{ role | personRole }}</label>
                </div>
              </div>
            }
          </div>
        }
      }



      <div class="setting-section-break"></div>


      <div class="row g-0 mt-4 mb-4">
        <div class="col-md-6">
          @if(settingsForm.get('enableGenres'); as formControl) {
            <app-setting-switch [title]="t('enable-genres-label')" [subtitle]="t('enable-genres-tooltip')">
              <ng-template #switch>
                <div class="form-check form-switch float-end">
                  <input id="enable-genres-status" type="checkbox" class="form-check-input" formControlName="enableGenres">
                </div>
              </ng-template>
            </app-setting-switch>
          }
        </div>
        <div class="col-md-6">
          @if(settingsForm.get('enableTags'); as formControl) {
            <app-setting-switch [title]="t('enable-tags-label')" [subtitle]="t('enable-tags-tooltip')">
              <ng-template #switch>
                <div class="form-check form-switch float-end">
                  <input id="enable-tags-status" type="checkbox" class="form-check-input" formControlName="enableTags">
                </div>
              </ng-template>
            </app-setting-switch>
          }
        </div>
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('blacklist'); as formControl) {
          <app-setting-item [title]="t('blacklist-label')" [subtitle]="t('blacklist-tooltip')">
            <ng-template #view>
              @let val = breakTags(formControl.value);

              @for(opt of val; track opt) {
                <app-tag-badge>{{opt.trim()}}</app-tag-badge>
              } @empty {
                {{null | defaultValue}}
              }
            </ng-template>s
            <ng-template #edit>
              <textarea rows="3" id="blacklist" class="form-control"  formControlName="blacklist"></textarea>
            </ng-template>
          </app-setting-item>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('whitelist'); as formControl) {
          <app-setting-item [title]="t('whitelist-label')" [subtitle]="t('whitelist-tooltip')">
            <ng-template #view>
              @let val = breakTags(formControl.value);

              @for(opt of val; track opt) {
                <app-tag-badge>{{opt.trim()}}</app-tag-badge>
              } @empty {
                {{null | defaultValue}}
              }
            </ng-template>s
            <ng-template #edit>
              <textarea rows="3" id="whitelist" class="form-control"  formControlName="whitelist"></textarea>
            </ng-template>
          </app-setting-item>
        }
      </div>

      <div class="setting-section-break"></div>

      <h4>{{t('age-rating-mapping-title')}}</h4>
      <p>{{t('age-rating-mapping-description')}}</p>

      <div formArrayName="ageRatingMappings">
        @for(mapping of ageRatingMappings.controls; track mapping; let i = $index) {
          <div [formGroupName]="i" class="row mb-2">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
              <input type="text" class="form-control" formControlName="str" autocomplete="off" />
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
              <select class="form-select" formControlName="rating">
                @for (ageRating of ageRatings; track ageRating.value) {
                  <option [value]="ageRating.value">
                    {{ageRating.value | ageRating}}
                  </option>
                }
              </select>
            </div>
            <div class="col-md-2">
              <button class="btn btn-icon" (click)="removeAgeRatingMappingRow(i)">
                <i class="fa fa-trash-alt" aria-hidden="true"></i>
              </button>

              @if($last) {
                <button class="btn btn-icon" (click)="addAgeRatingMapping()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              }
            </div>
          </div>
        } @empty {
          <button class="btn btn-secondary" (click)="addAgeRatingMapping()">
            <i class="fa fa-plus" aria-hidden="true"></i> {{t('add-age-rating-mapping-label')}}
          </button>
        }


      </div>

      <div class="setting-section-break"></div>

      <!-- Field Mapping Table -->
      <h4>{{t('field-mapping-title')}}</h4>
      <p>{{t('field-mapping-description')}}</p>
      <div formArrayName="fieldMappings">
        @for (mapping of fieldMappings.controls; track mapping; let i = $index) {
          <div [formGroupName]="i" class="row mb-2">
            <div class="col-md-2">
              <select class="form-select" formControlName="sourceType">
                <option [value]="MetadataFieldType.Genre">{{t('genre')}}</option>
                <option [value]="MetadataFieldType.Tag">{{t('tag')}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" formControlName="sourceValue"
                     placeholder="Source genre/tag" />
            </div>
            <div class="col-md-2">
              <select class="form-select" formControlName="destinationType">
                <option [value]="MetadataFieldType.Genre">{{t('genre')}}</option>
                <option [value]="MetadataFieldType.Tag">{{t('tag')}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" formControlName="destinationValue"
                     placeholder="Destination genre/tag" />
            </div>
            <div class="col-md-2">
              <div class="form-check">
                <input id="remove-source-tag-{{i}}" type="checkbox" class="form-check-input"
                       formControlName="excludeFromSource">
                <label [for]="'remove-source-tag-' + i" class="form-check-label">
                  {{t('remove-source-tag-label')}}
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-icon" (click)="removeFieldMappingRow(i)">
                <i class="fa fa-trash-alt" aria-hidden="true"></i>
              </button>

              @if ($last) {
                <button class="btn btn-icon" (click)="addFieldMapping()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              }
            </div>
          </div>
        } @empty {
          <button class="btn btn-secondary" (click)="addFieldMapping()">
            <i class="fa fa-plus" aria-hidden="true"></i> {{t('add-field-mapping-label')}}
          </button>
        }

      </div>

      <div class="setting-section-break"></div>

      @if (settingsForm.get('overrides')) {
        <h5>{{t('overrides-label')}}</h5>
        <p>{{t('overrides-description')}}</p>
        <div class="row g-0 mt-4 mb-4" formArrayName="overrides">
          @for(field of allMetadataSettingFields; track field; let i = $index) {
            <div class="col-md-3">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" [formControlName]="'override_' + i" [id]="'override-' + field">
                <label class="form-check-label" [for]="'override-' + field">{{ field | metadataSettingFiled }}</label>
              </div>
            </div>
          }
        </div>
      }

    </form>
  }
</ng-container>
