<ng-container *transloco="let t; prefix:'generic-list-modal'">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title()}}</h4>
    <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="close()"></button>
  </div>
  <div class="modal-body">
    @if (needsFilter()) {
      <div class="mb-3">
        <app-filter-field [(query)]="filterQuery" [showLabel]="true" clearMode="button" [label]="t('filter')" />
      </div>
    }

    <ul class="list-group">
      @for(item of filteredItems(); track item; let i = $index) {
        <li class="list-group-item d-flex justify-content-between align-items-center clickable">
          {{item}}
          @if (clicked() !== undefined) {
            <button class="btn btn-primary" (click)="handleClick(item)">
              <i class="fa-solid fa-arrow-up-right-from-square" aria-hidden="true"></i>
              <span class="visually-hidden">{{t('open-filtered-search',{item: item})}}</span>
            </button>
          }
        </li>
      }
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">{{t('close')}}</button>
  </div>

</ng-container>
