<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">KavitaPlus Features</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <h5>Current Features</h5>
    <ul class="list-group mb-2">
      <li class="list-group-item">Scrobble Support</li>
      <li class="list-group-item">Series Recommendations</li>
      <li class="list-group-item">Series Reviews</li>
      <li class="list-group-item">Remove Donation on Side nav</li>
    </ul>

    <h5>Planned Features</h5>
    <ul class="list-group mb-2">
      <li class="list-group-item">More external data providers</li>
      <li class="list-group-item">Webhooks</li>
      <li class="list-group-item">Kobo Progress Syncing</li>
      <li class="list-group-item">Trending/External rating integration</li>
      <li class="list-group-item">Your ideas upvoted via FeatHub</li>
    </ul>

    <div class="text-muted">These feature unlock for the whole server while subscription active</div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="close()">Close</button>
  </div>
</div>


