<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">KavitaPlus Features</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <h5>Current Features</h5>
    <ul class="list-group mb-2">
      <li class="list-group-item">Scrobble Support</li>
      <li class="list-group-item">Series Recommendations*</li>
      <li class="list-group-item">Series Reviews*</li>
      <li class="list-group-item">Remove Donation on Side nav*</li>
    </ul>

    <h5>Planned Features</h5>
    <ul class="list-group mb-2">
      <li class="list-group-item">Native Mobile App with offline reading</li>
      <li class="list-group-item">Webhooks</li>
      <li class="list-group-item">Kobo Progress Syncing</li>
    </ul>

    <div class="text-muted">* This feature unlocks for the whole server if the admin has a subscription.</div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="close()">Close</button>
  </div>
</div>


