<ng-container *transloco="let t; prefix: 'manage-external-sources'">
  <p>
    {{t('description')}}
    <a [href]="WikiLink.CustomizeExternalSource" target="_blank" rel="noopener noreferrer">{{t('help-link')}}</a>
  </p>


  <div class="row g-0 justify-content-between align-items-end mb-3">
    <div class="col-9">
      <app-filter-field [(query)]="filterQuery" [label]="t('filter')" />
    </div>
    <div class="col-auto ms-2">
      <button class="btn btn-primary" (click)="addNewExternalSource()">{{t('add-source')}}</button>
    </div>
  </div>

  @for(externalSource of filteredExternalSources(); track externalSource; let idx = $index) {
    <app-edit-external-source-item [source]="externalSource"
                                   (sourceUpdate)="updateSource(idx, $event)"
                                   (sourceDelete)="deleteSource(idx, $event)"
                                   [isViewMode]="externalSource.id !== 0" />
  } @empty {
    <app-empty-state titleKey="no-data"  [i18nPrefix]="'manage-external-sources'">
      <i icon class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
    </app-empty-state>
  }

</ng-container>

