<h1>Admin Dashboard</h1>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li *ngFor="let tab of tabs" [ngbNavItem]="tab">
      <a ngbNavLink>{{ tab | titlecase }}</a>
      <ng-template ngbNavContent>

        <ng-container *ngIf="tab === 'users'">
            <app-users></app-users>
        </ng-container>
        <ng-container *ngIf="tab === 'libraries'">
            Library management here
        </ng-container>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>