<ng-container *transloco="let t; read:'user-stats'">
  <div class="vstack gap-3" *ngIf="userId">

    <div class="row g-0 d-flex justify-content-around">
      <ng-container *ngIf="userStats$ | async as userStats">
        <app-user-stats-info-cards [totalPagesRead]="userStats.totalPagesRead" [totalWordsRead]="userStats.totalWordsRead" [timeSpentReading]="userStats.timeSpentReading"
                                   [chaptersRead]="userStats.chaptersRead" [lastActive]="userStats.lastActive" [avgHoursPerWeekSpentReading]="userStats.avgHoursPerWeekSpentReading"></app-user-stats-info-cards>
      </ng-container>
    </div>

    <div class="row g-0 fixed-row">
      <app-reading-activity [userId]="userId" [isAdmin]="(accountService.isAdmin$ | async) || false" [individualUserMode]="true"></app-reading-activity>
    </div>

    <div class="row g-0 fixed-row">
      <app-day-breakdown [userId]="userId"></app-day-breakdown>
    </div>

    <div class="row g-0 fixed-row">
      <app-stat-list [data$]="percentageRead$" [label]="t('read-percentage')" [title]="t('library-read-progress-title')"></app-stat-list>
    </div>

  </div>

</ng-container>
