.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.carousel-container {
    .section-title {
        font-weight: 400;
        margin-left: 10px;
        color: var(--carousel-header-text-color);
        text-decoration: var(--carousel-header-text-decoration);

        &:hover, &:focus, &:active {
            text-decoration: var(--carousel-hover-header-text-decoration);
        }
    }

    .non-selectable {
        cursor: default;
    }

  .carousel-btn > i {
    color: var(--carousel-btn-color);
  }
}


::ng-deep .swiper-slide {
    width: auto !important;
}

::ng-deep .swiper-wrapper {
    margin-bottom: 10px;
}

::ng-deep .last-carousel {
    margin-bottom: 0;
}

h3 {
    display: inline-block;
    font-size: 1.2rem;
}

.title-icon {
    color: var(--body-text-color);
    font-size: 0.9rem;
    cursor: pointer;
}
