

$image-height: 230px;
$image-width: 160px;


.card {
  max-width: $image-width;
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box;
  position: relative;
  color: var(--card-text-color);
  border: 1px var(--card-border-color);
}

.card-actions {
  position: absolute;
  top: 236px;
  right: 0px;
  width: 20px;
  font-size: 13px;
}

.library {
  font-size: 13px;
  text-decoration: none;
  margin-top: 0px;
}

.card-title {
  font-size: 13px;
  width: 131px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-top: 2px;
  margin-bottom: 0px;
}


.img-top {
  height: $image-height;
}


.badge-container {
  border-radius: 4px;
  display: block;
  height: $image-height;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 158px;

}

.not-read-badge {
  position: absolute;
  top: calc(-1 * (var(--card-progress-triangle-size) / 2));
  right: -14px;
  z-index: 1000;
  height: var(--card-progress-triangle-size);
  width: var(--card-progress-triangle-size);
  background-color: var(--primary-color);
  transform: rotate(45deg);
}


.overlay {
  height: $image-height;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &:hover {
    visibility: visible;

    .bulk-mode {
      visibility: visible;
      z-index: 110;
    }

    .overlay-item {
      visibility: visible;
      z-index: 100;
    }
  }

  .overlay-item {
    visibility: hidden;
  }

  z-index: 10;

  .count {
    top: 5px;
    right: 10px;
    position: absolute;
  }
}


.card-body {
  padding: 5px !important;
  background-color: var(--card-bg-color);
  border-width: var(--card-border-width);
  border-style: var(--card-border-style);
  border-color: var(--card-border-color);
  border-radius: 0.25em;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $image-height;
  z-index: 10;
  transition: all 0.2s;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
