.alert-warning {
    --bs-alert-color: var(--alert-text-color);
    --bs-alert-bg: #fff3cd;
    --bs-alert-border-color: #ffecb5;
}

.alert-danger {
  --bs-alert-color: black;
  --bs-alert-bg: var(--alert-text-color);
  --bs-alert-border-color: var(--error-color);
}

.alert-danger {
  --bs-alert-color: black;
  --bs-alert-bg: var(--alert-text-color);
  --bs-alert-border-color: var(--primary-color);
}
