// TODO: Figure this out
// a:not(.dark-exempt) {
//     color: $dark-hover-color;
//     > i {
//       color: $dark-hover-color !important;
//     }
//   }

a.read-more-link {
    font-weight: bold;
    text-decoration: none;
    color: var(--body-text-color);
    cursor: pointer;
    color: var(--body-text-color) !important;
}