.breadcrumb {
    background-color: var(--breadcrumb-bg-color);
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;

    .breadcrumb-item {
      color: var(--breadcrumb-item-text-color);
    }
  }