// TODO: Clean this code up

.btn-primary {
  color: var(--btn-primary-text-color);
}

.btn-secondary {

}

.btn-close {
    filter: var(--btn-icon-filter) !important;
}

  
button:disabled, .form-control:disabled, .form-control[readonly], .disabled, :disabled {
    cursor: not-allowed;
}

.btn-link {
    color: var(--btn-primary-color);
    > i {
      color: var(--btn-primary-color) !important;
    }
}


.btn-icon {
  cursor: pointer;
  color: white;
}

.btn-outline-secondary {
  color: var(--body-text-color);
}
  
.btn.btn-secondary.alt {
    background-color: #424c72;
    border-color: #444f75;
  
    &:hover {
      background-color: #3b4466; 
    }
  
    &:focus {
      background-color: #343c59;
      box-shadow: 0 0 0 0.2rem rgb(68 79 117 / 50%); 
    }
}