input:not([type="range"]), .form-control {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    border-color: var(--input-border-color);

    &:focus {
        border-color: var(--input-focused-border-color);
        background-color: var(--input-bg-color);
        color: var(--input-text-color);
        box-shadow: 0 0 0 .25rem var(--input-focus-boxshadow-color);
    }

    &:read-only {
        background-color: var(--input-bg-readonly-color);
        cursor: initial;
    }

    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
    }
    &::placeholder {
        color: var(--input-placeholder-color);
    }
}

.form-range::-webkit-slider-thumb:active, .form-range::-moz-range-thumb:active {
    background-color: var(--input-range-active-color);
}

.form-range::-webkit-slider-thumb, .form-range::-moz-range-thumb {
    background-color: var(--input-range-color);
}

.form-check-input[type=checkbox]:indeterminate {
  background-color: var(--input-bg-color);
  border-color: var(--input-border-color);
}

.form-check.form-switch {
    display: inline-block;

    .form-check-input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        box-shadow: unset;
        border: unset;
        background-image: unset;
        width: 2.25rem;
        height: 1rem;
        border-radius: 1rem;
        position: relative;
        cursor: pointer;
        outline: none;
        transition: background-color 0.2s ease-in-out;
        vertical-align: middle;
        margin-right: 0.5rem;

        // The knob and icon, created using the ::after pseudo-element of the input
        // Not Checked State Styling
        &::after {
            content: "×";
            position: absolute;
            top: 0.11875rem;
            left: 0.1875rem;
            width: 0.75rem;
            height: 0.75rem;
            background-color: #FFFFFF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8125rem;
            font-weight: 700;
            font-family: sans-serif;
            color: #62646B;
            line-height: 1;
            transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
        }
        // Checked State Styling
        &:checked {
            background-color: var(--primary-color);
            &::after {
                content: "✓";
                color: var(--primary-color);
                transform: translateX(1.125rem);
                font-size: 0.5625rem;
                font-weight: 900;
            }
        }

        &:focus-visible {
            box-shadow: 0 0 0 0.25rem var(--input-focus-boxshadow-color);
        }
    }
}