
.modal-content {
    color: var(--body-text-color);
    background-color: var(--modal-bg-color);
    font-size: .9rem;
}

.modal-title {
    word-break: break-all;
}

.scrollable-modal {
    max-height: calc(var(--vh) * 100 - 198px);
    overflow: auto;
}

input, textarea {
    font-size: 0.9rem !important;
}