.nav-link {
    color: var(--nav-link-text-color);

    &:hover, &:focus {
        color: var(--nav-link-hover-text-color);
    }

    &.active {
        color: var(--nav-link-active-text-color);
        background-color: var(--nav-link-bg-color);
    }
}

.nav-pills .nav-link.active {
    color: var(--nav-link-active-text-color);
    background-color: var(--nav-link-bg-color);
}


.nav-tabs {
    border-color: var(--nav-tab-border-color);
    
    .nav-link {
        
        &.active {
            color: var(--nav-tab-active-text-color);
            background-color: var(--nav-tab-bg-color);
        }
    
        &:hover, &:focus {
            border-color: var(--nav-tab-hover-border-color);
        }
    }

}
