.side-nav {
    background-color: var(--side-nav-bg-color);
    box-shadow: var(--side-nav-box-shadow);
}

.side-nav-item {

    &.closed {
        .side-nav-text {
            opacity: 0;
        }

        .card-actions {
           opacity: 0;
        }

        &.active {
            color: var(--side-nav-item-active-color);
            background-color: unset;
        }
    }

    &:hover {
        color: var(--side-nav-hover-color);
        background-color: var(--side-nav-hover-bg-color);
    }

    &.active {
        color: var(--side-nav-item-active-color);
        background-color: var(--side-nav-active-bg-color);
    }
}

@media (max-width: 576px) {
    .side-nav-item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        width: 100%;
        height: 70px;
        min-height: 40px;
        overflow: hidden;
        font-size: 1rem;
    
        cursor: pointer; // This needs to be based a flag
    
        .side-nav-text {
            padding-left: 10px;
            opacity: 1;
            min-width: 100px;
            width: 100%;
    
            div {
                min-width: 102px;
                width: 100%
            }
        }
    
        .card-actions {
            opacity: 1;
        }
    
        div {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: inherit;
            min-width: 30px;
            width: 100%;
            padding-left: 5px;
    
            i {
                font-size: 2rem;
                width: 50px;
            }
        }
    
        &.closed {
            .side-nav-text {
                opacity: 0;
                
                div {
                }
            }
    
            .card-actions {
               opacity: 0;
               font-size: inherit
            }
        }
    
        span {
            &:last-child {
                flex-grow: 1;
                justify-content: end;
            }
        }
    }
}
