<ng-container *transloco="let t; prefix: 'manage-email-settings'">

  <div class="position-relative">
    <button type="button" class="btn btn-primary position-absolute custom-position" (click)="test()">{{t('test')}}</button>
  </div>

  <p>{{t('description')}}</p>


  <form>
    <p class="alert alert-warning">{{t('setting-description')}} {{t('test-warning')}}</p>

    <div class="row g-0 mt-2">
      <app-setting-item [title]="t('host-name-label')" [subtitle]="t('host-name-tooltip')" [control]="formGroup.hostName" labelId="settings-hostname"
                        [validations]="{pattern: t('host-name-validation')}">
        <ng-template #view>
          {{formGroup.hostName().value() | defaultValue}}
        </ng-template>
        <ng-template #edit>
          <input id="settings-hostname" aria-describedby="settings-hostname-validations" class="form-control" [formField]="formGroup.hostName" type="text"
                 [appFormField]="formGroup.hostName" appEnterBlur>
        </ng-template>


      </app-setting-item>
    </div>

    <div class="row g-0 mt-2">
      <app-setting-item [title]="t('sender-address-label')" [subtitle]="t('sender-address-tooltip')" [control]="formGroup.senderAddress" labelId="settings-sender-address">
        <ng-template #view>
          {{formGroup.senderAddress().value() | defaultValue}}
        </ng-template>
        <ng-template #edit>
          <input type="text" class="form-control" [formField]="formGroup.senderAddress" id="settings-sender-address" appEnterBlur [appFormField]="formGroup.senderAddress" />
        </ng-template>
      </app-setting-item>
    </div>

    <div class="row g-0 mt-2">
      <app-setting-item [title]="t('sender-displayname-label')" [subtitle]="t('sender-displayname-tooltip')" [control]="formGroup.senderDisplayName" labelId="settings-sender-displayname">
        <ng-template #view>
          {{formGroup.senderDisplayName().value() | defaultValue}}
        </ng-template>
        <ng-template #edit>
          <input type="text" class="form-control" [formField]="formGroup.senderDisplayName" id="settings-sender-displayname" appEnterBlur [appFormField]="formGroup.senderDisplayName" />
        </ng-template>
      </app-setting-item>
    </div>

    <div class="row g-0 mt-2">
      <app-setting-item [title]="t('host-label')" [subtitle]="t('host-tooltip')" [control]="formGroup.host" labelId="settings-host">
        <ng-template #view>
          {{formGroup.host().value() | defaultValue}}
        </ng-template>
        <ng-template #edit>
          <div class="input-group">
            <input type="text" class="form-control" [formField]="formGroup.host" id="settings-host" appEnterBlur [appFormField]="formGroup.host" />
            <button type="button" class="btn btn-outline-secondary" (click)="autofillGmail()">{{t('gmail-label')}}</button>
            <button type="button" class="btn btn-outline-secondary" (click)="autofillOutlook()">{{t('outlook-label')}}</button>
          </div>
        </ng-template>
      </app-setting-item>
    </div>

    <div class="row g-0 mt-2">
      <app-setting-item [title]="t('port-label')" [control]="formGroup.port" labelId="settings-port">
        <ng-template #view>
          {{formGroup.port().value() | defaultValue}}
        </ng-template>
        <ng-template #edit>
          <input type="number" inputmode="numeric" class="form-control" [formField]="formGroup.port" id="settings-port" appEnterBlur [appFormField]="formGroup.port" />
        </ng-template>
      </app-setting-item>
    </div>

    <div class="row g-0 mt-2">
      <app-setting-switch [title]="t('enable-ssl-label')">
        <ng-template>
          <div class="form-check form-switch float-end">
            <input type="checkbox" class="form-check-input" [formField]="formGroup.enableSsl">
          </div>
        </ng-template>
      </app-setting-switch>
    </div>

    <div class="row g-0 mt-2">
      <app-setting-item [title]="t('username-label')" [subtitle]="t('username-tooltip')" [control]="formGroup.userName" labelId="settings-username">
        <ng-template #view>
          {{formGroup.userName().value() | defaultValue}}
        </ng-template>
        <ng-template #edit>
          <input type="text" class="form-control" [formField]="formGroup.userName" id="settings-username" appEnterBlur [appFormField]="formGroup.userName" />
        </ng-template>
      </app-setting-item>
    </div>

    <div class="row g-0 mt-2">
      <app-setting-item [title]="t('password-label')" [control]="formGroup.password" labelId="settings-password">
        <ng-template #view>
          {{formGroup.password().value() ? '********' : null | defaultValue}}
        </ng-template>
        <ng-template #edit>
          <input type="text" class="form-control" [formField]="formGroup.password" id="settings-password" appEnterBlur [appFormField]="formGroup.password" />
        </ng-template>
      </app-setting-item>
    </div>

    <div class="row g-0 mt-2">
      <app-setting-item [title]="t('size-limit-label')" [subtitle]="t('size-limit-tooltip')" [control]="formGroup.sizeLimit" labelId="settings-size-limit">
        <ng-template #view>
          {{formGroup.sizeLimit().value() | bytes}}
        </ng-template>
        <ng-template #edit>
          <input type="number" inputmode="numeric" class="form-control" [formField]="formGroup.sizeLimit" id="settings-size-limit" appEnterBlur [appFormField]="formGroup.sizeLimit" />
        </ng-template>
      </app-setting-item>
    </div>

    <div class="row g-0 mt-2">
      <app-setting-switch [title]="t('customized-templates-label')" [subtitle]="t('customized-templates-tooltip')">
        <ng-template>
          <div class="form-check form-switch float-end">
            <input type="checkbox" class="form-check-input" [formField]="formGroup.customizedTemplates">
          </div>
        </ng-template>
      </app-setting-switch>
    </div>
  </form>

</ng-container>
