<form [formGroup]="resetPasswordForm">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Reset {{member.username | titlecase}}'s Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-info" *ngIf="errorMessage !== ''">
            <strong>Error: </strong> {{errorMessage}}
        </div>
        <div class="form-group">
            <label for="password">New Password</label>
            <input id="password" class="form-control" minlength="4" formControlName="password" type="password">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.value.password.length === 0" (click)="save()">Save</button>
    </div>
</form>