<form [formGroup]="resetPasswordForm">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Reset {{member.username | sentenceCase}}'s Password</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()">
        
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-info" *ngIf="errorMessage !== ''">
            <strong>Error: </strong> {{errorMessage}}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            <input id="password" class="form-control" minlength="4" formControlName="password" type="password">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.value.password.length === 0" (click)="save()">Save</button>
    </div>
</form>