<ng-container>
    <ngx-extended-pdf-viewer
        #pdfViewer
        [src]="readerService.downloadPdf(this.chapterId)"
        height="100vh"
        [(page)]="currentPage"
        [textLayer]="true" 
        [useBrowserLocale]="false"
        [showHandToolButton]="true"
        [showOpenFileButton]="false"
        [showPrintButton]="false"
        [showBookmarkButton]="false"
        [showRotateButton]="false"
        [showPropertiesButton]="false"
        [(zoom)]="zoomSetting"
        [showSecondaryToolbarButton]="true"
        [theme]="theme"
        [formTheme]="theme"
        [backgroundColor]="backgroundColor"
        

        [customToolbar]="multiToolbar"

        (pageChange)="onPageChange($event)"
    > 
    
    </ngx-extended-pdf-viewer>
    <!-- [pageViewMode]="bookMode"-->
    <ng-template #multiToolbar>
        <!-- THis is their code Robbie. We want to emulate theirs withours below. -->
        <pdf-toolbar [showRotateButton]="false" [showOpenFileButton]="false"  [showPrintButton]="false" [showSecondaryToolbarButton]="true">

        </pdf-toolbar>

        <div class="action-bar row g-0 justify-content-between">
            <div class="left-side col-4">
                <div class="row g-0 justify-content-between">
                    <div class="col-2 col-xs-1">
                        <pdf-toggle-sidebar></pdf-toggle-sidebar>
                    </div>
                    <div class="col-2 col-xs-1">
                        <pdf-find-button></pdf-find-button>
                    </div>
                    <div class="col-2 col-xs-1">
                        <pdf-paging-area></pdf-paging-area>
                    </div>
                </div>
                
            </div>
            
        

            <div class="book-title col-2 d-none d-sm-block">
                <ng-container *ngIf="isLoading; else showTitle">
                    <div class="spinner-border spinner-border-sm text-primary" style="border-radius: 50%;" role="status">
                        <span class="visually-hidden">Loading book...</span>
                    </div>
                </ng-container>
                <ng-template #showTitle>
                    <span *ngIf="incognitoMode" (click)="turnOffIncognito()" role="button" aria-label="Incognito mode is on. Toggle to turn off.">(<i class="fa fa-glasses"  aria-hidden="true"></i><span class="visually-hidden">Incognito Mode</span>)</span>
                    <span class="book-title-text ms-1" [ngbTooltip]="bookTitle">{{bookTitle}}</span>
                </ng-template>
            </div>

            <div class="right-side col-6">
                <div class="col-2 col-xs-1">
                    <pdf-hand-tool></pdf-hand-tool>
                </div>
    
                <div class="col-2 col-xs-1">
                    <pdf-select-tool></pdf-select-tool>
                </div>
    
                <div class="col-2 col-xs-1">
                    <pdf-presentation-mode></pdf-presentation-mode>
                </div>
    
                <div class="col-2 col-xs-1">
                    <button class="btn btn-icon col-2 col-xs-1" (click)="closeReader()">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        <span class="visually-hidden">Close Reader</span>
                    </button>
                </div>
    
                <div class="col-2 col-xs-1">
                    <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
                </div>
            </div>

        </div>

      </ng-template>
</ng-container>
