@use '../../../../series-detail-common';


.to-read-counter {
  position: absolute;
  top: 15px;
  left: 20px;
}

.under-image {
  background-color: var(--breadcrumb-bg-color);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}
//
//.rating-star {
//  margin-top: 2px;
//  font-size: 1.5rem;
//}
//
.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 158px);
  grid-gap: 0.5rem;
  justify-content: space-around;
}

::ng-deep .carousel-container .header i.fa-plus, ::ng-deep .carousel-container .header i.fa-pen{
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--primary-color);
  padding: 5px;
  vertical-align: middle;

  &:hover {
    background-color: var(--primary-color-dark-shade);
  }
}