@use '../../../../series-detail-common';

.to-read-counter {
  position: absolute;
  top: 15px;
  left: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 0.5rem;
  justify-content: space-around;
  padding-bottom: 20px;
}

::ng-deep .carousel-container .header i.fa-plus, ::ng-deep .carousel-container .header i.fa-pen {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--primary-color);
  padding: 5px;
  vertical-align: middle;

  &:hover {
    background-color: var(--primary-color-dark-shade);
  }
}

:host ::ng-deep .card-actions.btn-actions .btn {
    padding: 0.375rem 0.75rem;
}
