@use '../../../../series-detail-common';


.to-read-counter {
  position: absolute;
  top: 15px;
  left: 20px;
}

.under-image {
  background-color: var(--breadcrumb-bg-color);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

::ng-deep .image-container app-image img {
  max-height: 400px;
  object-fit: contain;
}

@media screen and (max-width: 576px) {
  .image-container{
    width: 100vw;
    top: 0;
    left: 0;
    pointer-events: none;
    position: absolute !important;
    display: block !important;
    max-height: unset !important;
    max-width: unset !important;
  }

  ::ng-deep .image-container app-image img {
    max-height: unset !important;
    width: 100dvw !important;
    opacity: 0.05 !important;
    filter: blur(5px) !important;
    max-width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    object-fit: cover;
  }
  
}
//
//.rating-star {
//  margin-top: 2px;
//  font-size: 1.5rem;
//}
//
.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-gap: 0.5rem;
  justify-content: space-around;
}

::ng-deep .carousel-container .header i.fa-plus, ::ng-deep .carousel-container .header i.fa-pen{
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--primary-color);
  padding: 5px;
  vertical-align: middle;

  &:hover {
    background-color: var(--primary-color-dark-shade);
  }
}

.upper-details {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .carousel-tabs-container {
    mask-image: linear-gradient(transparent, black 0%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 0%, black 90%, transparent 100%);
  }
}
