<ng-container *transloco="let t; read: 'edit-chapter-progress'">
<!--  <ngx-datatable-->
<!--    class="bootstrap"-->
<!--    [rows]="items.controls"-->
<!--    [columnMode]="ColumnMode.flex"-->
<!--    rowHeight="auto"-->
<!--    [footerHeight]="50"-->
<!--    [limit]="15"-->
<!--  >-->

<!--    <ngx-datatable-column name="" [sortable]="false" [draggable]="false" [resizeable]="false" [flexGrow]="3">-->
<!--      <ng-template let-column="column" ngx-datatable-header-template>-->
<!--        {{t('user-header')}}-->
<!--      </ng-template>-->
<!--      <ng-template let-item="row" let-idx="index" ngx-datatable-cell-template>-->
<!--        {{progressEvents[idx].userName | sentenceCase}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->


<!--    <ngx-datatable-column name="" [sortable]="false" [draggable]="false" [resizeable]="false" [flexGrow]="1">-->
<!--      <ng-template let-column="column" ngx-datatable-header-template>-->
<!--        {{t('page-read-header')}}-->
<!--      </ng-template>-->
<!--      <ng-template let-item="row" let-idx="index" ngx-datatable-cell-template>-->
<!--        @if(editMode[idx]) {-->
<!--          <input type="number" formControlName="pagesRead" class="form-control" inputmode="numeric"/>-->
<!--        } @else {-->
<!--          {{progressEvents[idx].pagesRead}}-->
<!--        }-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->

<!--    <ngx-datatable-column name="" [sortable]="false" [draggable]="false" [resizeable]="false" [flexGrow]="1">-->
<!--      <ng-template let-column="column" ngx-datatable-header-template>-->
<!--        {{t('date-created-header')}}-->
<!--      </ng-template>-->
<!--      <ng-template let-item="row" let-idx="index" ngx-datatable-cell-template>-->
<!--        {{progressEvents[idx].createdUtc | utcToLocalTime | date:'shortDate' | defaultDate}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->

<!--    <ngx-datatable-column name="" [sortable]="false" [draggable]="false" [resizeable]="false" [flexGrow]="1">-->
<!--      <ng-template let-column="column" ngx-datatable-header-template>-->
<!--        {{t('date-updated-header')}}-->
<!--      </ng-template>-->
<!--      <ng-template let-item="row" let-idx="index" ngx-datatable-cell-template>-->
<!--        {{progressEvents[idx].lastModifiedUtc | utcToLocalTime | date:'shortDate' | defaultDate}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--  </ngx-datatable>-->

  <table class="table table-striped" [formGroup]="formGroup">
    <thead>
    <tr>
      <th scope="col">{{t('user-header')}}</th>
      <th scope="col">{{t('page-read-header')}}</th>
      <th scope="col">{{t('date-created-header')}}</th>
      <th scope="col">{{t('date-updated-header')}}</th>
<!--      <th scope="col">{{t('action-header')}}</th>-->
    </tr>
    </thead>
    <tbody>
      @for(rowForm of items.controls; track rowForm; let idx = $index) {
        <tr >
          <td id="progress-event--{{idx}}">
            {{progressEvents[idx].userName | sentenceCase}}
          </td>
          <td>
            @if(editMode[idx]) {
              <input type="number" formControlName="pagesRead" class="form-control" inputmode="numeric"/>
            } @else {
              {{progressEvents[idx].pagesRead}}
            }
          </td>
          <td>
            {{progressEvents[idx].createdUtc | utcToLocalTime | date:'shortDate' | defaultDate}}
          </td>
          <td>
            {{progressEvents[idx].lastModifiedUtc | utcToLocalTime | date:'shortDate' | defaultDate}}
          </td>
<!--          <td>-->
<!--            @if(editMode[idx]) {-->
<!--              <button class="btn btn-primary" (click)="save(progressEvents[idx], idx)" attr.aria-labelledby="progress-event&#45;&#45;{{idx}}">-->
<!--                <i class="fa-solid fa-floppy-disk" aria-hidden="true"></i>-->
<!--                <span class="visually-hidden">{{t('save-alt')}}</span>-->
<!--              </button>-->
<!--            } @else {-->
<!--              <button class="btn btn-primary" (click)="edit(progressEvents[idx], idx)" attr.aria-labelledby="progress-event&#45;&#45;{{idx}}">-->
<!--                <i class="fa-solid fa-pencil" aria-hidden="true"></i>-->
<!--                <span class="visually-hidden">{{t('edit-alt')}}</span>-->
<!--              </button>-->
<!--            }-->
<!--          </td>-->
        </tr>
      } @empty {
        <tr><td colspan="6" style="text-align: center;">{{t('no-data')}}</td></tr>
      }
    </tbody>
  </table>
</ng-container>
