<div class="main-container container-fluid">
  <ng-container *transloco="let t; read: 'reading-lists'">
    <app-side-nav-companion-bar>
      <h4 title>
        <span>{{t('title')}}</span>
        <app-card-actionables [actions]="globalActions" (actionHandler)="performGlobalAction($event)"></app-card-actionables>
      </h4>
      @if (pagination) {
        <h5 subtitle class="subtitle-with-actionables">{{t('item-count', {num: pagination.totalItems | number})}}</h5>
      }

    </app-side-nav-companion-bar>
    <app-bulk-operations [actionCallback]="bulkActionCallback"></app-bulk-operations>

    <app-card-detail-layout
      [isLoading]="loadingLists"
      [items]="lists"
      [pagination]="pagination"
      [jumpBarKeys]="jumpbarKeys"
      [filteringDisabled]="true"
      [trackByIdentity]="trackByIdentity"
    >
      <ng-template #cardItem let-item let-position="idx" >
        <app-card-item [title]="item.title" [entity]="item" [actions]="actions[item.id]"
                       [suppressLibraryLink]="true" [imageUrl]="imageService.getReadingListCoverImage(item.id)"
                       [linkUrl]="'/lists/' + item.id"
                       [count]="item.itemCount"
                       (clicked)="handleClick(item)"
                       [selected]="bulkSelectionService.isCardSelected('readingList', position)"
                       [allowSelection]="true" [showFormat]="false"
                       (selection)="bulkSelectionService.handleCardSelection('readingList', position, lists.length, $event)">
        </app-card-item>
      </ng-template>

      <ng-template #noData>
        {{t('no-data')}} {{t('create-one-part-1')}} <a [href]="WikiLink.ReadingLists" rel="noopener noreferrer" target="_blank">{{t('create-one-part-2')}}<i class="fa fa-external-link-alt ms-1" aria-hidden="true"></i></a>.
      </ng-template>
    </app-card-detail-layout>

  </ng-container>
</div>
