<ng-container *transloco="let t; prefix:'oidc.settings'">

  <div class="position-relative">
    <button type="button" class="btn btn-primary position-absolute custom-position" (click)="save()">{{t('save')}}</button>
  </div>

  <form [formGroup]="settingsForm">
    <div class="alert alert-warning" role="alert">
      <strong>{{t('notice')}}</strong> {{t('restart-required')}}
    </div>

    <h4>{{t('provider')}}</h4>
    <div class="text-muted">{{t('manual-save')}}</div>
    <ng-container>
      <div class="row g-0 mt-4 mb-4">
        @if (settingsForm.get('authority'); as formControl) {
          <app-setting-item [title]="t('authority')" [subtitle]="t('authority-tooltip')">
            <ng-template #view>
              {{formControl.value}}
            </ng-template>
            <ng-template #edit>
              <input id="oid-authority" class="form-control"
                     formControlName="authority" type="text"
                     [class.is-invalid]="formControl.invalid && !formControl.untouched">

              @if (settingsForm.dirty || !settingsForm.untouched) {
                <div id="oidc-authority-validations" class="invalid-feedback">
                  @if (formControl.errors?.invalidUri) {
                    <div>{{t('invalidUri')}}</div>
                  }
                </div>
              }
            </ng-template>
          </app-setting-item>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if (settingsForm.get('clientId'); as formControl) {
          <app-setting-item [title]="t('clientId')" [subtitle]="t('clientId-tooltip')">
            <ng-template #view>
              {{formControl.value}}
            </ng-template>
            <ng-template #edit>
              <input id="oid-clientId" aria-describedby="oidc-clientId-validations" class="form-control"
                     formControlName="clientId" type="text"
                     [class.is-invalid]="formControl.invalid && !formControl.untouched">

              @if (settingsForm.dirty || !settingsForm.untouched) {
                <div id="oidc-clientId-validations" class="invalid-feedback">
                  @if (formControl.errors?.requiredIf) {
                    <div>{{t('field-required', {name: 'clientId', other: formControl.errors?.requiredIf.other})}}</div>
                  }
                </div>
              }

            </ng-template>
          </app-setting-item>
        }
      </div>

    </ng-container>

    <div class="setting-section-break"></div>
    <h4>{{t('behaviour')}}</h4>
    <ng-container>
      <div class="row g-0 mt-4 mb-4">
        @if (settingsForm.get('providerName'); as formControl) {
          <app-setting-item [title]="t('providerName')" [subtitle]="t('providerName-tooltip')">
            <ng-template #view>
              {{formControl.value}}
            </ng-template>
            <ng-template #edit>
              <input id="oid-providerName" aria-describedby="oidc-providerName-validations" class="form-control"
                     formControlName="providerName" type="text"
                     [class.is-invalid]="formControl.invalid && !formControl.untouched">
            </ng-template>
          </app-setting-item>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('provisionAccounts'); as formControl) {
          <app-setting-switch [title]="t('provisionAccounts')" [subtitle]="t('provisionAccounts-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="provisionAccounts" type="checkbox" class="form-check-input" formControlName="provisionAccounts">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('requireVerifiedEmail'); as formControl) {
          <app-setting-switch [title]="t('requireVerifiedEmail')" [subtitle]="t('requireVerifiedEmail-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="requireVerifiedEmail" type="checkbox" class="form-check-input" formControlName="requireVerifiedEmail">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

            <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('syncUserSettings'); as formControl) {
          <app-setting-switch [title]="t('syncUserSettings')" [subtitle]="t('syncUserSettings-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="syncUserSettings" type="checkbox" class="form-check-input" formControlName="syncUserSettings">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('autoLogin'); as formControl) {
          <app-setting-switch [title]="t('autoLogin')" [subtitle]="t('autoLogin-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="autoLogin" type="checkbox" class="form-check-input" formControlName="autoLogin">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

      <div class="row g-0 mt-4 mb-4">
        @if(settingsForm.get('disablePasswordAuthentication'); as formControl) {
          <app-setting-switch [title]="t('disablePasswordAuthentication')" [subtitle]="t('disablePasswordAuthentication-tooltip')">
            <ng-template #switch>
              <div class="form-check form-switch float-end">
                <input id="disablePasswordAuthentication" type="checkbox" class="form-check-input" formControlName="disablePasswordAuthentication">
              </div>
            </ng-template>
          </app-setting-switch>
        }
      </div>

    </ng-container>

  </form>

</ng-container>
