<ng-container *transloco="let t; prefix: 'reads-by-month'">

  <div class="card stats-card p-4">

    <h4 class="stats-title">{{t('title')}}</h4>

    @let mostReadValue = highestRead();
    @if (mostReadValue) {
      <span class="stats-subtitle mb-4">{{t('sub-title', {username: userName(), year: mostReadValue.year, month: mostReadValue.month, reads: mostReadValue.count | number})}}</span>
    }

    <app-line-chart
      [axisLabels]="axisLabels()"
      [data]="data()"
      [legendLabels]="legendLabels()"
      [showLegend]="false"
    />
  </div>

</ng-container>
