// You must add this on a component based drawer
:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep .person-img {
  margin-top: 24px; margin-left: 24px;
}

.muted {
  font-size: 14px;
}

a.read-more-link {
  white-space: nowrap;
}

.not-clickable {
  cursor: text;
}

.offcanvas-body {
  mask-image: linear-gradient(to bottom, transparent, black 0%, black 97%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 0%, black 97%, transparent 100%);
}
