<ng-container *transloco="let t; prefix: 'search-typeahead'">
  <form [formRoot]="formGroup" class="grouped-typeahead">
    <label [for]="id()" class="form-label visually-hidden">{{t('search-series-alt')}}</label>
    <div class="typeahead-input" [class.focused]="hasFocus()" (click)="onInputClick($event)">
      <div class="search">
        <input #input [id]="id()" type="text" inputmode="search" autocomplete="off" [formField]="formGroup.typeahead" [placeholder]="t('search-alt')"
               aria-haspopup="listbox" aria-owns="dropdown"
               [attr.aria-expanded]="hasFocus() && hasAnyData()"
               aria-autocomplete="list" (focusout)="close($event)" (focus)="open()" role="searchbox">

        @if (searchTerm().length > 0) {
          @if (isLoading()) {
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">{{t('loading')}}</span>
            </div>
          } @else {
            <button type="button" class="btn-close" [attr.aria-label]="t('close')" (click)="clearSearch()"></button>
          }
        } @else {
          <div class="input-hint d-none d-lg-block">
            {{keyBindService.allKeyBinds().OpenSearch.at(0) | keyBind:false}}
          </div>
        }
      </div>
    </div>

    @if (hasFocus()) {
      @let data = groupedData();
      @let term = searchTerm().trim();

      <div class="overlay">
        <div class="search-dropdown">
          <ul class="list-group" role="listbox" id="dropdown">

            @if (term.length > 0) {
              <li class="list-group-item search-all-row" role="option" tabindex="0">
                <div class="result-row clickable d-flex align-items-center gap-2" (click)="searchAll()">
                  <div class="thumb flex-shrink-0 text-center">
                    <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                  </div>
                  <div class="body">
                    <div class="title text-truncate">
                      <app-transloco-inject key="search-typeahead.search-for">
                        <ng-template translocoSlot="term"><strong>{{term}}</strong></ng-template>
                      </app-transloco-inject>
                    </div>
                  </div>
                </div>
              </li>
            }

            @if (data.series.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="series-group">{{t('series')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="series-group">
                @for (option of data.series; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="seriesTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (data.collections.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="collections-group">{{t('collections')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="collections-group">
                @for (option of data.collections; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="collectionTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (data.readingLists.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="reading-lists-group">{{t('reading-lists')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="reading-lists-group">
                @for (option of data.readingLists; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="readingListTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (data.bookmarks.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="bookmarks-group">{{t('bookmarks')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="bookmarks-group">
                @for (option of data.bookmarks; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="bookmarkTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (data.libraries.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="libraries-group">{{t('libraries')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="libraries-group">
                @for (option of data.libraries; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="libraryTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (data.genres.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="genres-group">{{t('genres')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="genres-group">
                @for (option of data.genres; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="genreTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (data.tags.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="tags-group">{{t('tags')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="tags-group">
                @for (option of data.tags; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="tagTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (data.persons.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="people-group">{{t('people')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="people-group">
                @for (option of data.persons; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="personTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (data.chapters.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="chapters-group">{{t('chapters')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="chapters-group">
                @for (option of data.chapters; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="chapterTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (data.files.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="files-group">{{t('files')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="files-group">
                @for (option of data.files; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="fileTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (data.annotations.length > 0) {
              <li class="list-group-item no-hover group-header" role="presentation"><h5 class="kv-section-header" id="annotations-group">{{t('annotations')}}</h5></li>
              <ul class="list-group results" role="group" aria-labelledby="annotations-group">
                @for (option of data.annotations; track option) {
                  <li class="list-group-item" role="option" tabindex="0">
                    <ng-container [ngTemplateOutlet]="annotationTemplate" [ngTemplateOutletContext]="{ $implicit: option }" />
                  </li>
                }
              </ul>
            }

            @if (searchTerm().length > 0 && !isLoading()) {
              @if (!hasAnyData()) {
                <div class="list-group results">
                  <app-empty-state [titleKey]="'no-data'"
                                   [i18nPrefix]="'search-typeahead'">
                    <i icon class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
                  </app-empty-state>
                </div>
              }

              <li class="list-group-item no-hover extras-row" (click)="$event.stopPropagation()">
                <div class="form-check form-switch">
                  <input type="checkbox" id="search-include-extras" role="switch" [formField]="formGroup.includeExtras" class="form-check-input" switch>
                  <label class="form-check-label" for="search-include-extras">{{t('include-extras')}}</label>
                </div>
              </li>
            }
          </ul>
        </div>
      </div>
    }

  </form>


  <ng-template #libraryTemplate let-item>
    <div class="result-row clickable d-flex align-items-center gap-2" (click)="clickLibraryResult(item)">
      <div class="body">
        <div class="title text-truncate">{{item.name}}</div>
      </div>
    </div>
  </ng-template>

  <ng-template #seriesTemplate let-item>
    @let normalizedSearchTerm = searchTerm().toLowerCase().trim();

    <div class="result-row clickable d-flex align-items-center gap-2" (click)="clickSeriesSearchResult(item)">
      <div class="thumb flex-shrink-0">
        <app-image class="search-result" width="32px" [imageUrl]="imageService.getSeriesCoverImage(item.seriesId)" />
      </div>
      <div class="body">
        <div class="title text-truncate">
          @if (item.localizedName.toLowerCase().trim().indexOf(normalizedSearchTerm) >= 0) {
            {{item.localizedName}}
          } @else {
            {{item.name}}
          }
        </div>
        <div class="subtitle text-truncate">
          {{t('in-library', {name: item.libraryName})}}
          <app-series-format [format]="item.format" />
        </div>
      </div>
      @if (item.volumeCount > 0) {
        <div class="meta ms-auto flex-shrink-0">{{t(item.volumeCount === 1 ? 'volume-count-one' : 'volume-count', {count: item.volumeCount})}}</div>
      } @else if (item.chapterCount > 0) {
        <div class="meta ms-auto flex-shrink-0">{{t(item.chapterCount === 1 ? 'chapter-count-one' : 'chapter-count', {count: item.chapterCount})}}</div>
      }
    </div>
  </ng-template>

  <ng-template #annotationTemplate let-item>
    @let normalizedSearchTerm = searchTerm().toLowerCase().trim();

    <div class="result-row clickable d-flex align-items-center gap-2" (click)="clickAnnotationSearchResult(item)">
      <div class="body">
        @if (item.comment.toLowerCase().trim().indexOf(normalizedSearchTerm) >= 0) {
          <!--We can't render the comment as it's json -->
          <quill-view [content]="item.context" />
        } @else {
          <div class="title text-truncate">{{item.chapterTitle}}</div>
        }
      </div>
    </div>
  </ng-template>

  <ng-template #bookmarkTemplate let-item>
    @let normalizedSearchTerm = searchTerm().toLowerCase().trim();

    <div class="result-row clickable d-flex align-items-center gap-2" (click)="clickBookmarkSearchResult(item)">
      <div class="thumb flex-shrink-0">
        <app-image class="search-result" width="32px" [imageUrl]="imageService.getSeriesCoverImage(item.seriesId)" />
      </div>
      <div class="body">
        @if (item.seriesName.toLowerCase().trim().indexOf(normalizedSearchTerm) >= 0) {
          <div class="title text-truncate">{{item.seriesName}}</div>
        } @else {
          <div class="title text-truncate" [innerHTML]="item.localizedSeriesName"></div>
        }
        <div class="subtitle text-truncate">
          <app-series-format [format]="item.format" />
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #collectionTemplate let-item>
    <div class="result-row clickable d-flex align-items-center gap-2" (click)="clickCollectionSearchResult(item)">
      <div class="thumb flex-shrink-0">
        <app-image class="search-result" width="32px" [imageUrl]="imageService.getCollectionCoverImage(item.id)" />
      </div>
      <div class="body">
        <div class="title text-truncate">
          <span>{{item.title}}</span>
          <app-promoted-icon [promoted]="item.promoted" />
        </div>
        <div class="subtitle text-truncate">
          <app-collection-owner [collection]="item" />
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #readingListTemplate let-item>
    <div class="result-row clickable d-flex align-items-center gap-2" (click)="clickReadingListSearchResult(item)">
      <div class="body">
        <div class="title text-truncate">
          <span>{{item.title}}</span>
          <app-promoted-icon [promoted]="item.promoted" />
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #tagTemplate let-item>
    <div class="result-row clickable d-flex align-items-center gap-2" (click)="goToOther(FilterField.Tags, item.id)">
      <div class="body">
        <div class="title text-truncate">{{item.title}}</div>
      </div>
    </div>
  </ng-template>

  <ng-template #personTemplate let-item>
    <div class="result-row clickable d-flex align-items-center gap-2" (click)="goToPerson(item)">
      <div class="thumb flex-shrink-0">
        <app-image class="search-result"
                   [styles]="{'background': 'none', 'max-height': '32px', 'height': '32px', 'width': '32px', 'border-radius': '50%'}"
                   width="32px" [imageUrl]="imageService.getPersonImage(item.id)" [errorImage]="imageService.noPersonImage" />
      </div>
      <div class="body">
        <div class="title text-truncate">{{item.name}}</div>
        @if (item.aliases.length > 0) {
          <div class="subtitle text-truncate">{{t('person-aka-status')}}</div>
        }
      </div>
    </div>
  </ng-template>

  <ng-template #genreTemplate let-item>
    <div class="result-row clickable d-flex align-items-center gap-2" (click)="goToOther(FilterField.Genres, item.id)">
      <div class="body">
        <div class="title text-truncate" [innerHTML]="item.title"></div>
      </div>
    </div>
  </ng-template>

  <ng-template #chapterTemplate let-item>
    <div class="result-row clickable d-flex align-items-center gap-2" (click)="clickChapterSearchResult(item)">
      <div class="body">
        <!-- TODO: this needs the series name before the chapter issue -->
        <div class="title text-truncate">{{item.titleName || item.range}}</div>
        @if (item.files.length > 0) {
          <div class="subtitle text-truncate">
            <app-series-format [format]="item.files?.[0].format" />
          </div>
        }
      </div>
    </div>
  </ng-template>

  <ng-template #fileTemplate let-item>
    <div class="result-row clickable d-flex align-items-center gap-2" (click)="clickFileSearchResult(item)">
      <div class="body">
        <div class="title text-truncate">{{item.filePath}}</div>
        <div class="subtitle text-truncate">
          <app-series-format [format]="item.format" />
        </div>
      </div>
    </div>
  </ng-template>

</ng-container>
