$bg-color: #c9c9c9;
$bdr-color: #f2f2f2;

::ng-deep .tagbadge {
    background-color: $bg-color;
    transition: all .3s ease-out;
    margin: 3px 5px 3px 0px;
    padding: 2px 10px;
    border-radius: 6px;
    font-size: 14px;
    border: 1px solid $bdr-color;
    display: inline-block;
    cursor: default;

    i {
        font-size: 14px;
        font-weight: bold;
        margin-right: 0px;
        cursor: pointer;
    }
}

::ng-deep .selectable-cursor {
    cursor: default !important;

    i {
        cursor: default !important;
    }
}

::ng-deep .not-allowed-cursor {
    cursor: not-allowed !important;

    i {
        cursor: not-allowed !important;
    }
}

::ng-deep .clickable-cursor {
    cursor: pointer !important;

    i {
        cursor: pointer !important;
    }
}