.tagbadge {
    transition: all .3s ease-out;
    margin: 3px 5px 3px 0px;
    padding: 2px 10px;
    border-radius: 6px;
    font-size: 14px;
    display: inline-block;
    cursor: default;
    width: auto;

    i {
        font-size: 14px;
        font-weight: bold;
        margin-right: 0px;
        cursor: pointer;
    }
}

.selectable-cursor {
    cursor: text !important;

    i {
        cursor: text !important;
    }
}

.not-allowed-cursor {
    cursor: not-allowed !important;

    i {
        cursor: not-allowed !important;
    }
}

.clickable-cursor {
    cursor: pointer !important;

    i {
        cursor: pointer !important;
    }
}
