<div class="reader">
    <ng-container *ngIf="isLoading">
        <div class="spinner-border text-secondary loading" role="status">
            <span class="invisible">Loading...</span>
        </div>
    </ng-container>

    <div *ngIf="menuOpen" class="overlay" (click)="toggleMenu()">
        <div class="center-menu" (click)="$event.stopPropagation()">
            <div class="col" *ngIf="mangaFileName !== ''">
                {{ mangaFileName }}
            </div>
            <div class="col">
                <button class="btn btn-small btn-primary" (click)="closeReader()">
                    <i class="fa fa-times-circle not-phone-hidden" aria-hidden="true"></i>&nbsp;Close<span class="phone-hidden"> Reader</span>
                </button>
            </div>

            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 mt-4">
                    <h4>Navigation</h4>
                    Page {{pageNum + 1}} / {{maxPages}}
                    <div class="row no-gutters">
                        <button class="btn btn-small btn-icon col-2" (click)="goToPage(0)"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
                        <div class="col-8">
                            <ngb-progressbar title="Go to page" type="info" [value]="pageNum + 1" [max]="maxPages" (click)="goToPage()" style="margin: 0 auto; margin-top: 10px"></ngb-progressbar>
                        </div>
                        <button class="btn btn-small btn-icon col-2" (click)="goToPage(maxPages)"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 mt-4">
                    <h4>Reading Direction</h4>
                    <button class="btn btn-primary" (click)="setReadingDirection()">{{readingDirection === 0 ? 'Left to Right' : 'Right to Left'}}</button>
                </div>
            </div>

            <div class="row no-gutters">
                <div *ngIf="fittingForm" class="col mt-4">
                    <h4>Scaling<span class="phone-hidden"> Options</span></h4>
                    <form [formGroup]="fittingForm">
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="fittingOption">
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="full-height">Height
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="full-width">Width
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="original"> Original
                            </label>
                        </div>
                    </form>
                </div>

                <div *ngIf="splitForm" class="col mt-4">
                    <h4>Spliting<span class="phone-hidden"> Options</span></h4>
                    <form [formGroup]="splitForm">
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="pageSplitOption">
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="1"><span class="not-phone-hidden">R2L</span><span class="phone-hidden">Right to Left</span>
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="0"><span class="not-phone-hidden">L2R</span><span class="phone-hidden">Left to Right</span>
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="2"><span class="not-phone-hidden">None</span><span class="phone-hidden">None</span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="right" (click)="toggleMenu()">
            <p>{{readingDirection === 0 ? 'Next' : 'Previous'}} Page</p>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="left" (click)="toggleMenu()">
            <p>{{readingDirection === 0 ? 'Previous' : 'Next'}} Page</p>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </div>
    </div>

    <div (click)="toggleMenu()">
        <canvas #content class="{{getFittingOptionClass()}}"></canvas>
        <div class="right" (click)="handlePageChange($event, 'right')"></div>
        <div class="left" (click)="handlePageChange($event, 'left')"></div>
    </div>
    
    
    
</div>