$center-width: 50%;
$side-width: 25%;

$dash-width: 3px;
$pointer-offset: 5px;

$secondary-color: #CCC;


@media(min-width: 600px) {
    .overlay .left .i {
        left: 20px;
    }
    .overlay .right .i {
        right: 20px;
    }
} 


.btn-icon {
    color: white;
}

canvas {
    position: absolute;
}

.reader {
    background-color: black;

    img {
        align-items: center;
    }
}

.loading {
    position: absolute;
    left: 48%;
    top: 20%;
    z-index: 1;
}


.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  cursor: pointer;
  color: white;

  .right {
    border-left: $dash-width dashed $secondary-color;
    cursor: pointer;

    p {
        font-size: 24px;
        position: absolute;
        height: 100%;
        z-index: 1;
        top: 65%;
        right: $pointer-offset;
        color: $secondary-color;
    }

    i {
        font-size: 70px;
        position: absolute;
        height: 100%;
        z-index: 1;
        top: 50%;
        right: $pointer-offset;
        color: $secondary-color;
      }
  }
  .left {
    border-right: $dash-width dashed $secondary-color;
    cursor: pointer;

    p {
        font-size: 24px;
        position: absolute;
        height: 100%;
        z-index: 1;
        top: 65%;
        left: $pointer-offset;
        color: $secondary-color;
    }

    i {
        font-size: 70px;
        position: absolute;
        height: 100%;
        z-index: 1;
        top: 50%;
        left: $pointer-offset;
        color: $secondary-color;
      }

  }



  
}

// Fitting Options
.full-height {
    position: absolute;
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 100%;
}

.original {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;    
}

.full-width {
    width: 100%;
}


.center-menu {
    position: fixed;
    top: 10px;
    left: $side-width;
    width: $center-width;
    border-bottom: $dash-width dashed $secondary-color;
    text-align: center;
    z-index: 2;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.right {
    position: fixed;
    right: 0px;
    top: 0px;
    width: $side-width;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
}

.left {
    position: fixed;
    left: 0px;
    top: 0px;
    width: $side-width;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
    cursor: pointer;
}