<div class="reader">
    <ng-container *ngIf="isLoading">
        <div class="spinner-border text-secondary loading" role="status">
            <span class="invisible">Loading...</span>
        </div>
    </ng-container>

    <div *ngIf="menuOpen" class="overlay" (click)="toggleMenu()">
        <div class="center-menu" (click)="$event.stopPropagation()">
                <div class="col" *ngIf="image !== undefined">
                    <!-- TODO: Think about putting behind ? icon toggle -->
                    {{ image.mangaFileName }}
                </div>

            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 mt-4">
                    <h4>Page Navigation</h4>
                    Page {{pageNum + 1}} / {{maxPages}}
                    <div class="row no-gutters">
                        <button class="btn btn-small btn-icon col-2" (click)="goToPage(0)"><i class="fa fa-fast-backward"></i></button>
                        <div class="col-8">
                            <ngb-progressbar type="info" [value]="pageNum + 1" [max]="maxPages" (click)="goToPage()" style="margin: 0 auto;margin-top: 10px"></ngb-progressbar>
                        </div>
                        <button class="btn btn-small btn-icon col-2" (click)="goToPage(maxPages)"><i class="fa fa-fast-forward"></i></button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 mt-4">
                    <h4>Reading Direction</h4>
                    <button class="btn btn-primary" (click)="setReadingDirection()">{{readingDirection === 0 ? 'Left to Right' : 'Right to Left'}}</button>
                </div>
            </div>

            <div class="row no-gutters">
                <div *ngIf="fittingForm" class="col mt-4">
                    <h4>Scaling Options</h4>
                    <form [formGroup]="fittingForm">
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="fittingOption">
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="full-height"> Fit to Height
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="full-width"> Fit to Width
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="original"> Original
                            </label>
                        </div>
                    </form>
                </div>

                <div *ngIf="splitForm" class="col mt-4">
                    <h4>Page Split Options</h4>
                    <form [formGroup]="splitForm">
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="pageSplitOption">
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="1"> Right to Left
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="0"> Left to Right
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" value="2"> No Split
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="right" (click)="toggleMenu()">
            <p>{{readingDirection === 0 ? 'Next' : 'Previous'}} Page</p>
            <i class="fa fa-arrow-right"></i>
        </div>
        <div class="left" (click)="toggleMenu()">
            <p>{{readingDirection === 0 ? 'Previous' : 'Next'}} Page</p>
            <i class="fa fa-arrow-left"></i>
        </div>
    </div>

    <div (click)="toggleMenu()">
        <canvas #content class="{{getFittingOptionClass()}}"></canvas>
        <div class="right" (click)="handlePageChange($event, 'right')"></div>
        <div class="left" (click)="handlePageChange($event, 'left')"></div>
    </div>
    
    
    
</div>