
<form [formGroup]="formGroup">
    <div class="row g-0">
        <div class="col-md-4">
            <ng-container *ngIf="formGroup.get('input') as control">
                <select class="form-select me-1" formControlName="input">
                    <option *ngFor="let field of allFields" [value]="field">{{field | filterField}}</option>
                </select>
            </ng-container>
        </div>
        
        <div class="col-md-2">
            <select class="col-auto form-select me-1">
                <option *ngFor="let comparison of validComprisons$ | async" [value]="comparison">{{comparison | filterComparison}}</option>
            </select>
        </div>

        <div class="col-md-4">

            <ng-container *ngIf="predicateType$ | async as predicateType">
                <ng-container [ngSwitch]="predicateType">
                    <ng-container *ngSwitchCase="PredicateType.Text">
                        <input type="text" class="form-control me-1" autocomplete="true" formGroupName="filterValue">
                    </ng-container>
                    <ng-container *ngSwitchCase="PredicateType.Number">
                        <input type="number" inputmode="numeric" class="form-control me-1" formGroupName="filterValue">
                    </ng-container>
                    <ng-container *ngSwitchCase="PredicateType.Dropdown">
                        <select class="col-auto form-select me-1">
                            <option *ngFor="let option of dropdownOptions$ | async" [value]="option.value">{{option.title}}</option>
                        </select>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</form>
