<ng-container *transloco="let t; read:'top-readers'">
  <div class="row g-0 mb-2 align-items-center">
    <div class="col-4">
      <h4>{{t('title')}}</h4>
    </div>
    <div class="col-8">
      <form [formGroup]="formGroup" class="d-inline-flex float-end">
        <div class="d-flex">
          <label for="time-select-top-reads" class="form-check-label visually-hidden">{{t('time-selection-label')}}</label>
          <select id="time-select-top-reads" class="form-select" formControlName="days"
                  [class.is-invalid]="formGroup.get('days')?.invalid && formGroup.get('days')?.touched">
            @for (item of timePeriods; track item.value) {
              <option [value]="item.value">{{t(item.title)}}</option>
            }
          </select>
        </div>
      </form>
    </div>
  </div>

  @if (users$ | async; as users) {
    <app-carousel-reel [alwaysShow]="false" [clickableTitle]="false" [items]="users">
      <ng-template #carouselItem let-item>
        <div class="card me-2">
          <div class="card-header text-center">
            {{item.username}}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{t('comics-label', {value: item.comicsTime})}}</li>
            <li class="list-group-item">{{t('manga-label', {value: item.mangaTime})}}</li>
            <li class="list-group-item">{{t('books-label', {value: item.booksTime})}}</li>
          </ul>
        </div>
      </ng-template>
    </app-carousel-reel>
  }







</ng-container>
