<div class="row g-0 mb-2">
    <div class="col-4">
        <h4>Top Readers</h4>
    </div>
    <div class="col-8">
        <form [formGroup]="formGroup" class="d-inline-flex float-end">
            <div class="form-check form-switch ms-1" style="width: 200px">
                <label for="time-select-top-reads" class="form-check-label"></label>
                <select id="time-select-top-reads" class="form-select" formControlName="days"
                [class.is-invalid]="formGroup.get('days')?.invalid && formGroup.get('days')?.touched">
                    <option *ngFor="let item of timePeriods" [value]="item.value">{{item.title}}</option>
                </select>
            </div>
        </form>
    </div>
</div>


<ng-container>
    <div class="row g-0 d-flex justify-content-around">
        <div class="card" style="width: 12rem;" *ngFor="let user of (users$ | async)">
            <div class="card-header text-center">
              {{user.username}}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Comics: {{user.comicsTime}} hrs</li>
              <li class="list-group-item">Manga: {{user.mangaTime}} hrs</li>
              <li class="list-group-item">Books: {{user.booksTime}} hrs</li>
            </ul>
        </div>
    </div>
</ng-container>



