<app-side-nav-companion-bar>
    <h2 title>
        Reading Lists
    </h2>
    <h6 subtitle *ngIf="pagination">{{pagination.totalItems}} Items</h6>
</app-side-nav-companion-bar>

<app-card-detail-layout
    [isLoading]="loadingLists"
    [items]="lists"
    [pagination]="pagination"
    [jumpBarKeys]="jumpbarKeys"
    [filteringDisabled]="true"
    >
    <ng-template #cardItem let-item let-position="idx">
        <app-card-item [title]="item.title" [entity]="item" [actions]="getActions(item)" 
            [suppressLibraryLink]="true" [imageUrl]="imageService.getReadingListCoverImage(item.id)" 
            (clicked)="handleClick(item)"></app-card-item>
    </ng-template>
</app-card-detail-layout>
