<div class="table-of-contents">
  <div *ngIf="Pages.length === 0">
    <em>Nothing Bookmarked yet</em>
  </div>
  <ul>
    <li *ngFor="let page of Pages" (click)="loadChapterPage(page, '')">
      Page {{page}}
      <ul class="chapter-title">
        <li *ngFor="let bookmark of bookmarks[page]" (click)="loadChapterPage(bookmark.pageNumber, bookmark.bookScrollId)">
          {{bookmark.title}}
          <button class="btn btn-icon ms-1" (click)="removeBookmark(bookmark)">
            <i class="fa-solid fa-trash" aria-hidden="true"></i>
            <span class="visually-hidden">Delete {{bookmark.title}}</span>
        </button>
        </li>
      </ul>
    </li>
  </ul>
</div>
