<ng-container *transloco="let t; read: 'personal-table-of-contents'">
  <div class="table-of-contents">
    @if (Pages.length === 0) {
      <div>
        <em>{{t('no-data')}}</em>
      </div>
    }
    <ul>
      @for (page of Pages; track page) {
        <li>
          <span (click)="loadChapterPage(page, '')">{{t('page', {value: page})}}</span>
          <ul class="chapter-title">
            @for(bookmark of bookmarks[page]; track bookmark) {
              <li class="ellipsis"
                  [ngbTooltip]="bookmark.title"
                  placement="right"
                  (click)="loadChapterPage(bookmark.pageNumber, bookmark.bookScrollId); $event.stopPropagation();">
                {{bookmark.title}}
                <button class="btn btn-icon ms-1" (click)="removeBookmark(bookmark); $event.stopPropagation();">
                  <i class="fa-solid fa-trash" aria-hidden="true"></i>
                  <span class="visually-hidden">{{t('delete', {bookmarkName: bookmark.title})}}</span>
                </button>
              </li>
            }

          </ul>
        </li>
      }

    </ul>
  </div>
</ng-container>
