<app-side-nav-companion-bar [hasFilter]="false" (filterOpen)="filterOpen.emit($event)">
    <h2 title>
        Collections
    </h2>
    <h6 subtitle>{{collections.length}} Items</h6>
</app-side-nav-companion-bar>
<app-card-detail-layout
    [isLoading]="isLoading"
    [items]="collections"
    [filterOpen]="filterOpen"
    [jumpBarKeys]="jumpbarKeys"
    >
        <ng-template #cardItem let-item let-position="idx">
            <app-card-item [title]="item.title" [entity]="item" [actions]="collectionTagActions" [imageUrl]="imageSerivce.getCollectionCoverImage(item.id)" (clicked)="loadCollection(item)"></app-card-item>
        </ng-template>
</app-card-detail-layout>