<ng-container *transloco="let t; read: 'manage-users'">


  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-8"><h5>{{t('title')}}</h5></div>
      <div class="col-4"><button class="btn btn-primary float-end" (click)="inviteUser()"><i class="fa fa-plus" aria-hidden="true"></i><span class="phone-hidden">&nbsp;{{t('invite')}}</span></button></div>
    </div>

    <ul class="list-group">
      @for(member of members; track member.username + member.lastActiveUtc + member.roles.length; let idx = $index) {
        <li class="list-group-item no-hover">
          <div>
            <h6>
              <span id="member-name--{{idx}}" [ngClass]="{'highlight': member.username === loggedInUsername}">{{member.username | titlecase}}</span>

              @if (canEditMember(member)) {
                <div class="float-end">
                  <button class="btn btn-danger btn-sm me-2" (click)="deleteUser(member)"
                          placement="top" [ngbTooltip]="t('delete-user-tooltip')" [attr.aria-label]="t('delete-user-alt', {user: member.username | titlecase})">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-primary btn-sm me-2" (click)="openEditUser(member)"
                          placement="top" [ngbTooltip]="t('edit-user-tooltip')" [attr.aria-label]="t('edit-user-alt', {user: member.username | titlecase})">
                    <i class="fa fa-pen" aria-hidden="true"></i>
                  </button>

                  @if (member.isPending) {
                    <button class="btn btn-secondary btn-sm me-2" (click)="resendEmail(member)"
                            placement="top" [ngbTooltip]="t('resend-invite-tooltip')" [attr.aria-label]="t('resend-invite-alt', {user: member.username | titlecase})"><i class="fa-solid fa-share-from-square" aria-hidden="true"></i></button>
                    <button class="btn btn-secondary btn-sm" (click)="setup(member)"
                            placement="top" [ngbTooltip]="t('setup-user-tooltip')" [attr.aria-label]="t('setup-user-alt', {user: member.username | titlecase})"><i class="fa-solid fa-sliders" aria-hidden="true"></i></button>
                  } @else {
                    <button class="btn btn-secondary btn-sm" (click)="updatePassword(member)"
                            placement="top" [ngbTooltip]="t('change-password-tooltip')" [attr.aria-label]="t('change-password-alt', {user: member.username | titlecase})"><i class="fa fa-key" aria-hidden="true"></i></button>
                  }
                </div>
              }
            </h6>

            <div class="user-info">
              <div>{{t('last-active-title')}}
                @if (member.isPending) {
                  <span class="badge bg-secondary text-dark ms-1 pending-badge">{{t('pending-title')}}</span>
                } @else {
                  <span>{{member.lastActiveUtc | utcToLocalTime | defaultDate}}
                    @if ((messageHub.onlineUsers$ | async)?.includes(member.username)) {
                      <i class="presence fa fa-circle ms-1" [title]="t('online-now-tooltip')" aria-hidden="true"></i>
                    }
                  </span>
                }
              </div>

              @if (!hasAdminRole(member) && member.libraries.length > 0) {
                <div>
                  {{t('sharing-title')}}

                  @for(lib of member.libraries; track lib.name) {
                    <app-tag-badge class="col-auto">{{lib.name}}</app-tag-badge>
                  }
                </div>
              }

              <div class="row g-0">
                @if (getRoles(member); as roles) {
                  <div>
                    {{t('roles-title')}}
                    @if (roles.length === 0) {
                      <span>{{null | defaultValue}}</span>
                    } @else {
                      @if (hasAdminRole(member)) {
                        <app-tag-badge class="col-auto">{{t('admin')}}</app-tag-badge>
                      } @else {
                        @for (role of roles; track role) {
                          <app-tag-badge class="col-auto">{{role}}</app-tag-badge>
                        }
                      }
                    }
                  </div>
                }

              </div>
            </div>
          </div>
        </li>
      } @empty {
        @if (loadingMembers) {
          <li class="list-group-item">
            <div class="spinner-border text-secondary" role="status">
              <span class="visually-hidden">{{t('loading')}}</span>
            </div>
          </li>
        } @else {
          <li class="list-group-item">
            {{t('no-data')}}
          </li>
        }
      }
    </ul>
  </div>
</ng-container>
