@import '../../../theme/variables';

.presence {
    font-size: 12px;
    color: var(--primary-color);
}

.user-info > div {
    margin-top: 3px;
}

.highlight {
  color: var(--primary-color);
}

.pending-badge {
  font-size: 12px;
}

.custom-position {
  right: 15px;
  top: -42px;
}

.member-name {
  word-break: keep-all;
  margin: 0;
}

.actions {
  min-width: 152px;
}

.list-group-item:nth-child(even) {
  background-color: var(--elevation-layer1);
}

.table {
  @media (max-width: $grid-breakpoints-lg) {
    overflow-x: auto;
    width: 100% !important;
    display: block;
  }
  .btn-container {
    @media (max-width: $grid-breakpoints-lg) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .btn {
      width: 32px;
    }
  }
}

