@use '../../../theme/variables' as theme;

.presence {
    font-size: 12px;
    color: var(--primary-color);
}

.user-info > div {
    margin-top: 3px;
}

.highlight {
  color: var(--primary-color);
}

.pending-badge {
  font-size: 12px;
}

.custom-position {
  right: 15px;
  top: -42px;
}

.member-name {
  word-break: keep-all;
  margin: 0;
}

.actions {
  min-width: 152px;
}

.list-group-item:nth-child(even) {
  background-color: var(--elevation-layer1);
}

