<div class="container-fluid" style="padding-top: 10px">
    <h2>{{header}}</h2>
    <div class="d-flex justify-content-center" *ngIf="pagination && items.length > 0">
        <ngb-pagination
            *ngIf="pagination.totalPages > 1"
            [(page)]="pagination.currentPage"
            [pageSize]="pagination.itemsPerPage"
            (pageChange)="onPageChange($event)"
            [rotate]="false" [ellipses]="false" [boundaryLinks]="true"
            [collectionSize]="pagination.totalItems"></ngb-pagination>
    </div>

    <div class="row no-gutters">
        <div class="col-auto" *ngFor="let item of items; trackBy:trackByIdentity; index as i">
            <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, idx: i }"></ng-container>
        </div>
        
        <p *ngIf="items.length === 0 && !isLoading">
            There is no data
        </p>
    </div>

    

    <!-- TODO: Make this appear only if we have enough scroll-->
    <div class="d-flex justify-content-center" *ngIf="pagination && items.length > 0">
        <ngb-pagination
            *ngIf="pagination.totalPages > 1"
            [(page)]="pagination.currentPage"
            [pageSize]="pagination.itemsPerPage"
            (pageChange)="onPageChange($event)"
            [rotate]="false" [ellipses]="false" [boundaryLinks]="true"
            [collectionSize]="pagination.totalItems"></ngb-pagination>
    </div>
</div>

