

$image-height: 230px;
$image-width: 160px;

.error-banner {
    width: $image-width;
    height: 18px;
    background-color: var(--toast-error-bg-color);
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;

    position: absolute;
    top: 0px;
    right: 0px;
}

.card {
    max-width: $image-width;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    position: relative;
    color: var(--card-text-color);
    border: 1px var(--card-border-color);

}

.card-title {
    font-size: 13px;
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-top: 2px;
    margin-bottom: 0px;
}

.selected-highlight {
    outline: 2px solid var(--primary-color);
}


.img-top {
    height: $image-height;
}

.progress-banner {
    width: $image-width;
    height: 5px;

    .progress {
        color: var(--card-progress-bar-color);
        background-color: transparent;
    }
}

.download {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 25%;
    right: 30%;
}

.not-read-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 var(--card-progress-triangle-size) var(--card-progress-triangle-size) 0;
    border-color: transparent var(--primary-color) transparent transparent;
}


.bulk-mode {
    position: absolute;
    top: 5px;
    left: 5px;
    visibility: hidden;

    &.always-show {
        visibility: visible !important;
        width: $image-width;
        height: $image-height;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        color: var(--checkbox-bg-color);
    }
}

.overlay-information {
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 15px;
    padding: 0 10px;
    background-color: var(--card-bg-color);
}

.overlay {
    height: $image-height;

    
    
    &:hover {
        visibility: visible;

        .bulk-mode {
            visibility: visible;
            z-index: 110;
        }

        .overlay-item {
            visibility: visible;
            z-index: 100;
        }
    }
    
    .overlay-item {
        visibility: hidden;
    }
    
    z-index: 10;

    .count {
        top: 5px;
        right: 10px;
        position: absolute;
    }
}

.card-actions {
    position: absolute;
    top: 228px;
    right: 5px;
    width: 20px;
}

.card-body {
    padding: 5px !important;
    background-color: var(--card-bg-color);
    border-width: var(--card-border-width);
    border-style: var(--card-border-style);
    border-color: var(--card-border-color);
    border-radius: 0.25em;
}

.library {
    font-size: 13px;
    text-decoration: none;
    margin-top: 0px;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $image-height;
    z-index: 10;
    transition: all 0.2s;
}
