.card-body {
    padding: 5px;
}

.card {
    margin-left: 5px;
    margin-right: 5px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title-overflow {
    font-size: 13px;
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-top: 2px;
    margin-bottom: 0px;
}