.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100 - 57px);
    min-height: 289px;
    position: relative;
    width: 100vw;
    max-width: 100vw;


    &::before {
        content: "";
        background-image: url('../../../../assets/images/login-bg.jpg');
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.1;
        width: 100%;
    }

    .logo-container {
        .logo {
            display:inline-block;
            height: 50px;
        }
    }

    .card {
        background-color: var(--primary-color);
        color: #fff;
        min-width: 300px;
        max-width: 12rem;

        &:focus {
            border: 2px solid white;

        }


        .card-title {
            font-family: 'Spartan', sans-serif;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            width: 100%;
        }

        .card-text {
            font-family: "EBGaramond", "Helvetica Neue", sans-serif;
        }
    }
}
