// DEBUG Only
.overlay {
    background-color: rgba(0,0,0,0.5);
}
.active {
    border: 2px solid red;
}

.full-opacity {
    opacity: 0;
}

.spacer {
    width: 100%;
    height: 300px;
    cursor: pointer;

    .animate {
        animation: move-up-down 1s linear infinite;
    }

    .text {
        z-index: 101;

    }

  .empty-space {
    height: 200px;
  }
}


img, .full-width {
    max-width: 100% !important;
    height: auto;
}

// This is to force hardware acceleration to help address https://github.com/Kareadita/Kavita/issues/1848
*:not(html) {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@keyframes move-up-down {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
}

.bookmark-effect {
    animation: infinite-scroll-bookmark 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes infinite-scroll-bookmark {
    0%, 100% {
        filter: opacity(1);
    }
    50% {
        filter: opacity(0.25);
    }
}
