body {
  --kng-primary-color: var(--primary-color);
  --kng-primary-color-dark-shade: var(--primary-color-dark-shade);
  --kng-primary-color-darker-shade: var(--primary-color-darker-shade);
  --kng-primary-color-darkest-shade: var(--primary-color-darkest-shade);
  --kng-error-color: var(--error-color);
  --kng-error-accent-color: var(--error-accent-color);
  --kng-warning-color: var(--warning-color);
  --kng-info-color: var(--info-color);
  --kng-success-color: var(--success-color);
  --kng-body-text-color: var(--body-text-color);
  --kng-text-muted-color: var(--text-muted-color);
  --kng-offwhite-text-color: var(--offwhite-text-color);
  --kng-white-text-color: var(--white-text-color);
  --kng-hr-color: var(--hr-color);
  --kng-btn-icon-filter: var(--btn-icon-filter);
  --kng-body-bg-color: var(--bs-body-bg);
  --kng-color-scheme: var(--color-scheme);
  --kng-elevation-layer0: var(--elevation-layer0);
  --kng-elevation-layer1: var(--elevation-layer1);
  --kng-elevation-layer2: var(--elevation-layer2);
  --kng-elevation-layer3: var(--elevation-layer3);
  --kng-elevation-layer4: var(--elevation-layer4);
  --kng-elevation-layer5: var(--elevation-layer5);
  --kng-elevation-layer6: var(--elevation-layer6);
  --kng-elevation-layer7: var(--elevation-layer7);
  --kng-elevation-layer8: var(--elevation-layer8);
  --kng-elevation-layer9: var(--elevation-layer9);
  --kng-elevation-layer10: var(--elevation-layer10);
  --kng-elevation-layer0-dark: var(--elevation-layer0-dark);
  --kng-elevation-layer1-dark: var(--elevation-layer1-dark);
  --kng-elevation-layer2-dark: var(--elevation-layer2-dark);
  --kng-elevation-layer3-dark: var(--elevation-layer3-dark);
  --kng-elevation-layer4-dark: var(--elevation-layer4-dark);
  --kng-elevation-layer5-dark: var(--elevation-layer5-dark);
  --kng-elevation-layer6-dark: var(--elevation-layer6-dark);
  --kng-elevation-layer7-dark: var(--elevation-layer7-dark);
  --kng-elevation-layer8-dark: var(--elevation-layer8-dark);
  --kng-elevation-layer9-dark: var(--elevation-layer9-dark);
  --kng-elevation-layer10-dark: var(--elevation-layer10-dark);
  --kng-elevation-layer11-dark: var(--elevation-layer11-dark);
  --kng-elevation-layer0-dark-solid: var(--elevation-layer0-dark-solid);
  --kng-elevation-layer1-dark-solid: var(--elevation-layer1-dark-solid);
  --kng-elevation-layer2-dark-solid: var(--elevation-layer2-dark-solid);
  --kng-elevation-layer3-dark-solid: var(--elevation-layer3-dark-solid);
  --kng-elevation-layer4-dark-solid: var(--elevation-layer4-dark-solid);
  --kng-elevation-layer5-dark-solid: var(--elevation-layer5-dark-solid);
  --kng-elevation-layer6-dark-solid: var(--elevation-layer6-dark-solid);
  --kng-elevation-layer7-dark-solid: var(--elevation-layer7-dark-solid);
  --kng-elevation-layer8-dark-solid: var(--elevation-layer8-dark-solid);
  --kng-elevation-layer9-dark-solid: var(--elevation-layer9-dark-solid);
  --kng-input-bg-color: var(--input-bg-color);
  --kng-input-bg-readonly-color: var(--input-bg-readonly-color);
  --kng-input-focused-border-color: var(--input-focused-border-color);
  --kng-input-text-color: var(--input-text-color);
  --kng-input-placeholder-color: var(--input-placeholder-color);
  --kng-input-border-color: var(--input-border-color);
  --kng-input-focus-boxshadow-color: var(--input-focus-boxshadow-color);
  --kng-input-range-color: var(--input-range-color);
  --kng-input-range-active-color: var(--input-range-active-color);
  --kng-dropdown-icon-white: var(--dropdown-icon-white);
  --kng-dropdown-disabled-bg-color: var(--dropdown-disabled-bg-color);
  --kng-checkbox-bg-color: var(--checkbox-bg-color);
  --kng-checkbox-checked-bg-color: var(--checkbox-checked-bg-color);
  --kng-checkbox-border-color: var(--checkbox-border-color);
  --kng-checkbox-focus-border-color: var(--checkbox-focus-border-color);
  --kng-checkbox-focus-boxshadow-color: var(--checkbox-focus-boxshadow-color);
  --kng-radio-accent-color: var(--radio-accent-color);
  --kng-radio-hover-accent-color: var(--radio-hover-accent-color);
  --kng-radio-focus-boxshadow-color: var(--radio-focus-boxshadow-color);
  --kng-btn-focus-boxshadow-color: var(--btn-focus-boxshadow-color);
  --kng-btn-focus-ring-width: var(--btn-focus-ring-width);
  --kng-btn-fa-icon-color: var(--btn-fa-icon-color);
  --kng-btn-disabled-bg-color: var(--btn-disabled-bg-color);
  --kng-btn-disabled-text-color: var(--btn-disabled-text-color);
  --kng-btn-disabled-border-color: var(--btn-disabled-border-color);
  --kng-btn-actions-border-radius: var(--btn-actions-border-radius);
  --kng-btn-actions-hover-bg: var(--btn-actions-hover-bg);
  --kng-btn-primary-text-color: var(--btn-primary-text-color);
  --kng-btn-primary-bg-color: var(--btn-primary-bg-color);
  --kng-btn-primary-border-color: var(--btn-primary-border-color);
  --kng-btn-primary-hover-text-color: var(--btn-primary-hover-text-color);
  --kng-btn-primary-hover-bg-color: var(--btn-primary-hover-bg-color);
  --kng-btn-primary-hover-border-color: var(--btn-primary-hover-border-color);
  --kng-btn-outline-primary-text-color: var(--btn-outline-primary-text-color);
  --kng-btn-primary-text-text-color: var(--btn-primary-text-text-color);
  --kng-btn-primary-text-hover-color: var(--btn-primary-text-hover-color);
  --kng-btn-secondary-text-color: var(--btn-secondary-text-color);
  --kng-btn-secondary-bg-color: var(--btn-secondary-bg-color);
  --kng-btn-secondary-border-color: var(--btn-secondary-border-color);
  --kng-btn-secondary-font-weight: var(--btn-secondary-font-weight);
  --kng-btn-outline-secondary-text-color: var(--btn-outline-secondary-text-color);
  --kng-btn-secondary-text-text-color: var(--btn-secondary-text-text-color);
  --kng-btn-secondary-text-hover-color: var(--btn-secondary-text-hover-color);
  --kng-btn-alt-bg-color: var(--btn-alt-bg-color);
  --kng-btn-alt-border-color: var(--btn-alt-border-color);
  --kng-btn-alt-hover-bg-color: var(--btn-alt-hover-bg-color);
  --kng-btn-alt-focus-bg-color: var(--btn-alt-focus-bg-color);
  --kng-btn-alt-focus-boxshadow-color: var(--btn-alt-focus-boxshadow-color);
  --kng-btn-warning-text-color: var(--btn-warning-text-color);
  --kng-btn-warning-bg-color: var(--btn-warning-bg-color);
  --kng-btn-warning-border-color: var(--btn-warning-border-color);
  --kng-btn-warning-hover-text-color: var(--btn-warning-hover-text-color);
  --kng-btn-warning-hover-bg-color: var(--btn-warning-hover-bg-color);
  --kng-btn-warning-hover-border-color: var(--btn-warning-hover-border-color);
  --kng-btn-outline-warning-text-color: var(--btn-outline-warning-text-color);
  --kng-btn-warning-text-text-color: var(--btn-warning-text-text-color);
  --kng-btn-warning-text-hover-color: var(--btn-warning-text-hover-color);
  --kng-btn-danger-text-color: var(--btn-danger-text-color);
  --kng-btn-danger-bg-color: var(--btn-danger-bg-color);
  --kng-btn-danger-border-color: var(--btn-danger-border-color);
  --kng-btn-danger-hover-text-color: var(--btn-danger-hover-text-color);
  --kng-btn-danger-hover-bg-color: var(--btn-danger-hover-bg-color);
  --kng-btn-danger-hover-border-color: var(--btn-danger-hover-border-color);
  --kng-btn-outline-danger-text-color: var(--btn-outline-danger-text-color);
  --kng-btn-outline-danger-hover-text-color: var(--btn-outline-danger-hover-text-color);
  --kng-btn-danger-text-text-color: var(--btn-danger-text-text-color);
  --kng-btn-danger-text-hover-color: var(--btn-danger-text-hover-color);
  --kng-nav-link-text-color: var(--nav-link-text-color);
  --kng-nav-link-hover-text-color: var(--nav-link-hover-text-color);
  --kng-nav-link-active-text-color: var(--nav-link-active-text-color);
  --kng-nav-link-bg-color: var(--nav-link-bg-color);
  --kng-nav-tab-text-color: var(--nav-tab-text-color);
  --kng-nav-tab-bg-color: var(--nav-tab-bg-color);
  --kng-nav-tab-border-width: var(--nav-tab-border-width);
  --kng-nav-tab-active-text-color: var(--nav-tab-active-text-color);
  --kng-nav-tab-hover-text-color: var(--nav-tab-hover-text-color);
  --kng-nav-tab-hover-bg-color: var(--nav-tab-hover-bg-color);
  --kng-nav-tab-border-top: var(--nav-tab-border-top);
  --kng-nav-tab-border-left: var(--nav-tab-border-left);
  --kng-nav-tab-border-bottom: var(--nav-tab-border-bottom);
  --kng-nav-tab-border-right: var(--nav-tab-border-right);
  --kng-nav-tab-hover-border-top: var(--nav-tab-hover-border-top);
  --kng-nav-tab-hover-border-left: var(--nav-tab-hover-border-left);
  --kng-nav-tab-hover-border-bottom: var(--nav-tab-hover-border-bottom);
  --kng-nav-tab-hover-border-right: var(--nav-tab-hover-border-right);
  --kng-nav-tab-active-hover-bg-color: var(--nav-tab-active-hover-bg-color);
  --kng-navbar-bg-color: var(--navbar-bg-color);
  --kng-navbar-text-color: var(--navbar-text-color);
  --kng-navbar-fa-icon-color: var(--navbar-fa-icon-color);
  --kng-navbar-border-radius: var(--navbar-border-radius);
  --kng-dropdown-item-text-color: var(--dropdown-item-text-color);
  --kng-dropdown-item-bg-color: var(--dropdown-item-bg-color);
  --kng-dropdown-item-hover-text-color: var(--dropdown-item-hover-text-color);
  --kng-dropdown-item-hover-bg-color: var(--dropdown-item-hover-bg-color);
  --kng-modal-bg-color: var(--modal-bg-color);
  --kng-modal-body-bg-color: var(--modal-body-bg-color);
  --kng-modal-footer-bg-color: var(--modal-footer-bg-color);
  --kng-modal-footer-border-top-color: var(--modal-footer-border-top-color);
  --kng-drawer-bg-color: var(--drawer-bg-color);
  --kng-drawer-text-color: var(--drawer-text-color);
  --kng-popover-bg-color: var(--popover-bg-color);
  --kng-popover-border-color: var(--popover-border-color);
  --kng-popover-body-bg-color: var(--popover-body-bg-color);
  --kng-popover-body-text-color: var(--popover-body-text-color);
  --kng-popover-outerarrow-color: var(--popover-outerarrow-color);
  --kng-popover-arrow-color: var(--popover-arrow-color);
  --kng-tooltip-bg-color: var(--tooltip-bg-color);
  --kng-tooltip-outline-color: var(--tooltip-outline-color);
  --kng-tooltip-caret-color: var(--tooltip-caret-color);
  --kng-accordion-surface-bg-color: var(--accordion-surface-bg-color);
  --kng-accordion-header-text-color: var(--accordion-header-text-color);
  --kng-accordion-header-bg-color: var(--accordion-header-bg-color);
  --kng-accordion-header-collapsed-text-color: var(--accordion-header-collapsed-text-color);
  --kng-accordion-header-collapsed-bg-color: var(--accordion-header-collapsed-bg-color);
  --kng-accordion-body-text-color: var(--accordion-body-text-color);
  --kng-accordion-body-border-color: var(--accordion-body-border-color);
  --kng-accordion-active-body-bg-color: var(--accordion-active-body-bg-color);
  --kng-accordion-body-box-shadow: var(--accordion-body-box-shadow);
  --kng-accordion-button-focus-border-color: var(--accordion-button-focus-border-color);
  --kng-accordion-button-focus-box-shadow: var(--accordion-button-focus-box-shadow);
  --kng-accordion-hairline-color: var(--accordion-hairline-color);
  --kng-accordion-chevron-color: var(--accordion-chevron-color);
  --kng-accordion-chevron-hover-color: var(--accordion-chevron-hover-color);
  --kng-accordion-border-hover-color: var(--accordion-border-hover-color);
  --kng-accordion-radius: var(--accordion-radius);
  --kng-accordion-gap: var(--accordion-gap);
  --kng-list-group-item-text-color: var(--list-group-item-text-color);
  --kng-list-group-item-bg-color: var(--list-group-item-bg-color);
  --kng-list-group-hover-text-color: var(--list-group-hover-text-color);
  --kng-list-group-hover-bg-color: var(--list-group-hover-bg-color);
  --kng-list-group-active-border-color: var(--list-group-active-border-color);
  --kng-list-group-item-border-radius: var(--list-group-item-border-radius);
  --kng-list-group-item-border-width: var(--list-group-item-border-width);
  --kng-list-group-item-border-color: var(--list-group-item-border-color);
  --kng-list-group-item-border-style: var(--list-group-item-border-style);
  --kng-list-group-item-first-border-width: var(--list-group-item-first-border-width);
  --kng-list-group-item-last-border-width: var(--list-group-item-last-border-width);
  --kng-table-header-bg-color: var(--table-header-bg-color);
  --kng-table-header-text-color: var(--table-header-text-color);
  --kng-table-body-bg-color: var(--table-body-bg-color);
  --kng-table-body-text-color: var(--table-body-text-color);
  --kng-table-body-border: var(--table-body-border);
  --kng-table-body-striped-bg-color: var(--table-body-striped-bg-color);
  --kng-pagination-link-text-color: var(--pagination-link-text-color);
  --kng-pagination-link-bg-color: var(--pagination-link-bg-color);
  --kng-pagination-link-border-color: var(--pagination-link-border-color);
  --kng-pagination-link-hover-color: var(--pagination-link-hover-color);
  --kng-pagination-link-disabled-bg-color: var(--pagination-link-disabled-bg-color);
  --kng-pagination-active-link-text-color: var(--pagination-active-link-text-color);
  --kng-pagination-active-link-bg-color: var(--pagination-active-link-bg-color);
  --kng-pagination-active-link-border-color: var(--pagination-active-link-border-color);
  --kng-pagination-focus-border-color: var(--pagination-focus-border-color);
  --kng-progress-bg-color: var(--progress-bg-color);
  --kng-progress-bar-color: var(--progress-bar-color);
  --kng-progress-striped-animated-color: var(--progress-striped-animated-color);
  --kng-alert-text-color: var(--alert-text-color);
  --kng-alert-bg-color: var(--alert-bg-color);
  --kng-breadcrumb-bg-color: var(--breadcrumb-bg-color);
  --kng-breadcrumb-item-text-color: var(--breadcrumb-item-text-color);
  --kng-setting-header-text-color: var(--setting-header-text-color);
  --kng-setting-header-font-size: var(--setting-header-font-size);
  --kng-setting-header-font-weight: var(--setting-header-font-weight);
  --kng-setting-break-color: var(--setting-break-color);
  --kng-setting-mobile-breakpoint: var(--setting-mobile-breakpoint);
  --kng-setting-tablet-breakpoint: var(--setting-tablet-breakpoint);
}
