// All dark style overrides should live here

@use "./colors";


.bg-dark {

  h2, h4 {
      color: $dark-text-color;
  }

  a:not(.dark-exempt) {
    color: $dark-hover-color;
    > i {
      color: $dark-hover-color !important;
    }
  }

  hr {
    background-color: colors.$dark-form-border;
  }


  .accent {
    background-color: $dark-form-background !important;
    color: lightgray !important;
    box-shadow: inset 0px 0px 8px 1px $dark-form-background !important;
  }

  .text-muted {
    color: #d7d7d7 !important;
  }



  i.fa {
    color: $dark-icon-color;
  }
  

  .modal-content {
    color: $dark-text-color;
    background-color: $dark-bg-color;
  }

  .ngx-slider .ngx-slider-bubble {
      color: $dark-text-color !important;
  }

  .read-more-link {
    color: $dark-text-color !important;
  }

  .login {
    // TODO: Move logic stuff to component
    &::before {
      content: "";
      background-image: url('../assets/images/login-bg.jpg');
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0.05;
      width: 100%;
    }

    .card {
      background-color: $dark-primary-color !important;
    }

    input {
      color: #000;
    }
  }
}
