// All dark style overrides should live here

@use "./colors";


.bg-dark {

  a:not(.dark-exempt) {
    color: $dark-hover-color;
    > i {
      color: $dark-hover-color !important;
    }
  }

  hr {
    background-color: colors.$dark-form-border;
  }


  .accent {
    background-color: $dark-form-background !important;
    color: lightgray !important;
    box-shadow: inset 0px 0px 8px 1px $dark-form-background !important;
  }

  .text-muted {
    color: #d7d7d7 !important;
  }



  i.fa {
    color: $dark-icon-color;
  }


  .ngx-slider .ngx-slider-bubble {
    // Slider to be removed in future story this release (v0.5.2)
      color: $dark-text-color !important;
  }

}
