<button class="btn btn-primary" (click)="navService?.toggleDarkMode()">Toggle Dark mode</button>

<h2>Buttons</h2>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-secondary">secondary</button>
<button class="btn btn-outline-primary">outline primary</button>
<button class="btn btn-outline-secondary">outline secondary</button>
<button class="btn btn-link">btn link</button>
<button class="btn btn-icon">
    <i class="fa fa-angle-left"></i>&nbsp;Icon
</button>

<h2>Toastr</h2>

<button class="btn btn-primary" (click)="toastr.success('Test')">Success</button>
<button class="btn btn-danger" (click)="toastr.error('Test')">Error</button>
<button class="btn btn-secondary" (click)="toastr.warning('Test')">Warning</button>
<button class="btn btn-link" (click)="toastr.info('Test')">Info</button>

<h2>Inputs</h2>
<p>Inputs should always have  class="form-control" on them</p>
<label>Normal</label>
<input type="text" class="form-control">
<label>Readonly</label>
<input type="text" readonly class="form-control">
<label>Placeholder</label>
<input type="text" placeholder="Hello, I'm a placeholder" class="form-control">
<label>Disabled</label>
<input type="text" placeholder="Hello, I'm a placeholder" [disabled]="true" class="form-control">
