/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

@import '~swiper/swiper.scss';



@font-face {
  font-family: "EBGarmond";
  src: url(assets/fonts/EBGarmond/EBGaramond-VariableFont_wght.ttf) format("truetype");
}

.disabled, :disabled {
  cursor: not-allowed !important;
}


@include media-breakpoint-down(xs, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
    .phone-hidden {
      display: none;
    }
}

@include media-breakpoint-up(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)) {
    .not-phone-hidden {
      display: none;
    }
}

// Custom animation for ng-lazyload-image
img.ng-lazyloaded {
  animation: fadein .5s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Global Styles
button:disabled {
  cursor: not-allowed;
}



// TODO: Move the Plex theme into a separate file and copy how  https://bootswatch.com/darkly/ did it
html, body { height: 100%; }
body {
  margin: 0; 
  font-family: "EBGaramond", Roboto, "Helvetica Neue", sans-serif;
}
