:host {
  display: block;
}

.lock-btn:not(.lock-active) i {
  color: var(--bs-body-color);
}

.lock-active {
  > .input-group-text {
    background-color: var(--primary-color);
    color: white;
  }
}
