<h5>Scrobble Holds</h5>
<p>This is a user-managed list of Series that will not be scrobbled to upstream providers. You can remove a series at
  any time and the next Scrobble-able event (reading progress, rating, want to read status) will trigger events.</p>

<!--<div class="row g-0">-->
<!--  <div class="form-group">-->

<!--  </div>-->
<!--</div>-->
<div class="row g-0">
  <ul class="list-group mb-2">
    <li class="list-group-item" *ngFor="let hold of holds$ | async">
      <a class="btn-link" href="/library/{{hold.libraryId}}/series/{{hold.seriesId}}" target="_blank">{{hold.seriesName}}</a>
    </li>
  </ul>
</div>
