<ng-container *transloco="let t; read:'user-preferences'">
  @if (!opdsEnabled) {
    <div class="alert alert-warning" role="alert">{{t('clients-opds-alert')}}</div>
  }

  <p>{{t('clients-opds-description')}}</p>

  <app-api-key [tooltipText]="t('clients-api-key-tooltip')" [hideData]="true"></app-api-key>

  @if (opdsEnabled && opdsUrl) {
    <app-api-key [title]="t('clients-opds-url-tooltip')" [hideData]="true" [showRefresh]="false"
                 [transform]="makeUrl"></app-api-key>
  }

</ng-container>
