@if(isValid() && !mangaReaderService.shouldSplit(currentImage, pageSplit)) {
  <div class="image-container {{imageFitClass$ | async}} {{emulateBookClass()}}"
       [style.filter]="(darkness$ | async)  ?? '' | safeStyle" [style.height]="(imageContainerHeight$ | async)  ?? '' | safeStyle">
    @if(currentImage) {
      <img [attr.alt]="'Page ' + pageNum"
           tabindex="0" [style.outline]="'none'"
           [style.width]="widthOverride()"
           #image
           [src]="currentImage.src"
           id="image-1"
           class="{{imageFitClass$ | async}} {{readerModeClass$ | async}} {{showClickOverlayClass$ | async}}" />
    }
  </div>
}
