@if(isValid() && !mangaReaderService.shouldSplit(currentImage, pageSplit())) {
  <div class="image-container {{imageFitClass()}} {{emulateBookClass()}}"
       [style.filter]="darkness() | safeStyle" [style.height]="imageContainerHeight() | safeStyle">
    @if(currentImage) {
      <img [attr.alt]="'Page ' + pageNum()"
           tabindex="0" [style.outline]="'none'"
           [style.width]="widthOverride()"
           appImageZoom [zoomResetKey]="currentImage"
           #image
           [src]="currentImage.src"
           id="image-1"
           class="{{imageFitClass()}} {{readerModeClass()}} {{showClickOverlayClass()}}" />
    }
  </div>
}
