<ng-container *transloco="let t; read:'manage-devices'">

  <div class="position-relative">
    <button class="btn btn-primary-outline position-absolute custom-position" [disabled]="isReadOnly$" (click)="addDevice()">
      <i class="fa fa-plus" aria-hidden="true"></i><span class="phone-hidden ms-1">{{t('add')}}</span>
    </button>
  </div>

  <p>{{t('description')}}</p>

  <div class="float-end">

  </div>

  <table class="table table-striped table-sm scrollable">
    <thead>
    <tr>
      <th scope="col">
        {{t('name-label')}}
      </th>
      <th scope="col">
        {{t('email-label')}}
      </th>
      <th scope="col">
        {{t('platform-label')}}
      </th>
      <th scope="col">
        {{t('actions-header')}}
      </th>
    </tr>
    </thead>
    <tbody>
      @for(device of devices; track device.name + device.emailAddress + device.platform) {
        <tr>
          <td>{{ device.name }}</td>
          <td>{{ device.emailAddress }}</td>
          <td>{{ device.platform | devicePlatform }}</td>
          <td>
            <button class="btn btn-danger  me-2" (click)="deleteDevice(device)">
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span class="visually-hidden">{{t('delete')}}</span>
            </button>

            <button class="btn btn-primary" (click)="editDevice(device)">
              <i class="fa fa-pen" aria-hidden="true"></i>
              <span class="visually-hidden">{{t('edit')}}</span>
            </button>
          </td>
        </tr>
      } @empty {
        <tr><td colspan="4" style="text-align: center;">{{t('no-data')}}</td></tr>
      }
    </tbody>
  </table>

</ng-container>
