<ng-container *transloco="let t; read: 'related-tab'">
  @if (readingLists.length > 0) {
    <app-carousel-reel [items]="readingLists" [title]="t('reading-lists-title')">
      <ng-template #carouselItem let-item>
        <app-card-item [title]="item.title" [entity]="item"
                       [suppressLibraryLink]="true" [imageUrl]="imageService.getReadingListCoverImage(item.id)"
                       (clicked)="openReadingList(item)"></app-card-item>
      </ng-template>
    </app-carousel-reel>
  }
</ng-container>
