<div class="container-fluid">
    <div class="row g-0 mb-3">
        <app-top-reads-by-user></app-top-reads-by-user>
    </div>
    <div class="row g-0">
        <div class="col-md-6 col-sm-12">
            <app-release-year></app-release-year>
        </div>
        <div class="col-md-6 col-sm-12">
            <app-publication-status-stats></app-publication-status-stats>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-md-6 col-sm-12">
            <app-file-breakdown-stats></app-file-breakdown-stats>
        </div>
        <div class="col-md-6 col-sm-12">
            
        </div>
    </div>
    
</div>
