<ng-container *transloco="let t; prefix:'server-stats'">

  <div class="carousel-tabs-container mb-2 ms-md-2 me-md-2 w-auto">
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav nav-tabs" [destroyOnHide]="true">

      <li [ngbNavItem]="TabID.Stats">
        <a ngbNavLink>{{t(TabID.Stats)}}</a>
        <ng-template ngbNavContent>
          <app-server-stats-stats-tab />
        </ng-template>
      </li>

      <li [ngbNavItem]="TabID.Management">
        <a ngbNavLink>{{t(TabID.Management)}}</a>
        <ng-template ngbNavContent>
          <app-server-stats-mgmt-tab />
        </ng-template>
      </li>
    </ul>
  </div>


  <div [ngbNavOutlet]="nav" class="pt-2 m-2 ms-md-2 me-md-2 w-auto"></div>
</ng-container>
