<ng-container *transloco="let t;">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-11">
        <h6 class="section-title" id="email-card">
          @if(labelId) {
            <label class="reset-label" [for]="labelId">{{title}}</label>
          } @else {
            {{title}}
          }
          @if (titleExtraRef) {
            <ng-container [ngTemplateOutlet]="titleExtraRef"></ng-container>
          }
        </h6>
      </div>
      <div class="col-1">
        <button class="btn btn-text btn-sm" (click)="toggleEditMode()" [disabled]="!canEdit">{{isEditMode ? t('common.cancel') : t('common.edit')}}</button>
      </div>
    </div>


    @if (isEditMode) {
      <ng-container [ngTemplateOutlet]="valueEditRef"></ng-container>
    } @else {
      <span class="view-value"><ng-container [ngTemplateOutlet]="valueViewRef"></ng-container></span>
    }


    @if (subtitle) {
      <div class="text-muted mt-2">{{subtitle}}</div>
    }
  </div>
</ng-container>
