.text-muted {
  font-size: 0.9rem;

  a {
    color: var(--primary-color);
  }
}

.view-value {
  font-size: 18px;
  color: var(--primary-color);
  cursor: pointer;
}

//.setting-title.no-anim.edit:hover ~ .edit-btn {
//  opacity: 1;
//  transition: none;
//}
//
//.edit-btn {
//  opacity: 0;
//  transition: opacity 0.5s ease-out;
//  transition-delay: 0.5s;
//
//  &:hover {
//    opacity: 1;
//    transition: opacity 0.3s ease-out;
//  }
//}
//
//.setting-title.no-anim + .edit-btn,
//.setting-title.no-anim.edit:hover ~ .edit-btn {
//  transition: none !important;
//}
