<ng-container *transloco="let t; read: 'manage-library'">
  <div class="position-relative">
    <div class="position-absolute custom-position-2">
      <app-card-actionables [actions]="bulkActions" btnClass="btn-primary-outline ms-1" [label]="t('bulk-action-label')" [disabled]="bulkMode" (actionHandler)="handleBulkAction($event, null)">
      </app-card-actionables>
    </div>

    <button class="btn btn-primary-outline position-absolute custom-position" (click)="addLibrary()" [title]="t('add-library')">
      <i class="fa fa-plus" aria-hidden="true"></i><span class="phone-hidden ms-1">{{t('add-library')}}</span>
    </button>
  </div>

  @if (bulkMode && bulkAction === Action.CopySettings && sourceCopyToLibrary) {
   <div class="alert alert-warning">
     {{t('bulk-copy-to', {libraryName: sourceCopyToLibrary.name})}}
     <form [formGroup]="bulkForm">
       <div class="form-check form-switch">
         <input id="bulk-action-type" type="checkbox" class="form-check-input" formControlName="includeType" aria-describedby="include-type-help">
         <label class="form-check-label" for="bulk-action-type">{{t('include-type-label')}}</label>
         <i class="fa fa-info-circle ms-1" aria-hidden="true" placement="left" [ngbTooltip]="includeTypeTooltip" role="button" tabindex="0"></i>
         <ng-template #includeTypeTooltip>{{t('include-type-tooltip')}}</ng-template>
         <span class="visually-hidden" id="include-type-help"><ng-container [ngTemplateOutlet]="includeTypeTooltip"></ng-container></span>
       </div>
     </form>

     <div class="mt-2">
       <button class="btn btn-secondary" (click)="resetBulkMode()">{{t('cancel')}}</button>
       <button class="btn btn-primary ms-1" (click)="applyBulkAction()" [disabled]="!hasSomeSelected">{{t('apply')}}</button>
     </div>
   </div>
  }

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">
        <div class="form-check">
          <input id="select-all" type="checkbox" class="form-check-input"
                 [ngModel]="selectAll" (change)="toggleAll()" [indeterminate]="hasSomeSelected">
          <label for="select-all" class="form-check-label d-md-block d-none">{{t('select-all')}}</label>
        </div>
      </th>
      <th scope="col">{{t('name-header')}}</th>
      <th scope="col">{{t('type-title')}}</th>
      <th scope="col">{{t('shared-folders-title')}}</th>
      <th scope="col">{{t('last-scanned-title')}}</th>
      <th scope="col">{{t('actions-header')}}</th>
    </tr>
    </thead>
    <tbody>
      @for(library of libraries; track library.name + library.type + library.folders.length + library.lastScanned; let idx = $index) {
        <tr>
          <td>
            <div class="form-check">
              <input id="select-library-{{idx}}" type="checkbox" class="form-check-input"
                     [ngModel]="selections.isSelected(library)" (change)="handleSelection(library, idx)">
              <label for="select-library-{{idx}}" class="form-check-label visually-hidden">{{library.name}}</label>
            </div>
          </td>
          <td id="library--{{idx}}">
            <a [routerLink]="'/library/' + library.id">{{library.name}}</a>
          </td>
          <td>
            {{library.type | libraryType}}
          </td>
          <td>
            {{library.folders.length}}
          </td>
          <td>
            {{library.lastScanned | timeAgo | defaultDate}}
          </td>
          <td>
            <!-- On Mobile we want to use ... for each row -->
            @if (useActionables$ | async) {
              <app-card-actionables [actions]="actions" (actionHandler)="performAction($event, library)"></app-card-actionables>
            } @else {
              <button class="btn btn-secondary me-2 btn-sm" (click)="scanLibrary(library)" placement="top" [ngbTooltip]="t('scan-library')" [attr.aria-label]="t('scan-library')"><i class="fa fa-sync-alt" aria-hidden="true"></i></button>
              <button class="btn btn-danger me-2 btn-sm" [disabled]="deletionInProgress" (click)="deleteLibrary(library)"><i class="fa fa-trash" placement="top" [ngbTooltip]="t('delete-library')" [attr.aria-label]="t('delete-library-by-name', {name: library.name | sentenceCase})"></i></button>
              <button class="btn btn-primary btn-sm" (click)="editLibrary(library)"><i class="fa fa-pen" placement="top" [ngbTooltip]="t('edit-library')" [attr.aria-label]="t('edit-library-by-name', {name: library.name | sentenceCase})"></i></button>
            }
          </td>
        </tr>
      }
      @empty {
        @if (loading) {
          <tr><td colspan="4" style="text-align: center;"><app-loading [loading]="loading"></app-loading></td></tr>
        } @else {
          <tr><td colspan="4" style="text-align: center;">{{t('no-data')}}</td></tr>
        }
      }
    </tbody>
  </table>
</ng-container>
