<div class="card" style="width: 18rem;">
    <div class="overlay" (click)="handleClick()">
      <img class="card-img-top" [src]="isNullOrEmpty(imageUrl) ? placeholderImage : safeImage" alt="{{title}}">
      <div class="overlay-item card-actions">
        <ng-container *ngIf="actions.length > 0">
              <div ngbDropdown container="body" class="d-inline-block">
                <button class="btn" id="actions-{{title}}" ngbDropdownToggle (click)="preventClick($event)"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                <div ngbDropdownMenu attr.aria-labelledby="actions-{{title}}">
                  <button ngbDropdownItem *ngFor="let action of actions" (click)="performAction($event, action)">{{action.title}}</button>
                </div>
              </div>
        </ng-container>
      </div>
    </div>
    <div class="card-body text-center" *ngIf="title.length > 0 || actions.length > 0">
        <span class="card-title" (click)="handleClick()">
          {{title}}
        </span>
    </div>
</div>