$primary-color: #cc7b19;

.card {
    margin: 10px;
    // max-width: 130px;
    // max-height: 195px;
    max-width: 160px;
    cursor: pointer;
    //max-height: 320px;

    // 370 x 210 roughly
}

.card-title {
    margin-top: 5px;
    line-height: 20px;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 150px;
    height: 52px;
    padding-top: 10px;
}

.card-img-top {
    height: 230px;
}

.progress-banner {
    width: 160px;
    position: absolute;
    top: 230px;

    .progress {
        color: $primary-color;
        background-color: transparent;
    }
}

.overlay {
    height: 230px;
    &:hover {
        background-color: rgba(0, 0, 0, 0.4);
        visibility: visible;

        .overlay-item {
            visibility: visible;
        }
    }
    
    .overlay-item {
        visibility: hidden;
    }
    
    z-index: 10;
}

.card-actions {
    position: absolute;
    top: 195px;
    right: -5px;
}

.card-body {
    padding: 5px !important;
}

.dropdown-toggle:after {
    content: none !important;
}
