<div class="card">
    <div class="overlay" (click)="handleClick()">
      <img class="card-img-top" [src]="isNullOrEmpty(imageUrl) ? placeholderImage : safeImage" alt="{{title}}">
      <div class="progress-banner" *ngIf="read < total && total > 0 && read !== (total -1)">
        <p><ngb-progressbar type="warning" height="5px" [value]="read" [max]="total - 1"></ngb-progressbar></p>
      </div>
      <div class="not-read-badge" *ngIf="read === 0"></div>
      <div class="card-actions"> <!-- overlay-item  -->
        <ng-container *ngIf="actions.length > 0">
              <div ngbDropdown container="body" class="d-inline-block">
                <button class="btn" id="actions-{{title}}" ngbDropdownToggle (click)="preventClick($event)"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                <div ngbDropdownMenu attr.aria-labelledby="actions-{{title}}">
                  <button ngbDropdownItem *ngFor="let action of actions" (click)="performAction($event, action)">{{action.title}}</button>
                </div>
              </div>
        </ng-container>
      </div>
    </div>
    <div class="card-body text-center" *ngIf="title.length > 0 || actions.length > 0">
        <span class="card-title" placement="top" ngbTooltip="{{title}}" (click)="handleClick()" tabindex="0">
          {{title}}
        </span>
    </div>
</div>