.card {
    margin: 10px;
    // max-width: 130px;
    // max-height: 195px;
    max-width: 160px;
    max-height: 320px;

    // 370 x 210 roughly
}

.card-title {
    margin-top: 5px;
}

.card-body {
    padding: 5px !important;
}

.dropdown-toggle:after {
    content: none !important;
}