
.bs4-order-tracking {
    overflow: hidden;
    color: #878788;
    padding-left: 0;
    margin-top: 1.875rem
  }
  
  .bs4-order-tracking li {
    list-style-type: none;
    font-size: 1.0625rem;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #878788;
    text-align: center
  }
  
  .bs4-order-tracking li:first-child:before {
    margin-left: 0.9375rem !important;
    padding-left: 0.6875rem !important;
    text-align: left !important
  }
  
  .bs4-order-tracking li:last-child:before {
    margin-right: 0.3125rem !important;
    padding-right: 0.6875rem !important;
    text-align: right !important
  }
  
  .bs4-order-tracking li>div {
    color: #fff;
    width: 3.125rem;
    text-align: center;
    line-height: 3.125rem;
    display: block;
    font-size: 1.25rem;
    background: #878788;
    border-radius: 50%;
    margin: auto
  }
  
  .bs4-order-tracking li:after {
    content: '';
    width: 150%;
    height: 0.125rem;
    background: #878788;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 1.5625rem;
    z-index: -1
  }
  
  .bs4-order-tracking li:first-child:after {
    left: 50%
  }
  
  .bs4-order-tracking li:last-child:after {
    left: 0% !important;
    width: 0% !important
  }
  
  .bs4-order-tracking li.active {
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .bs4-order-tracking li.active>div {
    background: var(--primary-color);
  }
  
  .bs4-order-tracking li.active:after {
    background: var(--primary-color);
  }
  
  .card-timeline {
    z-index: 0
  }
