<ng-container *transloco="let t; prefix:'highlight-bar'">
  <div class="d-flex align-items-center" style="max-height: 47px; height: 47px;">
    @let collapsed = isCollapsed();
    <button
      type="button"
      style="max-height: 47px"
      class="btn btn-outline-primary"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!collapsed"
      aria-controls="highlight-bar"
    >
      <i class="fa-solid fa-palette" aria-hidden="true"></i>
      <i class="fa-solid fa-angles-right" aria-hidden="true"></i>
    </button>

    <div #collapse="ngbCollapse" [ngbCollapse]="collapsed" (ngbCollapseChange)="updateCollapse($event)" [horizontal]="true" style="max-width: 300px" id="highlight-bar">
      <div class="highlight-bar" style="max-height: 47px">
        @let activeSlot = selectedSlot();
        @if (activeSlot) {
          @for(slot of slots(); track slot.color; let index = $index) {
            <button class="btn btn-icon color" (click)="selectSlot(index, slot)">
              <div class="dot" [ngClass]="{'active': slot.slotNumber === selectedSlotIndex()}" [ngStyle]="{'background-color': slot.color | slotColor}"></div>
            </button>
          }
        }

      </div>
    </div>
  </div>



</ng-container>
