.btn-sm {
  padding: 0.25rem 0.5rem;
}

$dotSize: 30px;

.highlight-bar {
  background: var(--accordion-body-bg-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.highlight-bar-toggle {
  background: var(--accordion-body-bg-color);
  border-color: transparent;
  &.open {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.highlight-bar .btn.btn-icon {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;


  &.color {
    display: unset;
    width: auto;

    .dot {
      height: $dotSize;
      width: $dotSize;
      border-radius: 50%;
      margin: 0 auto;
    }

    .dot-add {
      i {
        color: var(--primary-color);
      }
      border: 2px solid var(--primary-color);

      &:hover {
        background-color: var(--primary-color);
        i {
          color: var(--secondary-color);
        }
      }
    }



  }
}

.active {
  border: 2px solid var(--primary-color);
}
