<ng-container *transloco="let t; prefix:'highlight-bar'">
  <div class="highlight-bar">
    @let activeSlot = selectedSlot();
    @if (activeSlot) {
      @for(slot of slots(); track slot.color; let index = $index) {
        <button class="btn btn-icon color" (click)="selectSlot(index, slot)">
          <div class="dot" [ngClass]="{'active': slot.slotNumber === selectedSlotIndex()}" [ngStyle]="{'background-color': slot.color | slotColor}"></div>
<!--          <div>{{slot.title}}</div>-->
        </button>
      }
    }

  </div>

</ng-container>
