<ng-container *transloco="let t; prefix: 'preferred-format'">

  <div class="stats-card card p-4">

    <h4 class="stats-title">{{t('title')}}</h4>

    @let mostReadFormatValue = mostReadFormat();
    @if (mostReadFormatValue) {
      <h6 class="stats-subtitle">{{t('sub-title', {name: userName(), format: mostReadFormat()})}}</h6>
    }

    <div style="height: 300px; width: 100%"
         appECharts
         [options]="options()"
         [ignoreFirstResize]="false"
    ></div>
  </div>

</ng-container>
